<div style="margin: 0;padding:1.5em 2em;" class="filterDialogContent">
    <h2 style="margin-bottom: .25em;">
        ${HeaderFilters}
    </h2>
    <div class="checkboxList">
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkStandardFilter videoStandard" data-filter="IsPlayed" />
            <span>${OptionPlayed}</span>
        </label>
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkStandardFilter videoStandard" data-filter="IsUnPlayed" />
            <span>${OptionUnplayed}</span>
        </label>
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkStandardFilter videoStandard" data-filter="IsResumable" />
            <span>${OptionResumable}</span>
        </label>
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkStandardFilter chkFavorite" data-filter="IsFavorite" />
            <span>${OptionFavorite}</span>
        </label>
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkStandardFilter chkLikes" data-filter="Likes" />
            <span>${OptionLikes}</span>
        </label>
        <label>
            <input type="checkbox" is="emby-checkbox" class="chkStandardFilter chkDislikes" data-filter="Dislikes" />
            <span>${OptionDislikes}</span>
        </label>
        <label class="episodeFilter hide">
            <input type="checkbox" is="emby-checkbox" id="chkSpecialEpisode" />
            <span>${OptionSpecialEpisode}</span>
        </label>
        <label class="episodeFilter hide">
            <input type="checkbox" is="emby-checkbox" id="chkMissingEpisode" />
            <span>${OptionMissingEpisode}</span>
        </label>
        <label class="episodeFilter hide">
            <input type="checkbox" is="emby-checkbox" id="chkFutureEpisode" />
            <span>${OptionUnairedEpisode}</span>
        </label>
    </div>
    <div class="seriesStatus hide">
        <br />
        <h2 style="margin-bottom: .25em;">
            ${HeaderStatus}
        </h2>
        <div class="checkboxList">
            <label>
                <input type="checkbox" is="emby-checkbox" class="chkStatus" data-filter="Continuing" />
                <span>${OptionContinuing}</span>
            </label>
            <label>
                <input type="checkbox" is="emby-checkbox" class="chkStatus" data-filter="Ended" />
                <span>${OptionEnded}</span>
            </label>
        </div>
    </div>
    <br />

    <div is="emby-collapse" title="${HeaderAirDays}" class="airdays hide">
        <div class="collapseContent">
            <div class="checkboxList">
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkSunday" data-filter="Sunday" />
                    <span>${OptionSunday}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkMonday" data-filter="Monday" />
                    <span>${OptionMonday}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkTuesday" data-filter="Tuesday" />
                    <span>${OptionTuesday}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkWednesday" data-filter="Wednesday" />
                    <span>${OptionWednesday}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkThursday" data-filter="Thursday" />
                    <span>${OptionThursday}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkFriday" data-filter="Friday" />
                    <span>${OptionFriday}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkAirDays" id="chkSaturday" data-filter="Saturday" />
                    <span>${OptionSaturday}</span>
                </label>
            </div>
        </div>
    </div>

    <div is="emby-collapse" title="${HeaderFeatures}" class="features hide">
        <div class="collapseContent">
            <div class="checkboxList">
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkFeatureFilter" id="chkSubtitle" />
                    <span>${OptionHasSubtitles}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkFeatureFilter" id="chkTrailer" />
                    <span>${OptionHasTrailer}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkFeatureFilter" id="chkSpecialFeature" />
                    <span>${OptionHasSpecialFeatures}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkFeatureFilter" id="chkThemeSong" />
                    <span>${OptionHasThemeSong}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkFeatureFilter" id="chkThemeVideo" />
                    <span>${OptionHasThemeVideo}</span>
                </label>
            </div>
        </div>
    </div>

    <!--<div class="players hide">
        <h2 style="margin-bottom: .25em;">
            ${HeaderNumberOfPlayers}
        </h2>
        <paper-radio-group class="playersRadioGroup" selected="all">
            <paper-radio-button class="radioPlayers" name="all">${OptionAnyNumberOfPlayers}</paper-radio-button>
            <paper-radio-button class="radioPlayers" name="2">${Option2Player}</paper-radio-button>
            <paper-radio-button class="radioPlayers" name="3">${Option3Player}</paper-radio-button>
            <paper-radio-button class="radioPlayers" name="4">${Option4Player}</paper-radio-button>
        </paper-radio-group>
    </div>-->

    <div is="emby-collapse" title="${HeaderGenres}" class="genreFilters hide">
        <div class="collapseContent filterOptions">
        </div>
    </div>

    <div is="emby-collapse" title="${HeaderParentalRatings}" class="officialRatingFilters hide">
        <div class="collapseContent filterOptions">
        </div>
    </div>

    <div is="emby-collapse" title="${HeaderTags}" class="tagFilters hide">
        <div class="collapseContent filterOptions">
        </div>
    </div>

    <div is="emby-collapse" title="${HeaderVideoTypes}" class="videoTypeFilters hide">
        <div class="collapseContent">
            <div class="checkboxList">
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkVideoTypeFilter chkBluray" data-filter="Bluray" />
                    <span>${OptionBluray}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkVideoTypeFilter chkDvd" data-filter="Dvd" />
                    <span>${OptionDvd}</span>
                </label>
                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkVideoTypeFilter chkIso" data-filter="Iso" />
                    <span>${OptionIso}</span>
                </label>

                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkHDFilter IsHD" />
                    <span>${OptionIsHD}</span>
                </label>

                <label>
                    <input type="checkbox" is="emby-checkbox" class="chkSDFilter IsHD" />
                    <span>${OptionIsSD}</span>
                </label>

                <label>
                    <input type="checkbox" is="emby-checkbox" class="chk3DFilter chk3D" />
                    <span>${Option3D}</span>
                </label>
            </div>
        </div>
    </div>

    <div is="emby-collapse" title="${HeaderYears}" class="yearFilters hide">
        <div class="collapseContent filterOptions">
        </div>
    </div>
</div>