.dynamicFilterDialog {
    position: fixed !important;
    top: 5% !important;
    bottom: 5% !important;
    left: 50%!important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
    max-height: none !important;
    max-width: none !important;
    width: 200px;
}

@media all and (min-height: 300px) {

    .dynamicFilterDialog {
        top: 10% !important;
        bottom: 10% !important;
    }
}

@media all and (min-width: 300px) {

    .dynamicFilterDialog {
        width: 240px;
        margin-left: -120px !important;
    }
}

@media all and (min-width: 400px) {

    .dynamicFilterDialog {
        width: 300px;
        margin-left: -150px !important;
    }
}

.filterDialog paper-radio-button {
    display: block;
    padding-left: 0;
}
