.dynamicFilterDialog {
    position: fixed !important;
    top: 5% !important;
    bottom: 5% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
    max-height: none !important;
    max-width: none !important;
}

@media all and (min-height: 600px) {

    .dynamicFilterDialog {
        top: 10% !important;
        bottom: 10% !important;
    }
}

@media all and (max-width: 400px) {

    .dynamicFilterDialog {
        width: auto;
        left: 10vw !important;
        right: 10vw !important;
        margin-left: 0 !important;
    }
}

@media all and (min-width: 400px) {

    .dynamicFilterDialog {
        width: 300px;
        margin-left: -150px !important;
        left: 50% !important;
    }
}