<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.2" targetFramework="portable-net45+win+wpa81+wp80" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="1.50.4" targetFramework="portable-net45+win+wpa81+wp80" developmentDependency="true" />
</packages>