<configuration>
  <dllmap dll="libwebp" target="./libwebp/linux/lib/libwebp.so" os="linux" wordsize="32"/>
  <dllmap dll="libwebp" target="./libwebp/linux/lib64/libwebp.so" os="linux" wordsize="64"/>
  <dllmap dll="libwebp" target="./libwebp/osx/libwebp.5.dylib" os="osx"/>
  <dllmap dll="libwebp" target="libwebp.so" os="linux" cpu="!x86,!x86_64"/>
</configuration>
