<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net45" />
  <package id="NLog" version="4.4.9" targetFramework="net46" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="net46" />
  <package id="SharpCompress" version="0.14.0" targetFramework="net46" />
  <package id="SimpleInjector" version="4.0.7" targetFramework="net46" />
  <package id="SQLitePCLRaw.core" version="1.1.5" targetFramework="net46" />
  <package id="SQLitePCLRaw.provider.sqlite3.net45" version="1.1.5" targetFramework="net46" />
</packages>