<configuration>
  <dllmap dll="sqlite3" target="./sqlite3/linux/lib/libsqlite3.so.0.8.6" os="linux" wordsize="32"/>
  <dllmap dll="sqlite3" target="./sqlite3/linux/lib64/libsqlite3.so.0.8.6" os="linux" wordsize="64"/>
  <dllmap dll="sqlite3" target="./sqlite3/mac/libsqlite3.0.dylib" os="osx"/>
  <dllmap dll="sqlite3" target="libsqlite3.so.0.8.6" os="linux" cpu="!x86,!x86_64"/>
</configuration>
