Source: jellyfin
Section: misc
Priority: optional
Maintainer: Jellyfin Team <team@jellyfin.org>
Build-Depends:  debhelper (>= 9),
                dotnet-sdk-3.1,
                libc6-dev,
                libcurl4-openssl-dev,
                libfontconfig1-dev,
                libfreetype6-dev,
                libssl-dev,
                wget,
                npm | nodejs
Standards-Version: 3.9.4
Homepage: https://jellyfin.media/
Vcs-Git: https://github.org/jellyfin/jellyfin.git
Vcs-Browser: https://github.org/jellyfin/jellyfin

Package: jellyfin
Replaces: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Breaks: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Conflicts: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Architecture: any
Depends: at,
         libsqlite3-0,
         jellyfin-ffmpeg,
         libfontconfig1,
         libfreetype6,
         libssl1.1
Description: Jellyfin is a home media server.
 It is built on top of other popular open source technologies such as Service Stack, jQuery, jQuery mobile, and Mono. It features a REST-based api with built-in documentation to facilitate client development. We also have client libraries for our api to enable rapid development.
