[submodule "Emby.XmlTv"]
	path = Emby.XmlTv
	url = https://github.com/JustAMan/Emby.XmlTv.git
[submodule "ImageMagickSharp"]
	path = ImageMagickSharp
	url = https://github.com/JustAMan/ImageMagickSharp.git
[submodule "Emby.IsoMounting"]
	path = Emby.IsoMounting
	url = https://github.com/JustAMan/Emby.IsoMounting.git
