[submodule "ThirdParty/taglib-sharp"]
	path = ThirdParty/taglib-sharp
	url = https://github.com/mono/taglib-sharp.git
[submodule "MediaBrowser.WebDashboard/dashboard-ui/bower_components/emby-apiclient"]
	path = MediaBrowser.WebDashboard/dashboard-ui/bower_components/emby-apiclient
	url = https://github.com/jellyfin/jellyfin-apiclient-javascript.git
