# Ignore dist
dist/
stage/

# Ignore demo scss
demo/scss/

# Ignore grunt stuff
**/.sass-cache
**/.grunt
**/node_modules

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store