{
  "name": "@jellyfin/client-axios",
  "version": "10.7.0{{snapshotVersion}}",
  "description": "Jellyfin api client using axios",
  "author": "Jellyfin Contributors",
  "keywords": [
    "axios",
    "typescript",
    "jellyfin"
  ],
  "license": "GPL-3.0-only",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts": {
    "build": "tsc --outDir dist/",
    "prepublishOnly": "npm run build"
  },
  "dependencies": {
    "axios": "^0.19.2"
  },
  "devDependencies": {
    "@types/node": "^12.11.5",
    "typescript": "^3.6.4"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{npmRepository}}"
  }
{{/npmRepository}}
}
