<h1>${HeaderSettings}</h1>
<div class="checkboxContainer checkboxContainer-withDescription chkEnableInternetProvidersContainer hide">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkEnableInternetProviders" />
        <span>${LabelDownloadInternetMetadata}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelDownloadInternetMetadataHelp}</div>
</div>
<div class="checkboxContainer checkboxContainer-withDescription chkSaveLocalContainer hide">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkSaveLocal" />
        <span>${LabelSaveLocalMetadata}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelSaveLocalMetadataHelp}</div>
</div>
<div class="checkboxContainer checkboxContainer-withDescription chkEnablePhotosContainer">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnablePhotos" checked />
        <span>${EnablePhotos}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${EnablePhotosHelp}</div>
</div>
<div class="checkboxContainer checkboxContainer-withDescription">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnableRealtimeMonitor" />
        <span>${LabelEnableRealtimeMonitor}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelEnableRealtimeMonitorHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription hide chkDownloadImagesInAdvanceContainer">
    <label>
        <input is="emby-checkbox" type="checkbox" id="chkDownloadImagesInAdvance" />
        <span>${OptionDownloadImagesInAdvance}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${OptionDownloadImagesInAdvanceHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription fldExtractChapterImages hide">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkExtractChapterImages" />
        <span>${OptionExtractChapterImage}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${ExtractChapterImagesHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription fldExtractChaptersDuringLibraryScan hide">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkExtractChaptersDuringLibraryScan" />
        <span>${LabelExtractChaptersDuringLibraryScan}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelExtractChaptersDuringLibraryScanHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription chkArhiveAsMediaContainer hide">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkArhiveAsMedia" />
        <span>${OptionDetectArchiveFilesAsMedia}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${OptionDetectArchiveFilesAsMediaHelp}</div>
</div>
