<h1>${HeaderSettings}</h1>
<div class="checkboxContainer checkboxContainer-withDescription chkEnablePhotosContainer">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnablePhotos" checked />
        <span>${EnablePhotos}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${EnablePhotosHelp}</div>
</div>
<div class="checkboxContainer checkboxContainer-withDescription">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkEnableRealtimeMonitor" />
        <span>${LabelEnableRealtimeMonitor}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${LabelEnableRealtimeMonitorHelp}</div>
</div>

<div class="checkboxContainer checkboxContainer-withDescription chkArhiveAsMediaContainer">
    <label>
        <input type="checkbox" is="emby-checkbox" class="chkArhiveAsMedia" />
        <span>${OptionDetectArchiveFilesAsMedia}</span>
    </label>
    <div class="fieldDescription checkboxFieldDescription">${OptionDetectArchiveFilesAsMediaHelp}</div>
</div>
