<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>appicon</string>
	<key>CFBundleIdentifier</key>
	<string>com.emby.server</string>
	<key>CFBundleName</key>
	<string>Media Browser</string>
	<key>CFBundleShortVersionString</key>
	<string>3</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>LSMultipleInstancesProhibited</key>
	<string>1</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>CFBundleDisplayName</key>
	<string>Emby</string>
</dict>
</plist>
