<div class="dialogHeader" style="margin:0 0 2em;">
    <button is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1">
        <i class="md-icon">arrow_back</i>
    </button>
    <div class="dialogHeaderTitle">
        ${ButtonEdit}
    </div>
</div>

<form class="popupEditPersonForm" style="max-width: none;margin:0;">

    <div class="inputContainer">
        <input type="text" is="emby-input" class="txtPersonName" required="required" label="${LabelName}" />
    </div>

    <div class="selectContainer">
        <select is="emby-select" id="selectPersonType" class="selectPersonType" label="${LabelType}">
            <option value=""></option>
            <option value="Actor">${OptionActor}</option>
            <option value="Composer">${OptionComposer}</option>
            <option value="Director">${OptionDirector}</option>
            <option value="GuestStar">${OptionGuestStar}</option>
            <option value="Producer">${OptionProducer}</option>
            <option value="Writer">${OptionWriter}</option>
        </select>
    </div>
    <div class="inputContainer">
        <input is="emby-input" type="text" class="txtPersonRole" label="${LabelPersonRole}" />
        <div class="fieldDescription">${LabelPersonRoleHelp}</div>
    </div>
    <button is="emby-button" type="submit" class="raised submit block">
        <i class="md-icon">check</i>
        <span>${ButtonOk}</span>
    </button>
</form>