<div class="dialogHeader">
    <paper-icon-button icon="arrow-back" class="btnCancel" tabindex="-1"></paper-icon-button>
    <div class="dialogHeaderTitle">
        ${HeaderNewRecording}
    </div>
</div>

<form class="liveTvNewRecordingForm" style="margin: 0 auto;">

    <div style="text-align: right; display: flex; justify-content: flex-end;">
        <paper-toggle-button class="chkAdvanced">${ButtonAdvanced}</paper-toggle-button>
    </div>

    <p><span class="itemName inlineItemName"></span></p>
    <p class="itemEpisodeName"></p>
    <p class="itemMiscInfo"></p>

    <div style="display: none;" id="eligibleForSeriesFields">
        <br />
        <div>
            <paper-checkbox id="chkRecordSeries">${OptionRecordSeries}</paper-checkbox>
        </div>
        <br />

        <div id="seriesFields" class="hide">
            <div>
                <h1>${HeaderDays}</h1>
            </div>
            <div class="paperCheckboxList">
                <paper-checkbox id="chkSunday">${OptionSunday}</paper-checkbox>
                <paper-checkbox id="chkMonday">${OptionMonday}</paper-checkbox>
                <paper-checkbox id="chkTuesday">${OptionTuesday}</paper-checkbox>
                <paper-checkbox id="chkWednesday">${OptionWednesday}</paper-checkbox>
                <paper-checkbox id="chkThursday">${OptionThursday}</paper-checkbox>
                <paper-checkbox id="chkFriday">${OptionFriday}</paper-checkbox>
                <paper-checkbox id="chkSaturday">${OptionSaturday}</paper-checkbox>
            </div>
            <div>
                <h1>${HeaderRepeatingOptions}</h1>
            </div>
            <div class="paperCheckboxList">
                <paper-checkbox id="chkNewOnly">${OptionRecordOnlyNewEpisodes}</paper-checkbox>
                <paper-checkbox id="chkAnyTime">${OptionRecordAnytime}</paper-checkbox>
                <paper-checkbox id="chkAllChannels">${OptionRecordOnAllChannels}</paper-checkbox>
            </div>
        </div>
    </div>
    <div class="convertRecordingsContainer hide">
        <br />
        <paper-checkbox id="chkConvertRecordings">${OptionConvertRecordingsToStreamingFormat}</paper-checkbox>
        <div class="fieldDescription paperCheckboxFieldDescription">${OptionConvertRecordingsToStreamingFormatHelp}</div>
        <div class="fieldDescription paperCheckboxFieldDescription btnSupporterForConverting hide"><a href="https://emby.media/premiere" target="_blank" class="accent">${FeatureRequiresEmbyPremiere}</a></div>
    </div>
    <br />
    <div class="advancedToggle hide">
        <div>
            <paper-input type="number" id="txtPrePaddingMinutes" pattern="[0-9]*" required="required" min="0" step="1" label="${LabelPrePaddingMinutes}"></paper-input>
        </div>
        <br />
        <div>
            <paper-input type="number" id="txtPostPaddingMinutes" pattern="[0-9]*" required="required" min="0" step="1" label="${LabelPostPaddingMinutes}"></paper-input>
        </div>
    </div>
    <br />
    <div>
        <div class="supporterContainer hide">
            <p>${MessageActiveSubscriptionRequiredSeriesRecordings}</p>
            <p class="supporterTrial hide">${HeaderEnjoyDayTrial}</p>
            <a class="clearLink btnSupporter hide" href="http://emby.media/premiere" target="_blank"><paper-button raised class="accent block"><iron-icon icon="check"></iron-icon><span>${HeaderBecomeProjectSupporter}</span></paper-button></a>
        </div>
        <button type="submit" data-role="none" class="clearButton btnSubmitContainer">
            <paper-button raised class="submit block" style="background:#cc3333;" autoFocus><iron-icon icon="videocam"></iron-icon><span>${ButtonRecord}</span></paper-button>
        </button>
    </div>
    <br />
    <br />
    <br />
</form>