<div class="dialogHeader" style="margin:0 0 2em;">
    <button is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1">
        <i class="md-icon">&#xE5C4;</i>
    </button>
    <div class="dialogHeaderTitle">
    </div>
</div>

<form class="popupIdentifyForm" style="margin:auto;">

    <p>${HeaderIdentifyItemHelp}</p>
    <div class="inputContainer">
        <input is="emby-input" type="text" id="txtLookupName" class="identifyField" data-lookup="Name" label="${LabelName}" />
    </div>
    <div class="fldLookupYear inputContainer">
        <input is="emby-input" type="number" id="txtLookupYear" class="identifyField" data-lookup="Year" pattern="[0-9]*" min="1800" label="${LabelYear}" />
    </div>

    <div class="identifyProviderIds">
    </div>

    <p>
        <button is="emby-button" type="submit" class="raised submit block">
            <i class="md-icon">search</i>
            <span>${ButtonSearch}</span>
        </button>
    </p>
</form>
<div class="identificationSearchResults hide" style="text-align: center;">

    <div class="identificationSearchResultList"></div>
</div>

<form class="identifyOptionsForm hide" style="margin:auto;">

    <div class="selectedSearchResult"></div>
    <br />
    <label class="checkboxContainer">
        <input type="checkbox" is="emby-checkbox" id="chkIdentifyReplaceImages" />
        <span>${OptionReplaceExistingImages}</span>
    </label>
    <button is="emby-button" type="submit" class="raised submit block">
        <i class="md-icon">check</i>
        <span>${ButtonSubmit}</span>
    </button>
</form>
