.viewMenuBar {
    background-color: #000;
}

.libraryViewNav {
    background-color: #161616;
    box-shadow: none;
    text-transform: lowercase;
    font-size: 220%;
}

    .libraryViewNav .mdl-tabs__tab {
        font-weight: 400 !important;
    }

.background-theme-b, .dialog.background-theme-b {
    background: #161616;
}

.libraryViewNav .mdl-tabs__tab.is-active {
    color: #52B54B !important;
}

    .libraryViewNav .mdl-tabs__tab.is-active:after {
        background-color: transparent !important;
    }

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 105px !important;
}

.pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 108px !important;
}
