<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.9.0.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.0.20823" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.0.20823" targetFramework="net45" />
  <package id="Rx-Linq" version="2.0.20823" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.9" targetFramework="net45" />
</packages>