<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack" version="3.9.37" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.37" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.37" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.37" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.37" targetFramework="net45" />
</packages>