.ui-body-b h1, .ui-body-b h2 {
    color: #FF9100;
}

.viewMenuBar, .halloweenInfoButton {
    color: #FF9100 !important;
}

.barsMenuButton {
    color: #FF9100 !important;
}

.libraryViewNav .ui-btn-active {
    border-bottom-color: #FF9100 !important;
    color: #FF9100 !important;
}

.button-submit, .button-accent {
    background: #FF9100 !important;
}

.channelTimeslotHeader, .timeslotHeader {
    background: #FF9100 !important;
}

.channelTimeslotHeader {
    border-right-color: #FF9100 !important;
}

.emby-tab-button-active, .ui-body-b .emby-tab-button-active {
    color: #FF9100 !important;
    border-color: #FF9100 !important;
}

.darkDrawer .sidebarLink.selectedSidebarLink, .darkDrawer .selectedMediaFolder {
    color: #FF9100 !important;
}

.visualCardBox-cardFooter {
    color: #FF9100;
}