<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emby.XmlTv" version="1.0.0.58" targetFramework="net46" />
  <package id="ini-parser" version="2.3.0" targetFramework="net45" />
  <package id="MediaBrowser.Naming" version="1.0.0.57" targetFramework="net46" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.1.0.0" targetFramework="net46" />
  <package id="Patterns.Logging" version="1.0.0.2" targetFramework="net45" />
  <package id="SocketHttpListener" version="1.0.0.40" targetFramework="net45" />
  <package id="UniversalDetector" version="1.0.1" targetFramework="net46" />
</packages>