<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonIO" version="1.0.0.9" targetFramework="net45" />
  <package id="Emby.XmlTv" version="1.0.0.56" targetFramework="net45" />
  <package id="ini-parser" version="2.3.0" targetFramework="net45" />
  <package id="Interfaces.IO" version="1.0.0.5" targetFramework="net45" />
  <package id="MediaBrowser.Naming" version="1.0.0.55" targetFramework="net45" />
  <package id="Mono.Nat" version="1.2.24.0" targetFramework="net45" />
  <package id="morelinq" version="1.4.0" targetFramework="net45" />
  <package id="Patterns.Logging" version="1.0.0.2" targetFramework="net45" />
  <package id="SimpleInjector" version="3.2.0" targetFramework="net45" />
  <package id="SocketHttpListener" version="1.0.0.39" targetFramework="net45" />
</packages>