<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alchemy" version="2.2.1" targetFramework="net45" />
  <package id="MediaBrowser.BdInfo" version="1.0.0.5" targetFramework="net45" />
  <package id="morelinq" version="1.0.16006" targetFramework="net45" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.Api.Swagger" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.Sqlite.Mono" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.43" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.43" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.70" targetFramework="net45" />
  <package id="System.Data.SQLite.x86" version="1.0.89.0" targetFramework="net45" />
</packages>