.voiceHelpContent {
    max-width: 600px;
    margin: auto;
}

.exampleCommands {
    font-size: 15px;
}

.exampleCommand {
    margin: 1em 0;
}

.exampleCommandText {
    padding-left: .25em;
}

.defaultVoiceHelp {
    margin-bottom: 2em;
}

.voiceInputContainer {
    margin: 1.5em 0;
}
