.touch-menu-la {
    width: 280px;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    will-change: transform;
    contain: layout style;
    display: flex;
    transition: transform ease-out 60ms, left ease-out 260ms;
    z-index: 1099;
}

    .touch-menu-la.open {
        box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
    }

    .touch-menu-la.transition {
        /*transition: transform 0.3s ease-out;*/
        transition: transform ease-out 260ms, left ease-out 260ms;
        /*transition: -webkit-transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s;
        transition: transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s;*/
    }

.scrollContainer {
    flex-grow: 1;
}

.tmla-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.0;
    z-index: 1098;
    transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

    .tmla-mask.backdrop {
        visibility: visible;
        opacity: 1;
    }
