.viewMenuBar, .libraryViewNav:not(.paperLibraryViewNav), paper-tabs {
    background-color: #101010;
}

    .viewMenuBar.semiTransparent {
        background-color: rgba(15, 15, 15, .50);
    }

.background-theme-b {
    background-color: #202020;
}

.backdropContainer .pageBackground {
    background-color: rgba(20, 20,20, .94) !important;
}

.defaultBackground .cardImage {
    background-color: #303030;
}

.ui-body-b .visualCardBox {
    background: rgba(56,56,56,.85);
}

.libraryViewNav a {
    font-weight: 500 !important;
}

paper-tab {
    font-weight: 500 !important;
}


.libraryViewNav .ui-btn-active {
    border-bottom-color: #52B54B !important;
}
