.viewMenuBar, .libraryViewNav:not(.paperLibraryViewNav), paper-tabs {
    background-color: #1b1b1b;
}

    .viewMenuBar.semiTransparent {
        background-color: rgba(27, 27, 27, .75);
    }

.background-theme-b {
    background-color: #242424;
}

.backdropContainer .pageBackground {
    background-color: rgba(20, 20,20, .94) !important;
}

.defaultBackground .cardImage {
    background-color: #383838;
}

.ui-page-theme-b .visualCardBox {
    background: rgba(56,56,56,.85);
}

.libraryViewNav a {
    font-weight: 500 !important;
}

paper-tab {
    font-weight: 500 !important;
}
