.viewMenuBar, .libraryViewNav:not(.paperLibraryViewNav), paper-tabs {
    background-color: #101010;
}

    .viewMenuBar.semiTransparent {
        background-color: rgba(15, 15, 15, .50);
    }

.background-theme-b {
    background: radial-gradient(circle, #282828, #141414) !important;
    background-attachment: fixed;
}

.backdropContainer .pageBackground {
    background-color: rgba(20, 20,20, .94) !important;
}

.defaultBackground .cardImage {
    background-color: #303030;
}

.ui-body-b .visualCardBox {
    background: rgba(56,56,56,.85);
}

.libraryViewNav {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

    .libraryViewNav a {
        font-weight: 500 !important;
    }

paper-tab {
    font-weight: 500 !important;
}
