html {
    font-family: Helvetica Neue;
    /* Setting it here will help prevent white flashes */
    background-color: #1c1c1c;
}

html, body {
    font-family: Helvetica Neue;
}


.viewMenuBar, .libraryViewNav, paper-tabs {
    background-color: rgba(28,28,28,.97);
}

.backdropPage.ui-page-theme-b {
    background-color: rgba(28,28,28,.92) !important;
}

.ui-page-theme-b {
    background-color: #1c1c1c;
}

.libraryViewNav a {
    font-weight: 400;
    text-transform: none;
    color: #ccc !important;
    padding: 12px 13px 8px;
}

.libraryViewNav .tab-content {
    display: block !important;
}

.libraryViewNav paper-tab {
    height: auto !important;
}

.libraryViewNav iron-icon {
    width: 22px;
    height: 22px;
    display: block;
    margin: -4px auto 6px;
}

.libraryViewNav #selectionBar {
    background-color: transparent !important;
}

@media all and (max-width: 600px) {

    .libraryViewNav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.libraryViewNav a {
    border-bottom: 0;
}

.libraryViewNav .ui-btn-active, .libraryViewNav .iron-selected {
    color: #539FFD !important;
}

.libraryViewNav {
    border-top: 1px solid #333 !important;
}

.libraryViewNav, paper-tabs {
    font-size: 12px;
}

.viewMenuBar {
    border-bottom: 1px solid #333;
}

.barsMenuButton .fa {
    color: #539FFD !important;
}

.pageTitle {
    font-family: Helvetica Neue;
}

.ui-btn {
    font-family: Helvetica Neue;
}

.ui-loader h1 {
    font-family: Helvetica Neue;
}

h1, h1 a {
    font-weight: 400 !important;
}

.btnNotificationsInner {
    font-weight: 400;
}

.channelList {
    font-weight: 400;
}

.channelHeaderCellInner {
    font-weight: 400;
}

.libraryMenuButtonText {
    font-weight: 500 !important;
    position: relative;
    top: 2px;
}

.libraryPanelHeader span {
    font-weight: 400;
}

paper-tab {
    text-transform: none !important;
}

.visualCardBox {
    background: none !important;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .visualCardBox .outerCardFooter {
        padding: 0;
    }


.viewMenuSearch {
    background: #1c1c1c;
}

.libraryMenuButtonText {
    position: absolute;
    left: 100px;
    right: 100px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto !important;
}

.btnActiveCast i {
    color: #539FFD !important;
}

.libraryViewNav a:not(.ui-btn-active):hover {
    color: #539FFD !important;
}

@media (min-width: 600px) {

    /* This needs a little extra space to account for the longer date format */
    .channelHeaderCell, .channelTimeslotHeader {
        width: 209px;
    }

    .programGrid, .timeslotHeaders {
        margin-left: 210px;
    }
}

.bottomFab {
    bottom: 70px !important;
}

.sidebarLinkText {
    font-weight: 400 !important;
}

#footer {
    /* Eliminate transparency to prevent clicks from passing through to the elements underneath */
    background-color: rgb(26,26,26);
}
