html, body, .ui-btn, .pageTitle {
    font-family: San Francisco, Helvetica Neue;
}

.background-theme-b {
    background-color: #1c1c1c;
}

.backdropContainer .pageBackground {
    background-color: rgba(28,28,28,.92) !important;
}


.viewMenuBar, .libraryViewNav, paper-tabs {
    background-color: rgba(28,28,28,.97);
}

    .viewMenuBar.semiTransparent {
        background-color: rgba(28, 28, 28, .8);
    }

    .libraryViewNav a {
        font-weight: 400;
        text-transform: none;
        color: #ccc !important;
        padding: 12px 13px 8px;
    }

    .libraryViewNav .tab-content {
        display: block !important;
    }

    .libraryViewNav paper-tabs {
        height: 58px !important;
        flex-grow: 0 !important;
    }

    .libraryViewNav paper-tab {
        height: auto !important;
        flex-grow: 0 !important;
    }

    .libraryViewNav iron-icon {
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 auto 6px;
    }

    .libraryViewNav paper-tabs iron-icon {
        margin: 6px auto 6px;
    }

    .libraryViewNav #selectionBar {
        background-color: transparent !important;
    }

    .libraryViewNav #tabsContainer {
        flex-grow: 0 !important;
    }

@media all and (max-width: 600px) {

    .libraryViewNav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.libraryViewNav a {
    border-bottom: 0;
}

    .libraryViewNav .ui-btn-active, .libraryViewNav .iron-selected, .barsMenuButton .fa, .btnActiveCast, .libraryViewNav a:not(.ui-btn-active):hover {
        color: #FF2D55 !important;
    }

.viewMenuBar .headerButtonLeft {
    color: #FF2D55 !important;
}

.channelTimeslotHeader {
    border-right-color: #FF2D55 !important;
}

.channelTimeslotHeader, .timeslotHeader {
    background: #FF2D55 !important;
}


.libraryViewNav {
    border-top: 1px solid #333 !important;
}

.libraryViewNav, paper-tabs {
    font-size: 12px;
}

.viewMenuBar {
    border-bottom: 1px solid #333;
}

h1, h1 a {
    font-weight: 400 !important;
}

.btnNotificationsInner {
    font-weight: 400;
}

.channelList {
    font-weight: 400;
}

.channelHeaderCellInner {
    font-weight: 400;
}

.libraryMenuButtonText {
    font-weight: 500 !important;
    position: relative;
    top: 2px;
}

.libraryPanelHeader span {
    font-weight: 400;
}

paper-tab {
    text-transform: none !important;
}

.visualCardBox {
    background: none !important;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .visualCardBox .outerCardFooter {
        padding: 0;
    }

.cardBox {
    margin: 5px;
}

.cardImage {
    border-radius: 10px;
}

.viewMenuSearch {
    background: #1c1c1c;
}

.libraryMenuButtonText {
    position: absolute;
    left: 100px;
    right: 100px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto !important;
}

@media (min-width: 600px) {

    /* This needs a little extra space to account for the longer date format */
    .channelHeaderCell, .channelTimeslotHeader {
        width: 209px;
    }

    .programGrid, .timeslotHeaders {
        margin-left: 210px;
    }
}

.bottomFab {
    bottom: 120px !important;
}

.sidebarLinkText {
    font-weight: 400 !important;
}

#footer {
    /* Eliminate transparency to prevent clicks from passing through to the elements underneath */
    background-color: rgb(26,26,26);
}
