html, body, .ui-btn, .pageTitle {
    font-family: San Francisco, Helvetica Neue;
}

.backdropContainer {
    /* This isn't implemented right and ends up looking terrible */
    background-attachment: initial;
}

.background-theme-b {
    background-color: #1c1c1c;
}

.backdropContainer .pageBackground {
    background-color: rgba(28,28,28,.92) !important;
}


.viewMenuBar, .libraryViewNav, paper-tabs {
    background-color: rgba(28,28,28,.97);
}

    .viewMenuBar.semiTransparent {
        background-color: rgba(28, 28, 28, .8);
    }

    .libraryViewNav a {
        font-weight: 400;
        text-transform: none;
        color: #ccc !important;
        padding: 12px 13px 8px;
    }

    .libraryViewNav .tab-content {
        display: block !important;
    }

    .libraryViewNav paper-tabs {
        height: 58px !important;
        flex-grow: 0 !important;
    }

    .libraryViewNav paper-tab {
        height: auto !important;
        flex-grow: 0 !important;
    }

    .libraryViewNav iron-icon {
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 auto 6px;
    }

    .libraryViewNav paper-tabs iron-icon {
        margin: 6px auto 6px;
    }

    .libraryViewNav #selectionBar {
        background-color: transparent !important;
    }

    .libraryViewNav #tabsContainer {
        flex-grow: 0 !important;
    }

@media all and (max-width: 600px) {

    .libraryViewNav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.libraryViewNav a {
    border-bottom: 0;
}

    .libraryViewNav .ui-btn-active, .libraryViewNav .iron-selected, .barsMenuButton .fa, .btnActiveCast, .libraryViewNav a:not(.ui-btn-active):hover {
        color: #FF2D55 !important;
    }

.viewMenuBar .headerButtonLeft {
    color: #FF2D55 !important;
}

.channelTimeslotHeader {
    border-right-color: #FF2D55 !important;
}

.channelTimeslotHeader, .timeslotHeader {
    background: #FF2D55 !important;
}


.libraryViewNav {
    border-top: 1px solid #333 !important;
}

.libraryViewNav, paper-tabs {
    font-size: 12px;
}

.viewMenuBar {
    border-bottom: 1px solid #333;
}

h1, h1 a {
    font-weight: 400 !important;
}

.btnNotificationsInner {
    font-weight: 400;
}

.channelList {
    font-weight: 400;
}

.channelHeaderCellInner {
    font-weight: 400;
}

.libraryMenuButtonText {
    font-weight: 500 !important;
    position: relative;
    top: 2px;
}

.libraryPanelHeader span {
    font-weight: 400;
}

paper-tab {
    text-transform: none !important;
}

.visualCardBox {
    background: none !important;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .visualCardBox .outerCardFooter {
        padding: 0;
    }

.cardBox {
    margin: 5px;
}

.cardImage {
    border-radius: 10px;
}

.viewMenuSearch {
    background: #1c1c1c;
}

.libraryMenuButtonText {
    position: absolute;
    left: 100px;
    right: 100px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto !important;
}

@media (min-width: 600px) {

    /* This needs a little extra space to account for the longer date format */
    .channelHeaderCell, .channelTimeslotHeader {
        width: 209px;
    }

    .programGrid, .timeslotHeaders {
        margin-left: 210px;
    }
}

.bottomFab {
    bottom: 120px !important;
}

.sidebarLinkText {
    font-weight: 400 !important;
}

#footer {
    /* Eliminate transparency to prevent clicks from passing through to the elements underneath */
    background-color: rgb(26,26,26);
}


/* Checkboxes */
input[type='checkbox'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 31px;
    width: 51px;
    position: relative;
    border-radius: 16px;
    cursor: pointer;
    outline: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    transition-duration: 600ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

.ui-body-a input[type='checkbox'] {
    background-color: #e5e5e5;
}

.ui-body-b input[type='checkbox'] {
    background-color: #1f1f1f;
}

input[type='checkbox']::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 27px;
    width: 47px;
    content: ' ';
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 16px;
    z-index: 1;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.ui-body-a input[type='checkbox']::before {
    background-color: #ffffff;
}

.ui-body-b input[type='checkbox']::before {
    background-color: #000;
}

input[type='checkbox']::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 27px;
    width: 27px;
    content: ' ';
    position: absolute;
    border-radius: 27px;
    background: #ffffff;
    z-index: 2;
    top: 2px;
    left: 2px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25), 0px 4px 11px 0px rgba(0, 0, 0, 0.08), -1px 3px 3px 0px rgba(0, 0, 0, 0.14);
    -webkit-transition: -webkit-transform 300ms, width 280ms;
    -moz-transition: -moz-transform 300ms, width 280ms;
    transition: transform 300ms, width 280ms;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(0.42, 0.8, 0.58, 1.2);
    -moz-transition-timing-function: cubic-bezier(0.42, 0.8, 0.58, 1.2);
    transition-timing-function: cubic-bezier(0.42, 0.8, 0.58, 1.2);
}

input[type='checkbox']:checked {
    background-color: #4CD964;
    background-image: -webkit-linear-gradient(-90deg, #4CD964 0%, #4dd865 100%);
    background-image: linear-gradient(-180deg,#4CD964 0%, #4dd865 100%);
}

    input[type='checkbox']:checked::after {
        -webkit-transform: translate3d(16px, 0, 0);
        -moz-transform: translate3d(16px, 0, 0);
        -ms-transform: translate3d(16px, 0, 0);
        -o-transform: translate3d(16px, 0, 0);
        transform: translate3d(16px, 0, 0);
        right: 18px;
        left: inherit;
    }

input[type='checkbox']:active::after {
    width: 35px;
}

input[type='checkbox']:checked::before, input[type='checkbox']:active::before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

input[type='checkbox']:disabled {
    opacity: 0.5;
    cursor: default;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

    input[type='checkbox']:disabled:active::before, input[type='checkbox']:disabled:active::after, input[type='checkbox']:disabled:checked:active::before, input[type='checkbox']:disabled:checked::before {
        width: 27px;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    input[type='checkbox']:disabled:active::before {
        height: 27px;
        width: 41px;
        -webkit-transform: translate3d(6px, 0, 0);
        -moz-transform: translate3d(6px, 0, 0);
        -ms-transform: translate3d(6px, 0, 0);
        -o-transform: translate3d(6px, 0, 0);
        transform: translate3d(6px, 0, 0);
    }

    input[type='checkbox']:disabled:checked:active::before {
        height: 27px;
        width: 27px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

.ui-body-a input[type='checkbox'] {
    background-color: #e5e5e5;
}

.ui-body-b input[type='checkbox'] {
    background-color: #151515;
}

.ui-body-a input[type='checkbox']::before {
    background-color: #ffffff;
}

.ui-body-b input[type='checkbox']::before {
    background-color: #000;
}

.ui-body-a input[type='checkbox']::after {
    background: #ffffff;
}

.ui-body-b input[type='checkbox']::after {
    background: #444;
}

input[type='checkbox']:checked {
    background-color: #4CD964;
    background-image: -webkit-linear-gradient(-90deg, #4CD964 0%, #4dd865 100%);
    background-image: linear-gradient(-180deg,#4CD964 0%, #4dd865 100%);
}
