.appfooter {
    background: #1c1c1c;
    /*background: #222326;*/
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    transition: transform 180ms linear;
}

    .appfooter.headroom--unpinned {
        transform: translateY(100%);
    }
