.appfooter {
    background: #1c1c1c;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
}

.appfooter-headroom {
    transition: transform 180ms linear;
}

.appfooter--pinned {
    transform: none;
}

.appfooter--unpinned {
    transform: translateY(100%);
}