.appfooter {
    background: #1c1c1c;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    bottom: 0;
    transition: transform 180ms linear;
    contain: layout style;
}

.appfooter-blurred {
    background: rgba(28,28,28,.92);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.appfooter.headroom--unpinned {
    transform: translateY(100%);
}
