<h1>Schedules Direct</h1>
<p class="createAccountHelp"></p>
<div style="font-size:16px;">
    <div style="display:inline-block;background-color:rgba(82,181,75,.8);color:#fff;padding:2px 10px;font-size:20px;border-radius:1000px;vertical-align:middle;">
        1
    </div>
    <div style="display:inline-block;vertical-align:middle;margin-left:5px;">
        ${GuideProviderLogin}
    </div>
</div>

<form class="formLogin">
    <!-- Terrible, but this hidden field prevents the yellow background in chrome -->
    <div style="height:0; overflow: hidden;"><input type="text" name="fakeusernameremembered" tabindex="-1" /><input type="password" name="fakepasswordremembered" tabindex="-1" /></div>
    <div>
        <br/>
        <div class="inputContainer">
            <input is="emby-input" class="txtUser" label="${LabelUsername}" required="required" autocomplete="off"/>
        </div>
        <div class="inputContainer">
            <input is="emby-input" class="txtPass" label="${LabelPassword}" required="required" autocomplete="off" type="password"/>
        </div>
        <div>
            <button is="emby-button" type="submit" class="raised button-submit block"><span>${ButtonSave}</span></button>
        </div>
    </div>
</form>
<br />
<br />
<br />
<div class="listingsSection hide">
    <div style="font-size:16px;">
        <div style="display:inline-block;background-color:rgba(82,181,75,.8);color:#fff;padding:2px 10px;font-size:20px;border-radius:1000px;vertical-align:middle;">
            2
        </div>
        <div style="display:inline-block;vertical-align:middle;margin-left:5px;">
            ${GuideProviderSelectListings}
        </div>
    </div>
    <form class="formListings">
        <div>
            <div class="selectContainer">
                <br />
                <select is="emby-select" id="selectCountry" data-mini="true" required="required" label="${LabelCountry}"></select>
            </div>
            <div class="inputContainer">
                <input is="emby-input" class="txtZipCode" label="${LabelZipCode}" required="required"/>
            </div>
            <div class="selectContainer">
                <select is="emby-select" id="selectListing" data-mini="true" required="required" label="${LabelLineup}"></select>
            </div>
            <div>
                <label class="checkboxContainer">
                    <input type="checkbox" is="emby-checkbox" class="chkAllTuners" />
                    <span>${OptionEnableForAllTuners}</span>
                </label>
                <div class="selectTunersSection hide">
                    <h3 class="checkboxListLabel">${HeaderTuners}</h3>
                    <div class="checkboxList paperList checkboxList-paperList tunerList">
                    </div>
                </div>
            </div>
            <br />
            <div>
                <button is="emby-button" type="submit" class="raised button-submit block btnSubmitListingsContainer btnSubmitListings hide"><span>${ButtonSave}</span></button>
                <button is="emby-button" type="button" class="raised button-cancel block btnCancel hide" onclick="history.back();"><span>${ButtonCancel}</span></button>
            </div>
        </div>
    </form>
</div>