<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="morelinq" version="1.0.15631-beta" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.40" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.40" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.41" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.40" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.40" targetFramework="net45" />
</packages>