<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.4.3" targetFramework="net462" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="net462" />
  <package id="SharpCompress" version="0.14.0" targetFramework="net462" />
  <package id="SimpleInjector" version="4.0.7" targetFramework="net462" />
</packages>