Source: jellyfin
Section: misc
Priority: optional
Maintainer: Vasily <just.one.man@yandex.ru>
Build-Depends:  debhelper (>= 9),
                dotnet-sdk-2.1,
                libc6-dev
Standards-Version: 3.9.4

Package: jellyfin
Replaces: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Breaks: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Conflicts: mediabrowser, emby, emby-server-beta, jellyfin-dev, emby-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, at, libsqlite3-0, dotnet-runtime-2.1, ffmpeg
Description: Jellyfin is a home media server.
 It is built on top of other popular open source technologies such as Service Stack, jQuery, jQuery mobile, and Mono. It features a REST-based api with built-in documentation to facilitate client development. We also have client libraries for our api to enable rapid development.
