[Unit]
Description=Emby Media Server
After=network.target

[Service]
ExecStart=/usr/bin/emby-server start
Restart=on-abort
TimeoutSec=20
ExecStopPost=/usr/bin/emby-server clear

[Install]
WantedBy=multi-user.target
