[Unit]
Description=Jellyfin Media Server
After=network.target

[Service]
User=jellyfin
ExecStart=/usr/bin/dotnet /usr/lib/jellyfin/bin/EmbyServer.dll
Restart=on-abort
TimeoutSec=20

[Install]
WantedBy=multi-user.target
