#! /usr/bin/make -f
CONFIG := Release
TERM := xterm
SHELL := /bin/bash
export DH_VERBOSE=1
export DOTNET_CLI_TELEMETRY_OPTOUT=1

%:
	dh $@

# disable "make check"
override_dh_auto_test:

# disable stripping debugging symbols
override_dh_clistrip:

override_dh_auto_build:
	git submodule update --init
	dotnet build --configuration $(CONFIG) $(CURDIR)/MediaBrowser.sln --output='$(CURDIR)/usr/lib/jellyfin/bin'
	dotnet publish --configuration $(CONFIG) $(CURDIR)/MediaBrowser.sln --output='$(CURDIR)/usr/lib/jellyfin/bin'

override_dh_auto_clean:
	dotnet clean --configuration $(CONFIG) $(CURDIR)/MediaBrowser.sln || true
	rm -rf '$(CURDIR)/usr/lib/jellyfin'
