#! /usr/bin/make -f
CONFIG := Release
RUNTIME := linux-x64
TERM := xterm
SHELL := /bin/bash
export DH_VERBOSE=1

%:
	dh $@

# disable "make check"
override_dh_auto_test:

# disable stripping debugging symbols
override_dh_clistrip:

override_dh_auto_build:
	dotnet build --configuration $(CONFIG) --runtime $(RUNTIME) $(CURDIR)/MediaBrowser.sln

override_dh_auto_clean:
	dotnet clean --configuration $(CONFIG) --runtime $(RUNTIME) $(CURDIR)/MediaBrowser.sln
