<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonIO" version="1.0.0.9" targetFramework="net45" />
  <package id="ImageMagickSharp" version="1.0.0.18" targetFramework="net45" />
  <package id="Patterns.Logging" version="1.0.0.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net46" />
</packages>