<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.4.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="0.11.0.17-ALPHA" targetFramework="net45" />
  <package id="MediaBrowser.IsoMounting" version="3.0.56" targetFramework="net45" />
  <package id="NLog" version="2.0.1.2" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.62" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.62" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.44" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.44" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.62" targetFramework="net45" />
  <package id="SimpleInjector" version="2.3.5" targetFramework="net45" />
  <package id="System.Data.SQLite.x86" version="1.0.88.0" targetFramework="net45" />
</packages>