<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.4.0" targetFramework="net45" />
  <package id="MediaBrowser.IsoMounting" version="3.0.51" targetFramework="net45" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net45" />
  <package id="SimpleInjector" version="2.0.0-beta5" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.84.0" targetFramework="net45" />
</packages>