<div class="tvGuide">
    <div class="tvGuideHeader">
        <div class="channelTimeslotHeader">
            <div class="timeslotHeaderInner">
                <a class="btnSelectDate" href="#" style="display:block;padding-left:5px;color:#fff;text-decoration:none;font-weight:normal!important;padding:5px 10px 4px 0;font-size:13px;"><iron-icon icon="schedule" style="margin-right:3px;width:18px;height:18px;"></iron-icon><span class="currentDate" style="vertical-align: middle;"></span></a>
            </div>
        </div>
        <div class="timeslotHeaders smoothScrollX"></div>
    </div>
    <div class="programContainer">
        <div class="channelList"></div>
        <div class="programGrid smoothScrollX"></div>
    </div>
    <div class="channelPaging"></div>
</div>
<div class="guideRequiresUnlock readOnlyContent" style="margin:1em auto;text-align:center;display:none;padding:1em;">
    <p class="unlockText"></p>
    <paper-button raised class="secondary block btnUnlockGuide"><iron-icon icon="check"></iron-icon><span>${ButtonUnlockGuide}</span></paper-button>
</div>