<form class="uploadItemImageForm" style="max-width: 100%;">
    <h2>${HeaderAddUpdateImage}</h2>
    <div>
        <p>${LabelJpgPngOnly}</p>
        <input type="file" accept="image/*" id="uploadImage" name="uploadImage" />
        <br />
        <br />
        <div id="imageDropZone" class="imageDropZone">
            <h3>${LabelDropImageHere}</h3>
            <output id="imageOutput"></output>
        </div>
        <div id="fldUpload" style="display: none;">
            <br />
            <div>
                <label for="selectImageType">${LabelImageType}</label>
                <select id="selectImageType" name="selectImageType">
                    <option value="Primary">${OptionPrimary}</option>
                    <option value="Art">${OptionArt}</option>
                    <option value="Backdrop">${OptionBackdrop}</option>
                    <option value="Banner">${OptionBanner}</option>
                    <option value="Box">${OptionBox}</option>
                    <option value="BoxRear">${OptionBoxRear}</option>
                    <option value="Disc">${OptionDisc}</option>
                    <option value="Logo">${OptionLogo}</option>
                    <option value="Menu">${OptionMenu}</option>
                    <option value="Screenshot">${OptionScreenshot}</option>
                    <option value="Thumb">${OptionThumb}</option>
                </select>
            </div>
            <button is="emby-button" type="submit" class="raised submit block">
                <i class="md-icon">check</i>
                <span>${ButtonUpload}</span>
            </button>
        </div>
    </div>
</form>