<div class="formDialogHeader">
    <button type="button" is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1"><i class="md-icon">&#xE5C4;</i></button>
    <h3 class="formDialogHeaderTitle"></h3>
</div>

<div class="formDialogContent scrollY" style="padding-top:2em;">
    <div class="dialogContentInner dialog-content-centered">

        <div class="infoBanner" style="margin-bottom:1.8em;">
            ${ChangingMetadataImageSettingsNewContent}
        </div>

        <div class="inputContainer" style="text-align:right;">
            <label style="width:auto;">
                <input is="emby-toggle" type="checkbox" class="chkAdvanced noautofocus" />
                <span>${ShowAdvancedSettings}</span>
            </label>
        </div>

        <div class="folders hide">
            <div style="display: flex; align-items: center;">
                <h1 style="margin: .5em 0;">${HeadersFolders}</h1>
                <button is="emby-button" type="button" class="fab btnAddFolder submit" style="margin-left:1em;" title="${ButtonAdd}">
                    <i class="md-icon">add</i>
                </button>
            </div>
            <div class="paperList folderList" style="margin-bottom:2em;"></div>
        </div>
        <div class="libraryOptions"></div>
    </div>
</div>
