<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emby.XmlTv" version="1.0.6" targetFramework="portable45-net45+win8" />
  <package id="MediaBrowser.Naming" version="1.0.4" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCL.pretty" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.core" version="1.1.1" targetFramework="portable45-net45+win8" />
  <package id="UniversalDetector" version="1.0.1" targetFramework="portable45-net45+win8" />
</packages>