@* TODO Remove after testing *@

@page "/Test"
@inherits MediaBrowser.Controller.BlazorPages.BasePage

<h3>Test</h3>

<button @onclick="@AdminClick">Admin</button>
<button @onclick="@AuthClick">Auth</button>
<button @onclick="@TestClick">Test</button>

@code
{
    void AdminClick()
    {
        Navigate("Admin");
    }

    void AuthClick()
    {
        Navigate("Auth");
    }

    void TestClick()
    {
        Navigate("Test");
    }
}
