<div class="dialogHeader">
    <paper-icon-button icon="arrow-back" class="btnCancel" tabindex="-1"></paper-icon-button>
    <div class="dialogHeaderTitle">
        ${ButtonAddMediaLibrary}
    </div>
</div>

<form style="margin:auto;">
    <div id="fldCollectionType">
        <label for="selectCollectionType">${LabelContentType}</label>
        <select id="selectCollectionType" data-mini="true" required="required"></select>
        <div class="collectionTypeFieldDescription fieldDescription">
        </div>
    </div>
    <div>
        <paper-input type="text" id="txtValue" required="required" label="${LabelDisplayName}"></paper-input>
    </div>
    <br />
    <div>
        <h1 style="display:inline-block;vertical-align:middle;">${HeadersFolders}</h1>
        <paper-button raised class="btnAddFolder submit mini" style="margin-left:1em;" title="${ButtonAdd}">
            <iron-icon icon="add"></iron-icon>
            <span>${ButtonAdd}</span>
        </paper-button>
    </div>
    <div class="paperList folderList hide" style="padding: .7em 0;"></div>

    <br />
    <div>
        <button type="submit" class="clearButton" data-role="none">
            <paper-button raised class="submit block">
                <iron-icon icon="check"></iron-icon>
                <span>${ButtonOk}</span>
            </paper-button>
        </button>
    </div>
</form>