<div id="imagesContainer">
    <div>
        <h1 style="display:inline-block;vertical-align:middle;">${HeaderImages}</h1>
        <paper-fab icon="search" mini class="btnBrowseAllImages subdued" style="vertical-align:middle;margin-left:1em;"></paper-fab>
        <paper-fab icon="add" mini class="btnOpenUploadMenu subdued" style="vertical-align:middle;margin-left:.25em;"></paper-fab>
    </div>
    <div id="images">
    </div>
    <br />
</div>

<div id="backdropsContainer" style="display: none;">
    <div>
        <h1 style="display:inline-block;vertical-align:middle;">${HeaderBackdrops}</h1>
        <paper-fab icon="search" mini class="btnBrowseAllImages subdued" style="vertical-align:middle;margin-left:1em;" data-imagetype="Backdrop"></paper-fab>
        <paper-fab icon="add" mini class="btnOpenUploadMenu subdued" style="vertical-align:middle;margin-left:.25em;" data-imagetype="Backdrop"></paper-fab>
    </div>
    <div id="backdrops">
    </div>
    <br />
</div>

<div id="screenshotsContainer" style="display: none;">
    <div>
        <h1 style="display:inline-block;vertical-align:middle;">${Screenshots}</h1>
        <paper-fab icon="search" mini class="btnBrowseAllImages subdued" style="vertical-align:middle;margin-left:1em;" data-imagetype="Screenshot"></paper-fab>
        <paper-fab icon="add" mini class="btnOpenUploadMenu subdued" style="vertical-align:middle;margin-left:.25em;" data-imagetype="Screenshot"></paper-fab>
    </div>
    <div id="screenshots">
    </div>
</div>