<div id="imagesContainer">
    <div>
        <h1 style="display:inline-block;vertical-align:middle;">${HeaderImages}</h1>
        <paper-fab icon="search" class="btnBrowseAllImages mini subdued" style="vertical-align:middle;margin-left:1em;"></paper-fab>
        <paper-fab icon="add" class="btnOpenUploadMenu mini subdued" style="vertical-align:middle;margin-left:.25em;"></paper-fab>
    </div>
    <div id="images">
    </div>
    <br />
</div>

<div id="backdropsContainer" style="display: none;">
    <div>
        <h1 style="display:inline-block;vertical-align:middle;">${HeaderBackdrops}</h1>
        <paper-fab icon="search" class="btnBrowseAllImages mini subdued" style="vertical-align:middle;margin-left:1em;"></paper-fab>
        <paper-fab icon="add" class="btnOpenUploadMenu mini subdued" style="vertical-align:middle;margin-left:.25em;"></paper-fab>
    </div>
    <div id="backdrops">
    </div>
    <br />
</div>

<div id="screenshotsContainer" style="display: none;">
    <h1>${Screenshots}</h1>
    <div id="screenshots">
    </div>
</div>