<div id="imagesContainer">
    <div style="display: flex; align-items: center;margin:2em 0 .5em;">
        <h1 style="margin:0;">${HeaderImages}</h1>
        <button type="button" is="emby-button" class="btnBrowseAllImages fab mini autoSize" style="margin-left: 1em;">
            <i class="md-icon">search</i>
        </button>
        <button type="button" is="emby-button" class="btnOpenUploadMenu fab mini autoSize" style="margin-left: .5em;">
            <i class="md-icon">add</i>
        </button>
    </div>
    <div id="images">
    </div>
    <br />
</div>

<div id="backdropsContainer" class="hide">
    <div style="display: flex; align-items: center;margin:1em 0 .5em;">
        <h1 style="margin:0;">${HeaderBackdrops}</h1>
        <button type="button" is="emby-button" class="btnBrowseAllImages fab mini autoSize" style="margin-left: 1em;" data-imagetype="Backdrop">
            <i class="md-icon">search</i>
        </button>
        <button type="button" is="emby-button" class="btnOpenUploadMenu fab mini autoSize" style="margin-left: .5em;" data-imagetype="Backdrop">
            <i class="md-icon">add</i>
        </button>
    </div>
    <div id="backdrops">
    </div>
    <br />
</div>

<div id="screenshotsContainer" class="hide">
    <div style="display: flex; align-items: center;margin:1em 0 .5em;">
        <h1 style="margin:0;">${Screenshots}</h1>
        <button type="button" is="emby-button" class="btnBrowseAllImages fab mini autoSize" style="margin-left: 1em;" data-imagetype="Screenshot">
            <i class="md-icon">search</i>
        </button>
        <button type="button" is="emby-button" class="btnOpenUploadMenu fab mini autoSize" style="margin-left: .5em;" data-imagetype="Screenshot">
            <i class="md-icon">add</i>
        </button>
    </div>
    <div id="screenshots">
    </div>
</div>