<div class="dialogHeader" style="margin:0 0 2em;">
    <button is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1">
        <i class="md-icon">arrow_back</i>
    </button>
    <div class="dialogHeaderTitle">
        ${HeaderInviteUser}
    </div>
</div>

<form class="addUserForm" style="max-width: none;margin:0;">

    <div class="inputContainer">
        <input is="emby-input" type="text" id="txtConnectUsername" value="" label="${LabelConnectGuestUserName}" required />
        <div class="fieldDescription">
            <div>${LabelConnectGuestUserNameHelp}</div>
            <div style="margin-top: .25em;"><a href="http://emby.media/connect" target="_blank">${ButtonLearnMoreAboutEmbyConnect}</a></div>
        </div>
    </div>

    <br />

    <emby-collapsible title="${HeaderShareMediaFolders}">
        <div class="librarySharingList">

        </div>
    </emby-collapsible>
    <p class="fieldDescription" style="margin-top:.5em;">${MessageGuestSharingPermissionsHelp}</p>
    <br />
    <button is="emby-button" type="submit" class="raised submit block">
        <i class="md-icon">check</i>
        <span>${ButtonSendInvitation}</span>
    </button>
</form>