<div class="formDialogHeader">
    <button is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1"><i class="md-icon">&#xE5C4;</i></button>
    <h3 class="formDialogHeaderTitle">
        ${HeaderInviteUser}
    </h3>
</div>
<div class="formDialogContent smoothScrollY" style="padding-top:2em;">
    <div class="dialogContentInner dialog-content-centered">
        <form class="addUserForm" style="max-width: none;margin:0;">

            <div class="inputContainer">
                <input is="emby-input" type="text" id="txtConnectUsername" value="" label="${LabelConnectGuestUserName}" required />
                <div class="fieldDescription">
                    <div>${LabelConnectGuestUserNameHelp}</div>
                    <div style="margin-top: .25em;"><a href="http://emby.media/connect" target="_blank">${ButtonLearnMoreAboutEmbyConnect}</a></div>
                </div>
            </div>

            <h3 class="checkboxListLabel">${HeaderShareMediaFolders}</h3>
            <div class="librarySharingList checkboxList paperList checkboxList-paperList">

            </div>

            <p class="fieldDescription" style="margin-top:.5em;">${MessageGuestSharingPermissionsHelp}</p>
            <br />

            <div class="formDialogFooter">
                <button is="emby-button" type="submit" class="raised button-submit block formDialogFooterItem">
                    <span>${ButtonSendInvitation}</span>
                </button>
            </div>
        </form>
    </div>
</div>