.btnDefaultCast .btnCastImageActive {
    display: none;
}

.btnActiveCast .btnCastImageDefault {
    display: none;
}

.btnActiveCast i {
    color: #2ad !important;
}

.btnDisabledCast .btnCastImageActive {
    display: none;
}

.btnDisabledCast i {
    color: #555;
}

.headerSelectedPlayer {
    display: inline-block;
    vertical-align: middle;
    color: #ddd;
    font-size: 11px;
    margin-right: .5em;
    position: relative;
    top: 1px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btnCastIcon .headerSelectedPlayer {
    top: 0;
}

@media all and (max-width: 740px) {
    .headerSelectedPlayer {
        display: none;
    }
}
