.btnCastImage {
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 26px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.btnDefaultCast .btnCastImage {
    background-image: url(images/chromecast/ic_media_route_off_holo_dark.png);
}

.btnActiveCast .btnCastImage {
    background-image: url(images/chromecast/ic_media_route_on_holo_dark.png);
}

.btnDisabledCast .btnCastImage {
    background-image: url(images/chromecast/ic_media_route_disabled_holo_dark.png);
}

.headerSelectedPlayer {
    display: inline-block;
    vertical-align: middle;
    color: #ddd;
    font-size: 11px;
    margin-right: .5em;
    height: 100%;
    position: relative;
    top: -20px;
}

@media all and (max-width: 800px) {
    .headerSelectedPlayer {
        display: none;
    }
}