.btnActiveCast {
    color: #2ad !important;
}

.headerSelectedPlayer {
    display: inline-block;
    vertical-align: middle;
    color: #ddd;
    font-weight: 400;
    position: relative;
    top: 2px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 600px) {
    .headerSelectedPlayer {
        display: none;
    }
}
