.dashboardFooter {
    margin-top: 50px;
    text-align: center;
}

    .dashboardFooter a {
        text-decoration: none;
        font-weight: normal;
        margin: 0 .7em;
    }

    .dashboardFooter .appLinks a {
        margin: .25em;
    }

    .dashboardFooter .appLinks img {
        height: 16px;
    }

/*
 * Gradient Shadow
 */

/* All HTML5 progress enabled browsers */
progress {
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: solid #cccccc 2px;
    border-radius: 4px;
    margin: 0;
}

    /* Polyfill */
    progress[role]:after {
        background-image: none; /* removes default background from polyfill */
    }

/*
 * Background of the progress bar background
 */

/* Firefox and Polyfill */
progress {
    background: #cccccc !important; /* !important only needed in polyfill */
}

    /* Chrome */
    progress::-webkit-progress-bar {
        background: #cccccc;
    }

    /*
 * Background of the progress bar value
 */

    /* Firefox */
    progress::-moz-progress-bar {
        border-radius: 5px;
        background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

    /* Chrome */
    progress::-webkit-progress-value {
        border-radius: 5px;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
        background-image: -webkit-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

    /* Polyfill */
    progress[aria-valuenow]:before {
        border-radius: 5px;
        background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        background-image: -ms-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        background-image: -o-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

/* Tabs (e.g. advanced metadata page) */
.localnav {
    margin-bottom: 30px !important;
}

@media all and (min-width: 800px) {

    .type-interior > .ui-content, .type-interior > .ui-panel-content-wrap > .ui-content {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        overflow: hidden;
    }
}

.dashboardDocument .lnkMySync {
    display: none !important;
}

.dashboardDocument .dashboardEntryHeaderButton {
    display: none !important;
}

.dashboardDocument .lnkManageServer {
    display: none !important;
}

.dashboardDocument .headerVoiceButton {
    display: none !important;
}

.dashboardDocument .btnCast, .dashboardDocument .headerSelectedPlayer {
    display: none !important;
}

.adminDrawer {
    background: #fff !important;
}

.dashboardDocument .mainDrawerPanelContent {
    transition: left ease-in-out 0.3s, padding ease-in-out 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.adminDrawer {
    background: #fff !important;
}

.dashboardDocument .mainDrawerPanelContent {
    transition: left ease-in-out 0.3s, padding ease-in-out 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media all and (min-width: 640px) {

    .dashboardDocument .mainDrawer {
        z-index: inherit !important;
        top: 58px !important;
        left: 0 !important;
        transform: none !important;
    }

    .dashboardDocument .tmla-mask {
        display: none !important;
    }

    .dashboardDocument .mainDrawerButton {
        display: none !important;
    }

    .dashboardDocument .mainDrawerPanelContent {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 260px;
    }

    .dashboardDocument .adminDrawerLogo {
        display: none;
    }
}

.adminDrawer .sidebarLink {
    color: #333 !important;
    font-weight: 400 !important;
    padding: .7em 0 .7em 2em;
}

.adminDrawer .sidebarHeader {
    color: #666 !important;
    font-weight: 500 !important;
}

.adminDrawer .sidebarLinkIcon {
    color: #666;
    margin-right: 1em;
}

.adminDrawer .sidebarLink:hover {
    color: #00897B !important;
}

.adminDrawer .sidebarLink.selectedSidebarLink {
    background: #52B54B !important;
    color: #fff !important;
}

    .adminDrawer .sidebarLink.selectedSidebarLink .sidebarLinkIcon {
        color: #fff !important;
    }

.adminDrawerLogo {
    padding: 1.5em 1em 1.2em;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1em;
    display: block;
}

    .adminDrawerLogo img {
        height: 30px;
    }

@media all and (max-width: 640px) {

    .dashboardDocument .headerAppsButton {
        display: none;
    }
}

/* Links */
.ui-body-a a {
    color: #388E3C /*{a-link-color}*/;
    font-weight: 500;
}

div[data-role="controlgroup"] a[data-role='button'] {
    display: inline-block !important;
    margin: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0;
}

    div[data-role="controlgroup"] a[data-role='button']:first-child {
        border-bottom-left-radius: .3125em;
        border-top-left-radius: .3125em;
    }

    div[data-role="controlgroup"] a[data-role='button']:last-child {
        border-bottom-right-radius: .3125em;
        border-top-right-radius: .3125em;
    }

    div[data-role="controlgroup"] a[data-role='button'] + a[data-role='button'] {
        border-left-width: 0 !important;
        margin: 0 0 0 -3px !important;
    }

div[data-role="controlgroup"] a.ui-btn-active {
    background: #38c !important;
    color: #fff !important;
}

a[data-role='button'], .type-interior button:not([data-role='none']):not(.clearButton):not([is]) {
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    background-clip: padding-box;
    border-radius: .3125em;
    border: 1px solid #ddd !important;
    color: rgb(51, 51, 51) !important;
    cursor: pointer !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: 500 !important;
    margin: 0 .25em !important;
    display: inline-block;
    padding: .8em 1em;
    text-align: center;
    text-decoration: none !important;
    background: #f6f6f6 !important;
    font-size: 16px;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.15) /*{global-box-shadow-color}*/;
    -moz-box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.15) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.15) /*{global-box-shadow-color}*/;
}

    a[data-role='button'][data-iconpos='notext'], .type-interior button[data-iconpos='notext']:not([data-role='none']):not(.clearButton):not([is]) {
        padding: 4px;
        border-radius: 50px;
        outline: 0;
    }

    a[data-role='button']:not([data-inline='true']), .type-interior button:not([data-role='none']):not([data-inline='true']):not(.clearButton):not([is]) {
        display: block;
        margin: .5em 0 !important;
    }

.type-interior button:not([data-role='none']):not([data-inline='true']):not(.clearButton):not([is]) {
    width: 100%;
}

.type-interior h2 {
    color: #1B58B8;
}

.header .imageLink {
    display: inline-block;
}

    .header .imageLink img {
        height: 28px;
        vertical-align: middle;
    }

.ulForm {
    margin: -1em !important;
    margin-bottom: 20px !important;
}

    .ulForm li:not(.ui-li-divider) {
        background: none;
        border: 0 !important;
    }

.popup .ulForm {
    margin-bottom: 0 !important;
}

.content-primary {
    padding-top: 70px;
}

.withTabs .content-primary {
    padding-top: 115px;
}

.mainDrawerPanel:not([narrow]) .content-primary {
    padding-top: 90px;
    padding-bottom: 3em;
}

@media all and (min-width: 800px) {

    .mainDrawerPanel:not([narrow]) .content-primary {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }
}

@media all and (min-width: 1200px) {

    .mainDrawerPanel:not([narrow]) .content-primary {
        padding-left: 2em;
    }
}

.mainDrawerPanel:not([narrow]) .withTabs .content-primary {
    padding-top: 125px !important;
}

.mainDrawerPanel:not([narrow]) .content-primary ul:first-child {
    margin-top: 0;
}

@media all and (max-width: 1439px) {

    .dashboardHomeRightColumn {
        margin-top: 1em;
    }
}

.dashboardContent {
    margin-top: -10px;
}

.dashboardHomeRightColumn {
    vertical-align: top;
}

@media all and (min-width: 1440px) {

    .dashboardHomeLeftColumn {
        width: 600px;
        display: inline-block;
        vertical-align: top;
    }

    .dashboardHomeRightColumn {
        vertical-align: top;
    }

    .firstDashboardHomeRightColumn {
        display: inline-block;
        width: 440px;
        margin-left: 2em;
        min-width: 300px;
    }
}

@media all and (min-width: 1580px) {

    .dashboardHomeRightColumn {
        display: inline-block;
        margin-left: 1em;
        width: 300px;
        min-width: 300px;
    }
}

@media all and (min-width: 1680px) {

    .dashboardHomeRightColumn {
        width: 350px;
        min-width: 350px;
    }
}


@media all and (min-width: 1880px) {

    .dashboardHomeRightColumn {
        max-width: 440px;
        margin-left: 2em;
        min-width: 440px;
    }
}

.premiumBanner img {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.wizardContent {
    max-width: 800px;
    padding: .5em 2em 1em;
    margin: 0 auto;
    background: #fff;
}

.wizardNavigation {
    text-align: right;
}

.wizardContent form {
    max-width: 100%;
}

.wizardContent h2 img {
    height: 35px;
    vertical-align: middle;
    margin-right: .5em;
    position: relative;
    top: -3px;
}

.scheduledTaskPaperIconItem {
    outline: none !important;
}

@media all and (min-width: 420px) {

    .activeSession {
        width: 50% !important;
    }
}

.sessionNowPlayingContent {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sessionNowPlayingInnerContent {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-weight: 400;
}

.sessionAppInfo {
    padding: .5em;
    overflow: hidden;
}

.sessionAppName {
    vertical-align: top;
    max-width: 200px;
}

.sessionNowPlayingInfo {
    position: absolute;
    left: 0;
    bottom: 11px;
    padding: .5em;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sessionAppInfo img {
    max-width: 32px;
    max-height: 32px;
    margin-right: 5px;
}

.activeSession .playbackProgress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    width: 100%;
    opacity: .95;
}

.activeSession:not(.playingSession) .sessionNowPlayingContent {
    display: none;
}

.activeSession:not(.playingSession) .sessionNowPlayingInnerContent {
    background-color: #fff;
    color: #000;
}

.activeSession:not(.playingSession) .sessionNowPlayingInfo {
    bottom: 0;
}

.sessionNowPlayingTime {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 19px;
}

.sessionNowPlayingStreamInfo {
    white-space: nowrap;
    font-size: 90%;
}

.activeSession .transcodingProgress {
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    opacity: .9;
    z-index: 999;
    position: absolute;
}

/* All HTML5 progress enabled browsers */
.transcodingProgress, .playbackProgress {
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: 0;
    margin: 0;
    height: 14px;
    border: 0 solid #222;
    border-radius: 0;
    width: 50px;
    margin-right: 5px;
    background: #000 !important; /* !important only needed in polyfill */
}

    /* Chrome */
    .playbackProgress::-webkit-progress-bar, .transcodingProgress::-webkit-progress-bar {
        background: #000;
    }


.transcodingSession .playbackProgress {
    bottom: 5px;
}

/* Firefox */
.transcodingProgress::-moz-progress-bar {
    border-radius: 0;
    background-image: -moz-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
}

/* Chrome */
.transcodingProgress::-webkit-progress-value {
    border-radius: 0;
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(221, 73, 25)), color-stop(1, rgb(221, 73, 25)) ) !important;
    background-image: -webkit-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
}

/* Polyfill */
.transcodingProgress[aria-valuenow]:before {
    border-radius: 0;
    background-image: -moz-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
    background-image: -ms-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
    background-image: -o-linear-gradient( center bottom, rgb(221, 73, 25) 37%, rgb(221, 73, 25) 69% ) !important;
}

/* Firefox */
.playbackProgress::-moz-progress-bar {
    border-radius: 0;
    background-image: none;
    background-color: #52B54B;
}

/* Chrome */
.playbackProgress::-webkit-progress-value {
    border-radius: 0;
    background-image: none;
    background-color: #52B54B;
}

/* Polyfill */
.playbackProgress[aria-valuenow]:before {
    border-radius: 0;
    background-image: none;
    background-color: #52B54B;
}

@media all and (max-width: 550px) {

    .sessionAppName {
        max-width: 160px;
    }
}

@media all and (max-width: 500px) {

    .sessionAppName {
        max-width: 150px;
    }
}

.disabledUser {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.disabledUserBanner {
    margin: 0 0 2em;
}

.appLinks a {
    text-decoration: none !important;
}

    .appLinks a + a {
        margin-left: 5px;
    }

.appLinks img {
    height: 36px;
}

.supporterMembershipDisabled .tabSupporterMembership {
    display: none;
}
