/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

/* Bar: Toolbars, dividers, slider track */
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #e9e9e9 /*{a-bar-background-color}*/;
    border-color: #ddd /*{a-bar-border}*/;
    color: #333 /*{a-bar-color}*/;
    font-weight: bold;
}

.ui-bar-a {
    border-width: 1px;
    border-style: solid;
}

/* Page and overlay */
.ui-page-theme-a .ui-panel-wrapper {
    background-color: #f9f9f9 /*{a-page-background-color}*/;
    border-color: #bbb /*{a-page-border}*/;
    color: #333 /*{a-page-color}*/;
}

/* Body: Read-only lists, text inputs, collapsible content */
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {
    background-color: #fff /*{a-body-background-color}*/;
    border-color: #ddd /*{a-body-border}*/;
    color: #333 /*{a-body-color}*/;
}

/* Links */
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
    color: #388E3C /*{a-link-color}*/;
    font-weight: bold;
}

    .ui-page-theme-a a:visited,
    html .ui-bar-a a:visited,
    html .ui-body-a a:visited,
    html body .ui-group-theme-a a:visited {
        color: #388E3C /*{a-link-visited}*/;
    }

    .ui-page-theme-a a:hover,
    html .ui-bar-a a:hover,
    html .ui-body-a a:hover,
    html body .ui-group-theme-a a:hover {
        color: #1B5E20 /*{a-link-hover}*/;
    }

    .ui-page-theme-a a:active,
    html .ui-bar-a a:active,
    html .ui-body-a a:active,
    html body .ui-group-theme-a a:active {
        color: #1B5E20 /*{a-link-active}*/;
    }

/* Button up */
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
/* Button visited */
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited,
ul[data-role="listview"] a + a {
    background-color: #f6f6f6 /*{a-bup-background-color}*/;
    border-color: #ddd /*{a-bup-border}*/;
    color: #333 /*{a-bup-color}*/;
}
    /* Button hover */
    .ui-page-theme-a .ui-btn:hover,
    html .ui-bar-a .ui-btn:hover,
    html .ui-body-a .ui-btn:hover,
    html body .ui-group-theme-a .ui-btn:hover,
    html head + body .ui-btn.ui-btn-a:hover {
        background-color: #ededed /*{a-bhover-background-color}*/;
        border-color: #ddd /*{a-bhover-border}*/;
        color: #333 /*{a-bhover-color}*/;
    }
    /* Button down */
    .ui-page-theme-a .ui-btn:active,
    html .ui-bar-a .ui-btn:active,
    html .ui-body-a .ui-btn:active,
    html body .ui-group-theme-a .ui-btn:active,
    html head + body .ui-btn.ui-btn-a:active {
        background-color: #e8e8e8 /*{a-bdown-background-color}*/;
        border-color: #ddd /*{a-bdown-border}*/;
        color: #333 /*{a-bdown-color}*/;
    }

    /* Active button */
    .ui-page-theme-a .ui-btn.ui-btn-active,
    html .ui-bar-a .ui-btn.ui-btn-active,
    html .ui-body-a .ui-btn.ui-btn-active,
    html body .ui-group-theme-a .ui-btn.ui-btn-active,
    html head + body .ui-btn.ui-btn-a.ui-btn-active,
    /* Active checkbox icon */
    .ui-page-theme-a .ui-checkbox-on:after,
    html .ui-bar-a .ui-checkbox-on:after,
    html .ui-body-a .ui-checkbox-on:after,
    html body .ui-group-theme-a .ui-checkbox-on:after,
    .ui-btn.ui-checkbox-on.ui-btn-a:after {
        background-color: #3388cc /*{a-active-background-color}*/;
        border-color: #3388cc /*{a-active-border}*/;
        color: #fff /*{a-active-color}*/;
    }
/* Active radio button icon */
.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
    border-color: #3388cc /*{a-active-background-color}*/;
}

.jqmButtonNoText {
    padding: 3px 4px !important;
    border-radius: 4px !important;
    vertical-align: top;
}

.ui-listview li h3 {
    font-weight: 400;
}

.ui-listview > .ui-li-divider {
    line-height: 1.5;
    line-height: initial;
}
/* 
    Make all panels vertically scrollable 
    If this causes any problems then perhaps require a css class to activate
*/
.ui-panel.ui-panel-open {
    position: fixed;
}

/* Show over now playing bar */
.ui-panel-display-overlay {
    z-index: 1098;
}

.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.ui-slider-track.ui-mini .ui-slider-handle {
    height: 18px;
    width: 18px;
    margin: -10px 0 0 -10px;
}