.detailTableContainer {
    width: 100%;
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
}

.detailTable {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.stretchedDetailTable {
    width: 100%;
}

.detailTable a {
    text-decoration: none;
}

    .detailTable a:hover {
        text-decoration: underline;
    }

.detailTable td {
    border-spacing: 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 5px 5px;
}

.detailTable th {
    border-spacing: 0;
    border-bottom: 1px solid #444;
    padding: 5px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.userDataCell {
    width: 130px;
    text-align: right;
}

.tabletColumn, .desktopColumn {
    display: none;
}

.detailTable .btnPlay {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
}

    .detailTable .btnPlay:hover {
        opacity: .6;
    }

@media all and (min-width: 600px) {
    .tabletColumn {
        display: table-cell;
    }
}

@media all and (min-width: 1100px) {
    .desktopColumn {
        display: table-cell;
    }
}
