.libraryPage {
    padding-top: 50px !important;
}

    .libraryPage:not(.noSecondaryNavPage) {
        padding-top: 95px !important;
    }

.pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 98px !important;
}

.absolutePageTabContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    margin: 0 !important;
    width: 100% !important;
    /* Page needs to supply padding */
    top: 92px !important;
    transition: transform 200ms ease-out;
}

    .absolutePageTabContent.headroomUnpinned {
        transform: translateY(-92px);
        bottom: -92px !important;
    }

.pageTabContent:not(.is-active) {
    display: none !important;
}

.sidebarDivider {
    height: 1px;
    background: #eaeaea;
    margin: .5em 0;
}

.headerUserImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 1000px;
    vertical-align: middle;
    display: inline-block;
}

.headerUserButtonRound img {
    border-radius: 1000px;
}

.viewMenuBar paper-icon-button {
    vertical-align: middle;
}

.drawerContent {
    padding-bottom: 100px;
}

.headerButton {
    margin: 0 5px;
    background-color: transparent;
    vertical-align: middle;
    text-align: center;
    border: 0 !important;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

.menuArrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQ…yGDxkLaBtENI9kPMk0gaoW0Dyj0aWowFLYNYzWB6MWMAAAq1H3+Mhu2hQAAAAASUVORK5CYII=);
    height: 24px;
    width: 24px;
    display: inline-block;
}

.headerButtonRight {
    border-width: 0 !important;
    display: inline-block;
    flex-shrink: 0;
}

    .headerButtonRight:first-child {
        border-width: 0 !important;
    }

.hideMainDrawer .mainDrawerButton {
    display: none;
}

.libraryMenuButtonText {
    text-decoration: none;
    font-weight: 400 !important;
    display: inline-flex;
    vertical-align: middle;
    padding-left: 0 !important;
    cursor: default;
    position: relative;
    top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

.viewMenuBar {
    font-weight: bold;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    top: 0;
    border: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.hiddenViewMenuBar .viewMenuBar {
    display: none;
}

.libraryViewNav {
    overflow: hidden;
    z-index: 999;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 0 0;
    display: flex;
    display: block;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.ui-body-b .libraryViewNav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),1px 5px 1px rgba(0,0,0,.12);
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
}

.libraryViewNav.bottom {
    top: auto !important;
    bottom: 0;
}

.pageTabButton {
    background: transparent;
    border: 0 !important;
    cursor: pointer;
    outline: none !important;
    width: auto;
    font-family: inherit;
    font-size: inherit;
    color: #aaa !important;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    margin: 0;
    padding: 1.2em .9em;
    transition: none !important;
    position: relative;
    text-transform: uppercase;
    font-weight: bold !important;
    height: auto;
    min-width: initial;
    line-height: initial;
    border-radius: 0 !important;
    overflow: hidden;
}

    /*.libraryViewNav .pageTabButton:hover {
            background-color: transparent;
        }

        .libraryViewNav .pageTabButton:active {
            background-color: rgba(100,100,100, 0.20);
        }*/

    .pageTabButton:focus {
        font-weight: bold !important;
    }

    .pageTabButton.is-active {
        color: #52B54B !important;
    }

.pageTabButtonSelectionBar {
    position: absolute;
    left: 0;
    border: 0;
    /* Need this or it will be partially covered by the drop-shadow on android */
    bottom: 1px;
    height: 2px;
    right: 0;
    border-radius: 0;
    z-index: 1000;
}

.pageTabButton.is-active .pageTabButtonSelectionBar {
    background: #52B54B;
}

.viewMenuBar, .ui-body-b .libraryViewNav {
    background-color: #222326;
    color: #fff;
}

    .viewMenuBar .primaryIcons {
        display: flex;
        flex-grow: 1;
        width: 100%;
        align-items: center;
    }

.dashboardDocument .viewMenuBar {
    background-color: #333;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

    .dashboardDocument .viewMenuBar .primaryIcons {
        padding: .7em 0;
    }

.dashboardDocument.withTallToolbar .primaryIcons {
    padding-bottom: 0;
}

.dashboardDocument .viewMenuBar #selectionBar {
    height: 3px;
}

.viewMenuBarTabs {
    width: 100%;
}

    .viewMenuBarTabs .paperTabLink {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

.viewMenuBar.semiTransparent {
    background-color: rgba(15, 15, 15, .3);
}

.viewMenuLink {
    text-decoration: none;
    color: #eee !important;
    padding: 7px .5em 6px;
    display: inline-block;
    vertical-align: middle;
}

    .viewMenuLink:hover {
        color: #fff;
    }

        .viewMenuLink:hover img {
            opacity: .5;
        }

    .viewMenuLink img {
        height: 24px;
        vertical-align: top;
    }

.viewMenuSecondary {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.selectedMediaFolder {
    background-color: #f2f2f2 !important;
}

.ui-panel.ui-body-b {
    background-color: #1D1D20;
}

@media all and (max-width: 400px) {

    .libraryMenuButtonText {
        display: none;
    }
}

@media all and (max-width: 800px) {

    /* The sidebar isn't visible at this size, so there's no way to navigate within the editor */
    .editorViewMenu {
        display: none;
    }
}

body:not(.dashboardDocument) .btnNotifications {
    display: none !important;
}

.darkDrawer {
    background-color: #1C1C1F !important;
    /*background-color: rgba(40,40,40,.8) !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);*/
}

    .darkDrawer .sidebarLinkIcon {
        color: #bbb !important;
        margin-left: 1.6em;
    }

i.sidebarLinkIcon {
    font-size: 150%;
    height: auto;
    width: auto;
}

.darkDrawer i.sidebarLinkIcon {
    margin-left: 1em;
}

.darkDrawer .sidebarLinkText, .darkDrawer .sidebarLink {
    color: #fff !important;
    font-weight: normal !important;
}

.darkDrawer .sidebarHeader {
    color: #bbb !important;
}

.darkDrawer .sidebarDivider {
    background: #282828 !important;
}

.darkDrawer .sidebarLink:hover {
    background: #252528;
}

.darkDrawer .sidebarLink.selectedSidebarLink, .darkDrawer .selectedMediaFolder {
    background: #252528 !important;
    color: #52B54B !important;
}

body:not(.dashboardDocument) .headerAppsButton {
    display: none;
}

@media all and (min-width: 640px) {

    .mainDrawerPanel .viewMenuBarTabs {
        width: auto;
        padding-left: 272px;
    }

    .viewMenuBarTabs .libraryViewNav {
        text-align: left !important;
    }
}
