/* Fixes the issue of jqm panels altering the page background. */
.ui-panel-content-wrap {
    background: none!important;
}

.libraryPage .header {
    padding-bottom: 0;
}

.libraryPageHeader {
    margin: -5px 0 0;
}

    .libraryPageHeader a {
        margin-right: 20px;
    }

.libraryPage .ui-content {
    padding: 10px;
}

.libraryPage, .itemListContent {
    background: #262626!important;
    background: #494949 url(images/bgflip.png) repeat-x!important;
    background-attachment: fixed!important;
}

    .libraryPage .currentUsername {
        color: #fff;
    }

.listHeader {
    margin-top: 1em;
    margin-bottom: 5px;
    font-weight: normal;
}

.firstListHeader {
    margin-top: .75em;
}

.libraryViewNav {
    text-align: center;
}

    .libraryViewNav .ui-btn-inner {
        padding: .6em 20px;
    }

.ehsContent {
    max-width: 600px;
    margin: 0 auto;
}

.viewSettings {
    text-align: center;
    margin: 1em 0;
}

.libraryItemsGrid th {
    text-align: left;
}

.libraryGridImage {
    width: 50px;
}

@media all and (min-width: 650px) {
    .libraryPage .ui-content {
        padding: 15px 30px 100px;
    }
}

@media all and (min-width: 750px) {
}

@media all and (min-width: 1200px) {

    .libraryPage .ui-content {
        padding-top: 0;
    }

    .ehsContent {
        max-width: 800px;
    }

    .libraryItemsGridContainer {
        padding: 0 10%;
    }
}

@media all and (min-width: 1440px) {
    .libraryItemsGridContainer {
        padding: 0 20%;
    }
}

@media all and (min-width: 1920px) {
    .ehsContent {
        max-width: 1000px;
    }
    .libraryItemsGridContainer {
        padding: 0 25%;
    }
}
