.libraryPage {
    padding-top: 50px !important;
}

    .libraryPage:not(.metadataEditorPage):not(.noSecondaryNavPage) {
        padding-top: 98px !important;
    }

.libraryMenuDivider {
    height: 1px;
    background: #333;
    margin: .5em 0;
}

.viewMenuBar, .barsMenuButton, .libraryMenuButtonText, .btnCast {
    height: 50px;
}

.barsMenuButton, .libraryMenuButtonText, .btnCast {
    line-height: 50px;
}

.viewMenuBar .fa {
    color: #e8e8e8;
    font-size: 24px;
    vertical-align: middle;
}

.headerButton {
    margin: 0;
    padding: 0;
    background-color: transparent;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    border: 0 !important;
    outline: none;
    padding: 0 20px;
    cursor: pointer;
}

    .headerButton img {
        height: 19px;
        vertical-align: middle;
    }

.headerSearchButton img {
    height: 18px;
}

.headerButtonLeft {
    float: left;
    padding: 0 15px;
}

    .headerButtonLeft:first-child {
        padding-left: 10px;
    }

.menuArrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQ…yGDxkLaBtENI9kPMk0gaoW0Dyj0aWowFLYNYzWB6MWMAAAq1H3+Mhu2hQAAAAASUVORK5CYII=);
    height: 24px;
    width: 24px;
    display: inline-block;
}

.headerButtonRight {
    border-width: 0 !important;
    padding: 0 15px;
    display: inline-block;
}

    .headerButtonRight:first-child {
        border-width: 0 !important;
    }

.libraryMenuButton, .dashboardMenuButton {
    padding-left: 10px !important;
}

.barMenuInner {
    padding: 6px 10px;
}

.barsMenuButton:hover {
    opacity: .5 !important;
}

.libraryMenuButtonText {
    color: #fff !important;
    text-decoration: none;
    font-weight: 300 !important;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0 !important;
    margin-left: -8px;
    cursor: default;
}

.logoLibraryMenuButtonText {
    font-family: MBLogo;
    font-weight: 200;
    color: #000;
}

.ui-page-theme-b .logoLibraryMenuButtonText, .ui-bar-b .logoLibraryMenuButtonText {
    color: #fff;
}

.viewMenuBar {
    font-weight: bold;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    top: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.libraryViewNav {
    height: 48px;
    overflow: hidden;
    position: fixed;
    right: 0;
    left: 0;
    top: 50px;
    z-index: 1000;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    padding: 0 0 0;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-overflow-scrolling: touch;
}

.viewMenuBar {
    background-color: #000;
}

.libraryViewNav {
    background-color: #111;
}

    .libraryViewNav::-webkit-scrollbar {
        height: 0 !important;
        display: none;
    }

.viewMenuLink {
    text-decoration: none;
    color: #eee !important;
    padding: 7px .5em 6px;
    display: inline-block;
    vertical-align: middle;
}

.headerButtonRight:hover {
    opacity: .5;
}

.viewMenuLink:hover {
    color: #fff;
}

    .viewMenuLink:hover img {
        opacity: .5;
    }

.viewMenuLink img {
    height: 24px;
    vertical-align: top;
}

.librarySidebarLinks a {
    font-weight: 300 !important;
}

    .librarySidebarLinks a:hover {
        background-color: #38c !important;
        color: #fff !important;
    }

.musicViewMenu {
    background-image: url(images/items/folders/music.png);
}

.homeViewMenu {
    background-image: url(images/mblogoicon.png) !important;
    background-size: 39px 26px !important;
    background-position: 13px center !important;
    padding-left: 66px !important;
    background-repeat: no-repeat !important;
}

.viewMenuSecondary {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.selectedMediaFolder {
    background-color: #52B54B !important;
    color: #fff !important;
}

.itemDetailPage .selectedMediaFolder {
    background-color: rgba(51,136,204,.8) !important;
}

.ui-panel.ui-body-b {
    background-color: #222;
}

.libraryViewNav .ui-btn-active {
    border-bottom-color: #38c;
    color: #fff !important;
}

.libraryViewNav a {
    display: inline-block;
    padding: 12px 0 9px;
    color: #ddd !important;
    text-decoration: none;
    margin: 0 0;
    position: relative;
    font-weight: normal;
    border-bottom: 5px solid transparent;
}

    .libraryViewNav a:not(.ui-btn-active):hover {
        color: #2ad !important;
    }

.libraryViewNavLinkContent {
    display: inline-block;
    padding: 2px 13px 2px 13px;
}

@media all and (max-width: 500px) {

    .libraryMenuButtonText {
        display: none;
    }
}

@media all and (min-width: 800px) {

    .dashboardDocument .dashboardMenuButton {
        display: none;
    }
}

@media all and (max-width: 800px) {

    .dashboardDocument .libraryMenuButton {
        display: none;
    }
}

@media all and (max-width: 800px) {

    /* The sidebar isn't visible at this size, so there's no way to navigate within the editor */
    .editorViewMenu {
        display: none;
    }
}

@media all and (max-width: 1000px) {

    /* They can use the left menu */
    .dashboardEntryHeaderButton {
        display: none;
    }
}

.libraryDocument .dashboardMenuButton {
    display: none;
}
