.hidingAnimatedTab {
    visibility: hidden;
}

.headerArrowImage {
    height: 20px;
    margin-left: .5em;
}

.background-theme-b .backgroundContainer, .dialog.background-theme-b {
    background-color: #121314;
}

    .background-theme-b .backgroundContainer.withBackdrop {
        background-color: rgba(6, 6, 6, .94) !important;
        background: linear-gradient(to right, rgba(0, 0, 0, .99), rgba(0, 0, 0, .92), rgba(0, 0, 0, .5)) !important;
    }

.ui-body-b {
    /* Need the important tag for paper dialogs with this class */
    color: #fff !important;
}

.pageWithAbsoluteTabs {
    background-color: transparent !important;
}

.backdropContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.backdropImage {
    /*-webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);*/
}

.libraryPage .header {
    padding-bottom: 0;
}

.pageTabContent {
    contain: style;
}

.libraryPage > .ui-content {
    padding-top: 10px;
}

.pageWithAbsoluteTabs .pageTabContent {
    padding-top: 2.6em;
}

/*.pageWithAbsoluteTabs .pageTabContent {
    padding-left: .5em !important;
    padding-right: .5em !important;
}*/

.flexPageTabContent.is-active {
    display: flex !important;
}

@media all and (max-width: 600px) {

    .libraryPage > .ui-content {
        padding-left: .5em !important;
        padding-right: .5em !important;
    }
}

.listHeader {
    margin: .25em 0;
    padding-left: 2px;
    line-height: 1.25em;
    line-height: initial;
}

@media all and (max-width: 500px) {

    .listHeader {
        padding-left: 5px;
    }
}

.listHeader + button {
    margin-left: 2em;
}

.ehsContent, .ehsContent .pageTabContent {
    margin: 0 auto;
}

.homePageSection {
    margin-bottom: 3.6em;
}

.sectionHeaderButton {
    vertical-align: middle;
    margin: 0 0 .25em 1.5em;
    position: relative;
    top: 8px;
}

.viewPanelTabs {
    margin-bottom: 2em;
}

@media all and (min-width: 800px) {

    .hiddenSectionOnNonMobile {
        display: none;
    }
}

@media all and (min-width: 1200px) {

    .paddedItemsContainer {
        padding: 0 .8em;
    }
}

.ehsContent:not(.fullWidth), .ehsContent .pageTabContent {
    width: 98%;
}

@media all and (min-width: 1200px) {

    .ehsContent:not(.fullWidth), .ehsContent .pageTabContent {
        width: 96%;
    }
}

.homePageSection h1 {
    padding-left: .55em;
}

.homePageSection .itemsContainer {
    padding-left: .7em;
    padding-right: .7em;
}

@media all and (min-width: 1200px) {

    .homePageSection h1 {
        padding-left: 2.2vw;
    }

    .homePageSection .itemsContainer {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

.detailPageContent {
    border-spacing: 0;
    border-collapse: collapse;
}

.viewSettings {
    margin: 0 0 .25em;
    text-align: center;
}

.listPaging {
    text-align: center;
}

.viewControls + .listTopPaging {
    margin-left: .5em !important;
}

.criticReview {
    margin: 1.5em 0;
    background: #222;
    padding: .8em .8em .8em 55px;
    border-radius: 5px;
    position: relative;
}

    .criticReview:first-child {
        margin-top: .5em;
    }

    .criticReview img {
        width: 30px;
    }

.criticRatingScore {
    margin-bottom: .5em;
}

.itemTag {
    display: inline-block;
    background-color: #333;
    border-radius: 4px;
    padding: 5px 7px;
    margin: 0 5px 5px 0;
    color: #fff !important;
    text-decoration: none;
    font-weight: normal !important;
}

.itemOverview {
    white-space: pre-wrap;
}

a.itemTag:hover {
    background-color: #2489ce;
}

.itemLinks {
    text-align: center;
    padding: 0;
}

    .itemLinks p {
        margin: .5em 0;
    }

.reviewerName {
    color: #ccc;
    margin-top: .5em;
}

.reviewLink {
    margin-top: .5em;
}

.reviewDate {
    margin-left: 1em;
}

.reviewScore {
    position: absolute;
    left: .8em;
}

span.itemCommunityRating:not(:empty) + .userDataIcons {
    margin-left: 1.25em;
}

.itemBackdrop {
    background-size: cover;
    background-position: center 15%;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
}

.noSecondaryNavPage .itemBackdrop {
    margin-top: -50px;
}

.noBackdrop {
    background: #181818;
    height: 170px !important;
}

.withBackdrop + .mainDrawerPanel .noBackdrop {
    background-color: transparent;
}

.itemBackdropContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    min-height: 120px;
}

.noBackdrop .itemBackdropContent {
    background-color: transparent;
}

.desktopMiscInfoContainer {
    position: absolute;
    bottom: 10px;
}

.detailUserDataIcons {
    margin-left: .5em;
    white-space: nowrap;
}

.detailImageContainer {
    margin-right: 2em;
    width: 280px;
    flex-shrink: 0;
}

.detailPagePrimaryContent {
    position: relative;
    flex-grow: 1;
}

.detailLogo {
    width: 300px;
    height: 70px;
    position: absolute;
    top: 10%;
    right: 20%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media all and (max-width: 1400px) {

    .detailLogo {
        right: 5%;
    }
}

@media all and (max-width: 1200px) {

    .detailLogo {
        display: none;
    }
}

.itemDetailImage {
    border: solid 1px transparent;
    width: 100%;
}

.thumbDetailImageContainer {
    width: 400px;
}

.itemDetailImage.loaded {
    -moz-box-shadow: 0px 0 20px #000;
    -webkit-box-shadow: 0px 0 20px #000;
    box-shadow: 0px 0 20px #000;
    border: solid 1px #222;
}

.itemDetailGalleryLink img:hover {
    -moz-box-shadow: 0 0 20px 3px #52B54B;
    -webkit-box-shadow: 0 0 20px 3px #52B54B;
    box-shadow: 0 0 20px 3px #52B54B;
}

@media all and (max-width: 800px) {

    .detailPageContent {
        position: relative;
    }

    .detailImageContainer {
        position: absolute;
        top: -90px;
        left: 5%;
        width: auto;
    }

    .itemDetailImage {
        height: 120px;
        width: auto !important;
    }

    .btnPlaySimple {
        display: none !important;
    }
}

@media all and (min-width: 800px) {

    .itemBackdrop {
        display: none;
    }

    .detailPagePrimaryContainer {
        display: flex;
        margin-bottom: 3.6em;
    }
}

@media all and (max-width: 1200px) {

    .lnkSibling {
        display: none !important;
    }
}

.parentName {
    display: block;
    margin-bottom: .5em;
}

.emby-button.detailFloatingButton {
    width: 56px !important;
    height: 56px !important;
    bottom: -28px;
    position: absolute;
    right: 5%;
    background-color: #52B54B !important;
    z-index: 1;
}

.emby-button.btnFloatingRecord {
    background-color: #cc3333 !important;
}

@media all and (max-width: 800px) {

    .parentName {
        margin-bottom: 1em;
    }

    .itemBackdropContent {
        min-height: 0;
    }
}

@media all and (min-width: 500px) {

    .mobileDetails {
        display: none;
    }
}

@media all and (max-width: 500px) {

    .desktopDetails {
        display: none !important;
    }
}

.itemName {
    font-weight: normal !important;
    margin: .5em 0;
}

.empty {
    margin: 0;
}

.detailSection {
    vertical-align: top;
    margin-bottom: 3em;
}

.detailCollapsibleSection:not(.hide) + .detailCollapsibleSection {
    margin-top: -2em;
}

.detailPageCollabsible {
    margin-top: 0;
}

.detailSection h1 {
    margin-bottom: .25em;
    position: relative;
}

.detailSectionHeader {
    background-clip: border-box;
    padding: 0 0 .25em .25em;
    background-color: transparent;
    border-radius: 0;
    margin-bottom: .5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    margin: 1.5em 0 1em;
    display: flex;
    align-items: center;
}

    .detailSectionHeader > h1 {
        margin: 0;
    }

.detailSectionHeaderButton {
    margin-left: 1em;
}

.mainDetailButtons {
    padding: 1em 0;
    display: flex;
    align-items: center;
}

    .mainDetailButtons button, .recordingFields button {
        margin-left: 0;
        margin-right: .5em;
    }

    .mainDetailButtons.hide + .recordingFields {
        margin-top: 1.5em !important;
    }

@media all and (min-width: 800px) {

    .mainDetailButtons, .recordingFields button {
        font-size: 110%;
    }
}

.detailImageProgressContainer {
    position: absolute;
    bottom: 4px;
    right: 1px;
    left: 1px;
    text-align: center;
}

.viewControls, .listTopPaging {
    display: inline-block;
}

@media all and (max-width: 800px) {

    .editorMenuLink {
        display: none;
    }
}

.itemMiscInfo {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media all and (max-width: 500px) {

    .mobileDetails .itemMiscInfo {
        text-align: center;
        justify-content: center;
    }

    .itemMiscInfo .endsAt {
        display: none;
    }
}

.detailPageContent {
    padding: 3em 3% 0;
}

@media all and (min-width: 750px) {
    .detailPageContent {
        padding: 3em 3% 0;
    }
}

@media all and (min-width: 1200px) {
    .detailPageContent {
        padding: 3em 5% 0;
    }
}

.detailPageParentLink {
    font-weight: inherit !important;
}

.mediaInfoContent {
    line-height: 1.5em;
}

.mediaInfoStream {
    margin: 1em 3em 1em 0;
    display: inline-block;
    color: #bbb;
    vertical-align: top;
}

.mediaInfoStreamType {
    display: block;
    color: #fff;
    margin-bottom: 1em;
}

.mediaInfoAttribute {
    color: #fff;
    display: inline-block;
}

.mediaInfoLabel {
    color: #aaa;
    margin-right: 1em;
    display: inline-block;
}

.posterRibbon {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    padding: 5px 6px;
    border-radius: 10px;
    color: #fff;
    background: rgb(0, 143, 187);
    background: rgba(0, 143, 187, .8);
    line-height: initial;
}

.offlinePosterRibbon {
    background: rgba(248, 58, 34, .8);
}

.unairedPosterRibbon {
    background: rgba(255, 106, 0, .8);
}

.missingPosterRibbon {
    background: rgba(248, 58, 34, .8);
}

.recordingProgressBar::-moz-progress-bar {
    background-color: #cc3333;
}

.recordingProgressBar::-webkit-progress-value {
    background-color: #cc3333;
}

.recordingProgressBar[aria-valuenow]:before {
    background-color: #cc3333;
}

.timelineHeader {
    margin-bottom: .25em;
    line-height: 1.25em;
    line-height: initial;
}

.itemsContainer {
    margin: 0 auto;
}

.alphabetPicker {
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 90%;
    display: none;
    line-height: 1;
}

.layout-desktop .absolutePageTabContent .alphabetPicker {
    right: 20px;
}

@media all and (max-height: 500px) {

    .alphabetPicker {
        display: none !important;
    }
}

@media all and (min-height: 500px) {

    .itemsContainerWithAlphaPicker {
        margin-right: 20px;
    }

    .absolutePageTabContent .itemsContainerWithAlphaPicker {
        margin-right: 30px;
    }
}

@media all and (min-height: 500px) {

    .alphabetPicker {
        bottom: 5px;
    }
}

@media all and (min-width: 1200px) {

    .itemsContainerWithAlphaPicker, .absolutePageTabContent .itemsContainerWithAlphaPicker {
        margin-right: 0;
    }
}

@media all and (max-height: 700px) {

    .alphaPicker-vertical .alphaPickerButton {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }
}

@media all and (max-height: 600px) {

    .alphaPicker-vertical .alphaPickerButton {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

@media all and (max-height: 530px) {

    .alphabetPicker {
        font-size: 80%;
    }
}

@media all and (max-height: 480px) {

    .alphabetPicker {
        font-size: 76%;
    }
}

@media all and (min-height: 900px) {

    .alphabetPicker {
        bottom: 120px;
    }
}

@media all and (min-height: 1000px) {

    .alphabetPicker {
        bottom: 200px;
    }
}

@media all and (max-width: 1200px) {

    .listViewUserDataButtons {
        display: none !important;
    }
}

.userProfileSettingsForm {
    max-width: 700px;
}

@media all and (max-width: 700px) {

    .userProfileSettingsForm .detailSection {
        margin-left: .5em;
        margin-right: .5em;
    }
}

@media all and (max-width: 800px) {

    .detailsHiddenOnMobile {
        display: none;
    }
}

#criticReviewsContent.hiddenScrollX {
    white-space: nowrap;
}

    #criticReviewsContent.hiddenScrollX .paperList {
        min-width: 240px;
        width: 90%;
        max-width: 500px;
        display: inline-block;
        vertical-align: top;
        margin: 0 4px 0 0;
    }

.btnSyncComplete {
    background: #673AB7 !important;
}

    .btnSyncComplete i {
        border-radius: 1000px;
    }

.bulletSeparator {
    margin: 0 .35em;
}

.mediaInfoIcons {
    display: flex;
    align-items: center;
    margin: 1.5em 0 1em;
    flex-wrap: wrap;
}

.mediaInfoText {
    background: rgba(31,31,31,.7);
    padding: .25em .5em;
    border-radius: .25em;
    color: #ddd;
    margin-right: .5em;
    margin-bottom: .5em;
    font-size: 94%;
    background: rgba(170,170,190, .2);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.mediaInfoText-upper {
    text-transform: uppercase;
}
