
.tvProgramSectionHeader {
    margin: 0;
}

.tvProgram {
    display: block;
    text-decoration: none;
    font-weight: normal !important;
    white-space: nowrap;
    position: relative;
}

.detailSectionHeader + .tvProgram {
    border-top: 1px solid #404040;
    margin-top: 1px;
}

.tvProgramTimeSlot {
    width: 80px;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #404040;
}

.tvProgramTimeSlotInner {
    padding: .5em;
}

.tvProgramInfo {
    vertical-align: middle;
    padding: .5em .5em;
    border-bottom: 1px solid #404040;
}

.tvProgramTimeSlot + .tvProgramInfo {
    margin-left: 80px;
    border-left: 1px solid #404040;
}

.tvProgramCurrentTimeSlot {
    background-color: green;
}

.tvProgramName {
    color: #fff;
    font-weight: bold;
    margin-bottom: .5em;
}

.tvProgramTime {
    color: #fff;
}

.newTvProgram {
    color: #E88606;
}

.liveTvProgram {
    color: #64A239;
}

.premiereTvProgram {
    color: yellow;
}

.sportsProgramInfo {
    background-color: #0F2624;
    border-bottom: 2px solid #0A7C33;
}

.newsProgramInfo {
    background-color: #211A32;
    border-bottom: 2px solid #523378;
}

.movieProgramInfo {
    background-color: #271A21;
    border-bottom: 2px solid #A43913;
}

.childProgramInfo {
    background-color: #092345;
    border-bottom: 2px solid #0B487D;
}

.tvProgram:hover, .tvProgram:hover .tvProgramInfo {
    background-color: #4d90fe;
}

.timerCircle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #cc0000;
    vertical-align: top;
    border: 1px solid #cc3333;
    margin-left: 1em;
}

.seriesTimerCircle {
    position: relative;
    margin-left: 0;
    left: 21px;
    opacity: .3;
}

.itemMiscInfo .seriesTimerCircle:first-child {
    margin-left: 1em;
}

.seriesTimerCircle + .seriesTimerCircle {
    opacity: .65;
    left: 0;
}

    .seriesTimerCircle + .seriesTimerCircle + .seriesTimerCircle {
        opacity: 1;
        left: -21px;
    }

.channelImageContainer .itemDetailImage {
    max-width: 200px;
    max-height: 110px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.channelTimeslotHeader {
    float: left;
}

.timeslotHeaders {
    white-space: nowrap;
    overflow-x: scroll;
}

.mobileGuide .timeslotHeaders {
    overflow-x: hidden;
}

.programContainer {
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    margin-top: 44px;
}

.mobileGuide .programContainer {
    margin-top: 30px;
}

.channelPrograms {
    white-space: nowrap;
    height: 53px;
}

.timeslotHeader {
    display: inline-block;
}

.timeslotHeaderInner {
    padding: .5em .35em;
}

.timeslotCell {
    display: inline-block;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
    border-collapse: collapse;
    position: relative;
}

.channelHeaderCell, .channelTimeslotHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
    width: 189px;
}

.channelTimeslotHeader {
    border-right: 1px solid #38c;
}

.channelTimeslotHeader, .timeslotHeader {
    background: #38c;
    border-bottom: 1px solid #38c;
    border-left: 1px solid #38c;
}

.timeslotHeader, .channelTimeslotHeader {
    height: 34px;
}

.channelHeaderCellInner {
    padding: .5em .5em;
    display: block;
    text-decoration: none;
    font-weight: normal !important;
    color: #fff !important;
    position: relative;
}

.channelHeaderCell:hover {
    background-color: #38c;
}

.channelList {
    float: left;
}

.programGrid {
    padding-bottom: 4px;
    overflow-x: scroll;
}

.programGrid, .timeslotHeaders {
    margin-left: 190px;
}

.timeslotCell, .timeslotHeader {
    width: 60px;
}

.timeslotCellInner {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    display: block;
    text-decoration: none;
    font-weight: normal !important;
    color: #fff !important;
}

.timeslotCellInnerWithProgram {
    z-index: 99;
}

    .timeslotCellInnerWithProgram:hover {
        background-color: #38c;
    }

.channelHeaderCell, .timeslotCell {
    height: 52px;
}

.guideProgramName {
    padding: .35em .5em;
}

.guideProgramTime {
    padding: 0 .5em .35em;
}

.plainProgramInfo {
    background-color: #252525;
}

.guideChannelInfo {
    display: inline-block;
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.guideChannelImage {
    max-width: 60px;
    max-height: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
}

@media (max-width: 600px) {

    .guideChannelImage {
        display: none;
    }

    .timerPageImageContainer {
        display: none !important;
    }

    .channelHeaderCell, .channelTimeslotHeader {
        width: 89px;
    }

    .programGrid, .timeslotHeaders {
        margin-left: 90px;
    }

    .currentDate {
        font-size: 11px;
    }

    .currentDay {
        display: none;
    }
}

.channelList, .programGrid {
    height: auto !important;
}
