.guideTabContent {
    background: #121212;
}

.chkAdvanced {
    margin-left: auto;
}

/* Allow vertical space for anything that slides up at the bottom */
.guideVerticalScroller {
    padding-bottom: 160px;
}

.tvGuideHeader.headroom--unpinned {
    -webkit-transform: none;
    transform: none;
}
