
.tvProgramSectionHeader {
    margin: 0;
}

.tvProgram {
    display: block;
    text-decoration: none;
    font-weight: normal!important;
    white-space: nowrap;
    position: relative;
}

.detailSectionHeader + .tvProgram {
    border-top: 1px solid #444;
    margin-top: 1px;
}

.tvProgramTimeSlot {
    width: 80px;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #444;
}

.tvProgramTimeSlotInner {
    padding: .5em;
}

.tvProgramInfo {
    vertical-align: middle;
    padding: .5em .5em;
    border-bottom: 1px solid #444;
}

.tvProgramTimeSlot + .tvProgramInfo {
    margin-left: 80px;
    border-left: 1px solid #444;
}

.tvProgramName {
    color: #fff;
    font-weight: bold;
    margin-bottom: .5em;
}

.tvProgramTime {
    color: #fff;
}

.newTvProgram {
    color: #E88606;
}

.liveTvProgram {
    color: #64A239;
}

.sportsProgramInfo {
    background-color: #0F2624;
    border-bottom: 2px solid #0A7C33;
}

.newsProgramInfo {
    background-color: #211A32;
    border-bottom: 2px solid #523378;
}

.movieProgramInfo {
    background-color: #271A21;
    border-bottom: 2px solid #A43913;
}

.childProgramInfo {
    background-color: #092345;
    border-bottom: 2px solid #0B487D;
}

.tvProgram:hover, .tvProgram:hover .tvProgramInfo {
    background-color: #4d90fe;
}

.timerCircle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #cc0000;
    vertical-align: top;
    border: 1px solid #cc3333;
    margin-left: 1em;
}

.seriesTimerCircle {
    position: relative;
    margin-left: 0;
    left: 29px;
    opacity: .3;
}

.itemMiscInfo .seriesTimerCircle:first-child {
    margin-left: 1em;
}

.seriesTimerCircle + .seriesTimerCircle {
    opacity: .65;
    left: 0;
}

    .seriesTimerCircle + .seriesTimerCircle + .seriesTimerCircle {
        opacity: 1;
        left: -29px;
    }

.channelImageContainer .itemDetailImage {
    max-width: 200px;
    max-height: 110px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.timeslotHeaders {
    white-space: nowrap;
}

.timeslotHeader {
    width: 100px;
    display: inline-block;
    padding: .5em .5em;
    background: #38c;
}

.timeslotCell {
    width: 100px;
    display: inline-block;
    padding: .5em .5em;

    border: 1px solid #444;
    border-collapse: collapse;
    display: table-cell;
}

.channelTimeslotCell {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channelTimeslotHeader, .channelTimeslotCell {
    width: 80px;
    color: #ddd;
}
.guideChannel {
}