.tvGuideHeader {
    white-space: nowrap;
    position: fixed;
    top: 96px;
    left: 0;
    z-index: 100;
    max-width: 100%;
}

.neon-animating .tvGuideHeader {
    position: static;
}

.bottomSecondaryNav .tvGuideHeader {
    top: 48px;
}

.tvGuideHeader.headroom--unpinned {
    -webkit-transform: translateY(-98px);
    transform: translateY(-98px);
}

.bottomSecondaryNav .tvGuideHeader.headroom--unpinned {
    -webkit-transform: translateY(-48px);
    transform: translateY(-48px);
}

.tvProgramSectionHeader {
    margin: 0;
}

.tvProgram {
    display: block;
    text-decoration: none;
    font-weight: normal !important;
    white-space: nowrap;
    position: relative;
}

.detailSectionHeader + .tvProgram {
    border-top: 1px solid #404040;
    margin-top: 1px;
}

.tvProgramTimeSlot {
    width: 80px;
    vertical-align: middle;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #404040;
}

.tvProgramTimeSlotInner {
    padding: .5em;
}

.tvProgramInfo {
    vertical-align: middle;
    padding: .5em .5em;
    border-bottom: 1px solid #404040;
}

.tvProgramTimeSlot + .tvProgramInfo {
    margin-left: 80px;
    border-left: 1px solid #404040;
}

.tvProgramCurrentTimeSlot {
    background-color: green;
}

.tvProgramName {
    color: #fff;
    font-weight: bold;
    margin-bottom: .5em;
}

.tvProgramTime {
    color: #fff;
}

.newTvProgram {
    color: #E88606;
}

.liveTvProgram {
    color: #64A239;
}

.premiereTvProgram {
    color: yellow;
}

.sportsProgramInfo {
    background-color: #0F2624;
    border-bottom: 2px solid #0A7C33;
}

.newsProgramInfo {
    background-color: #211A32;
    border-bottom: 2px solid #523378;
}

.movieProgramInfo {
    background-color: #271A21;
    border-bottom: 2px solid #A43913;
}

.childProgramInfo {
    background-color: #092345;
    border-bottom: 2px solid #0B487D;
}

.timerCircle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #cc0000;
    border: 1px solid #cc3333;
    margin-left: 1em;
}

.seriesTimerCircle {
    position: relative;
    margin-left: 0;
    left: 21px;
    opacity: .3;
}

.itemMiscInfo .seriesTimerCircle:first-child {
    margin-left: 1em;
}

.seriesTimerCircle + .seriesTimerCircle {
    opacity: .65;
    left: 0;
}

    .seriesTimerCircle + .seriesTimerCircle + .seriesTimerCircle {
        opacity: 1;
        left: -21px;
    }

.channelImageContainer .itemDetailImage {
    max-width: 200px;
    max-height: 110px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.channelTimeslotHeader {
    float: left;
}

.timeslotHeaders {
    white-space: nowrap;
}

.mobileGuide .timeslotHeaders {
    overflow-x: hidden;
}

.programContainer {
    white-space: nowrap;
    position: relative;
    margin: 0 auto;
    margin-top: 44px;
}

.mobileGuide .programContainer {
    margin-top: 38px;
}

.channelPrograms {
    white-space: nowrap;
    height: 55px;
    border-bottom: 1px solid #404040;
    position: relative;
}

.channelPrograms, .timeslotHeadersInner {
    width: 12000px;
}

.timeslotHeader {
    display: inline-block;
}

.timeslotHeaderInner {
    padding: .6em .35em .5em;
    font-weight: 400;
    font-size: 16px;
}

.channelTimeslotHeader .timeslotHeaderInner {
    padding-top: .4em;
}

.channelHeaderCell, .channelTimeslotHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #404040;
    border-right: 1px solid #404040;
    width: 189px;
}

.channelTimeslotHeader {
    border-right: 1px solid #38c;
}

.channelTimeslotHeader, .timeslotHeader {
    background: #38c;
}

.timeslotHeader, .channelTimeslotHeader {
    height: 42px;
}

.channelHeaderCellInner {
    padding: .35em .5em .5em;
    display: block;
    text-decoration: none;
    font-weight: 400 !important;
    color: #fff !important;
    position: relative;
}

.pointerInput .channelHeaderCell:hover {
    background-color: #444;
}

.channelList {
    float: left;
    font-size: 16px;
    font-weight: 400;
}

.programGrid {
    padding-bottom: 4px;
}

.programGrid, .timeslotHeaders {
    margin-left: 190px;
}

.timeslotHeader {
    width: 2.0833333333333333333333333333333%;
}

.programCell {
    position: absolute;
    top: 1px;
    bottom: 1px;
}

.programCellInner {
    border-left: 1px solid #404040;
    display: block;
    height: 100%;
    color: #fff !important;
    text-decoration: none;
    font-weight: 400 !important;
    overflow: hidden;
}

.timeslotCellInner {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    display: block;
    text-decoration: none;
    font-weight: normal !important;
    color: #fff !important;
}

.channelHeaderCell {
    height: 55px;
}

.guideProgramName {
    padding: .55em .5em .35em;
}

.guideProgramTime {
    padding: 0 .5em .35em;
}

.guideChannelInfo {
    display: inline-block;
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.guideChannelImage {
    max-width: 60px;
    max-height: 35px;
    position: absolute;
    right: 7px;
    top: 7px;
}

@media (max-width: 1920px) {

    .channelPrograms, .timeslotHeadersInner {
        width: 10000px;
    }
}

@media (max-width: 1600px) {

    .channelPrograms, .timeslotHeadersInner {
        width: 8000px;
    }
}

@media (max-width: 600px) {

    .guideChannelInfoWithImage {
        display: none;
    }

    .timerPageImageContainer {
        display: none !important;
    }

    .channelHeaderCell, .channelTimeslotHeader {
        width: 98px;
    }

    .programGrid, .timeslotHeaders {
        margin-left: 99px;
    }

    .currentDay {
        display: none;
    }

    .channelPrograms, .timeslotHeadersInner {
        width: 6500px;
    }

    .channelList {
        font-size: 14px;
    }

    .timeslotHeaderInner {
        font-size: 14px;
        padding-top: .8em;
    }

    .channelHeaderCellInner {
        padding-top: .6em;
    }

    .channelTimeslotHeader a {
        padding-left: 0 !important;
    }

    .channelTimeslotHeader i {
        margin-right: 4px !important;
    }

    .channelTimeslotHeader .timeslotHeaderInner {
        padding-top: .5em;
    }
}

.channelList, .programGrid {
    height: auto !important;
}
