#mediaPlayer .mediaPlayerFlyout {
    bottom: 64px;
}

#videoBackdrop {
    z-index: 99990;
    position: fixed;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#videoPlayer {
    z-index: 99997;
    background-color: #1d1d1d;
    position: fixed;
    border: 1px solid #333;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -115px;
}

.itemVideo {
    background-color: #000;
    margin: 20px 20px 80px;
    width: 320px;
    height: 181px;
}

#videoControls {
    z-index: 99999;
    padding: 0 20px 5px;
    height: 80px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
}

    #videoControls .positionSliderContainer .ui-slider-track {
        margin: 0 !important;
    }

    #videoControls .positionSliderContainer {
        display: block;
        width: 100%;
        margin-top: 0px;
    }

    #videoControls #video-basic-controls {
        position: absolute;
        top: 30px;
        left: 20px;
        bottom: 0;
        width: 600px;
        display: inline-block;
    }

    #videoControls #video-advanced-controls {
        position: absolute;
        top: 30px;
        right: 20px;
        bottom: 0;
        width: 400px;
        display: inline-block;
    }

    #videoControls .currentTime {
        margin-top: 25px;
    }

#slider-tooltip {
    z-index: 99999;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #eee;
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    padding: 5px;
}

/* Fullscreen
    ***************************************/

#videoPlayer.fullscreenVideo,
#videoPlayer.fullscreenVideo .itemVideo {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    max-height: 100%;
}

#mediaPlayer .ui-slider-track {
    border-color: #2ad !important;
    height: 10px!important;
}

#mediaPlayer .ui-slider-handle {
    height: 12px !important;
    margin-top: -7px !important;   
}

#videoPlayer.fullscreenVideo #videoControls {
    opacity: 0.8;
    background-color: #1d1d1d;
}

#videoPlayer.fullscreenVideo .inactive {
    display: none;
}

#videoPlayer.fullscreenVideo:hover .active {
    display: block;
}

#mediaPlayer #videoControls #video-subtitleButton:disabled, #mediaPlayer #videoControls #video-muteButton:disabled, #mediaPlayer #videoControls #video-unmuteButton:disabled {
    display: none!important;
}

#mediaPlayer #video-advanced-controls {
    text-align: right;
}

#mediaPlayer #videoControls .mediaPlayerFlyout {
    text-align: left;
    margin-left: 0;
    right: 0;
    bottom: 83px;
}

/* Media queries
    ***************************************/

@media all and (min-width: 640px) and (min-height: 360px) {
    #mediaPlayer .itemVideo:not(.fullscreenVideo) {
        width: 480px;
        height: 271px;
    }

    #videoPlayer {
        margin-left: -250px;
        margin-top: -160px;
    }
}

@media all and (min-width: 800px) and (min-height: 450px) {
    #mediaPlayer .itemVideo:not(.fullscreenVideo) {
        width: 640px;
        height: 362px;
    }

    #videoPlayer {
        margin-left: -330px;
        margin-top: -205px;
    }
}

@media all and (min-width: 960px) and (min-height: 540px) {
    #mediaPlayer .itemVideo:not(.fullscreenVideo) {
        width: 720px;
        height: 406px;
    }

    #videoPlayer {
        margin-left: -370px;
        margin-top: -228px;
    }
}

@media all and (min-width: 1200px) and (min-height: 720px) {
    #mediaPlayer .itemVideo:not(.fullscreenVideo) {
        width: 1080px;
        height: 610px;
    }

    #videoPlayer {
        margin-left: -550px;
        margin-top: -329px;
    }

    #video-videoPlayerMenuButton {
        display: none;
    }
}

@media all and (min-width: 1440px) and (min-height: 720px) {
    #mediaPlayer .itemVideo:not(.fullscreenVideo) {
        width: 1080px;
        height: 610px;
    }

    #videoPlayer {
        margin-left: -550px;
        margin-top: -329px;
    }
}

/****************************************/

@media all and (max-width: 1200px), all and (max-height: 720px) {
    #videoControls .nowPlayingMediaInfo {
        display: none;
    }

    #videoControls .currentTime {
        margin-right: 0;
    }

    #videoControls #video-advanced-controls {
        width: 350px;
    }
}

@media all and (max-width: 960px), all and (max-height: 550px) {
    #videoControls #video-advanced-controls {
        width: 275px;
    }
}

@media all and (max-width: 800px), all and (max-height: 460px) {
    #mediaPlayer #videoPlayer {
        margin-top: -180px;
    }

    #mediaPlayer .itemVideo {
        margin-bottom: 120px;
    }

    #mediaPlayer #videoControls {
        height: 120px;
    }

    #mediaPlayer #video-basic-controls {
        width: 250px;
    }

        #mediaPlayer #video-basic-controls .volumeSliderContainer {
            margin-top: 8px;
        }

    #mediaPlayer #video-basic-controls, #mediaPlayer #video-advanced-controls {
        width: 200px;
        height: 120px;
    }

    #mediaPlayer #videoControls .mediaPlayerFlyout {
        bottom: 148px;
    }
}

@media all and (max-width: 640px), all and (max-height: 365px) {
    #mediaPlayer #videoPlayer {
        margin-top: -135px;
    }

    #mediaPlayer #video-advanced-controls {
        width: 150px;
    }
}

@media all and (max-width: 500px) {
    #mediaPlayer .previousTrackButton, #mediaPlayer .nextTrackButton {
        display: none!important;
    }
}

@media all and (max-width: 400px) {
    #mediaPlayer .playlistButton {
        display: none!important;
    }
}

/****************************************/

.status {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    z-index: 99999;
}

#play {
    background-image: url(images/media/play.png);
    opacity: 0;
    display: none;
}

#pause {
    background-image: url(images/media/pause.png);
    opacity: 0;
    display: none;
}

.fadeOut {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: .25s;
    -webkit-animation-duration: .25s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeOut {
    0% {
        transform: scale(.25);
        opacity: 0.7;
    }

    60% {
        transform: scale(.5);
        opacity: 0.5;
    }

    80% {
        transform: scale(.75);
        opacity: 0.3;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        -webkit-transform: scale(.25);
        opacity: 0.7;
    }

    60% {
        -webkit-transform: scale(.5);
        opacity: 0.5;
    }

    80% {
        -webkit-transform: scale(.75);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

.cursor-active {
    cursor: default;
}

.cursor-inactive {
    cursor: none;
}
