.videoBackdrop {
    /* Allows popups to be closed, because their z-index is 1099 */
    z-index: 1098;
    position: fixed;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#videoPlayer {
    z-index: 99997;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
}

.itemVideo {
    background-color: #000;
    width: 100%;
    height: auto;
}

.videoCanvas {
    background-color: #000;
    position: fixed;
    top: 200px;
    bottom: 200px;
    left: 200px;
    right: 200px;
}

.videoControls {
    padding: .5em .5em;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99998;
    text-align: center;
}

.videoTopControls {
    padding: 0 1em;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99998;
}

.videoAdvancedControls {
    text-align: right;
    vertical-align: top;
}

#slider-tooltip {
    z-index: 99999;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #eee;
    border: 1px solid #333;
    color: #333;
    border-radius: 3px;
    padding: 5px;
}

.nowPlayingInfo {
    text-align: center;
    padding: 1em 1em 2em 1em;
}

#videoPlayer .nowPlayingImage img {
    height: auto !important;
    max-width: 100px;
    max-height: 200px;
}

#videoPlayer .nowPlayingTabs {
    margin: 0 0 0 1em;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: top;
    color: #eee;
    display: inline-block;
    width: 70%;
    font-weight: normal;
    font-size: 14px;
}

@media all and (max-width: 1200px) {
    #videoPlayer .nowPlayingTabs {
        font-size: 13px;
    }
}

.nowPlayingTabButtons {
    margin-bottom: 1.25em;
}

.nowPlayingTabButton {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #ddd !important;
    font-weight: 400 !important;
    text-decoration: none;
}

    .nowPlayingTabButton + .nowPlayingTabButton {
        padding-left: 1.5em;
    }

    .nowPlayingTabButton:not(.selectedNowPlayingTabButton):hover {
        color: white !important;
    }

.selectedNowPlayingTabButton {
    color: #2ad !important;
}

.nowPlayingTab {
    overflow-y: hidden;
    overflow-x: auto;
}

#videoPlayer .nowPlayingText {
    font-weight: normal;
    margin: 0 0 0 1em;
    max-width: initial;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: top;
    position: static;
    color: #eee;
}

.videoNowPlayingName {
    font-size: 18px;
}

.videoNowPlayingOverview, .videoNowPlayingRating {
    margin: 1em 0;
}

.videoTopControlsLogo {
    float: left;
    /* Matches .mediaButton */
    padding-top: 16px;
}

    .videoTopControlsLogo img {
        max-height: 42px;
        max-width: 200px;
    }


/* Fullscreen
    ***************************************/

#videoPlayer, .itemVideo {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    max-height: 100%;
}

/* Hack for safari because it doesn't allow clickable content over the video surface. */
/*.itemVideo { (;top: 9%!important;height: 91% !important;); }
.itemVideo { [;top: 9%!important;height: 91% !important;]; }*/

#mediaPlayer .ui-slider-track, .nowPlayingBar .ui-slider-track, .nowPlayingPage .ui-slider-track {
    border-color: #2ad !important;
    height: 2px !important;
}

#videoPlayer .inactive {
    display: none !important;
}

.idlePlayer video {
    cursor: none;
}

#mediaPlayer .sliderContainer {
    position: relative;
    top: 5px;
    vertical-align: middle;
}

/****************************************/

@media all and (max-width: 1200px), all and (max-height: 720px) {
    .videoControls .currentTime {
        margin-right: 0;
        min-width: 120px;
    }
}

@media all and (max-width: 800px), all and (max-height: 460px) {

    #mediaPlayer .sliderContainer {
        margin-top: 8px;
    }
}

@media all and (max-width: 1400px), all and (max-height: 800px) {

    #mediaPlayer .nowPlayingInfo {
        display: none !important;
    }
}

@media all and (max-width: 555px) {
    #mediaPlayer .videoControls .previousTrackButton, #mediaPlayer .videoControls .nextTrackButton {
        display: none !important;
    }

    .videoTopControlsLogo {
        display: none !important;
    }
}

@media all and (min-width: 800px) {
    .videoControls .positionSliderContainer {
        width: 300px;
    }
}

@media all and (min-width: 1300px) {
    .nowPlayingInfo {
        padding-bottom: 0;
    }

    #videoPlayer .nowPlayingImage img {
        height: auto !important;
        max-width: 400px;
        max-height: 240px;
    }
}

/****************************************/

.status {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    z-index: 99999;
}

#play {
    background-image: url(images/media/play.png);
    opacity: 0;
    display: none;
}

#pause {
    background-image: url(images/media/pause.png);
    opacity: 0;
    display: none;
}

.fadeOut {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: .25s;
    -webkit-animation-duration: .25s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes fadeOut {
    0% {
        transform: scale(.25);
        opacity: 0.7;
    }

    60% {
        transform: scale(.5);
        opacity: 0.5;
    }

    80% {
        transform: scale(.75);
        opacity: 0.3;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        -webkit-transform: scale(.25);
        opacity: 0.7;
    }

    60% {
        -webkit-transform: scale(.5);
        opacity: 0.5;
    }

    80% {
        -webkit-transform: scale(.75);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

.videoPlayerPopupContent {
    width: 200px;
}

.videoChaptersPopup .videoPlayerPopupContent {
    width: 300px;
}

.videoChapterPopupImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.videoPlayerPopupScroller {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 180px;
}

@media all and (min-height: 500px) {
    .videoPlayerPopupScroller {
        max-height: 300px;
    }
}


@media all and (min-height: 600px) {
    .videoPlayerPopupScroller {
        max-height: 400px;
    }
}
