

/* Now playing bar */
#nowPlayingBar {
    padding: 6px .5em;
    border-top: 2px solid green;
}

    #nowPlayingBar .highPosition {
        z-index: 99999;
        position: relative;
        opacity: 0.5;
    }

        #nowPlayingBar .highPosition:hover:not(.barBackground ) {
            opacity: 0.9;
        }

    #nowPlayingBar .barBackground {
        border-top: 2px solid green;
        background: #3c3c3c;
        position: absolute;
        margin: -8px -0.5em !important;
        width: 100%;
        height: 100%;
    }

    #nowPlayingBar > *:not(#mediaElement):not(.mediaFlyoutContainer):not(.barBackground ) {
        margin: 0 1em;
        position: relative;
    }

.nowPlayingBarImage {
    border: 1px solid #a7a7a7!important;
    padding: 1px;
    vertical-align: bottom;
}

.mediaButton {
    display: inline-block;
    position: relative;
    top: -4px;
}

#mediaElement {
    display: inline-block;
    position: relative;
}

.nowPlayingMediaInfo div {
    display: inline-block;
}

.nowPlayingMediaInfo a {
    margin-right: .25em;
}


.nowPlayingMediaInfo {
    display: none;
}

.nowPlayingText {
    position: relative;
    top: -3px;
    margin-left: 3px;
}

@media all and (min-width: 650px) {
    .nowPlayingMediaInfo {
        display: inline-block;
    }
}

.mediaButton img {
    height: 24px;
}

.itemVideo {
    position: absolute;
    z-index: 99998;
    height: auto;
    width: 270px;
    bottom: 45px;
    left: -290px;
    border: 1px solid #666;
    background: #000;
}

.fullscreenVideo {
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 99996;
}

.currentTime {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 110px;
    margin-right: .25em;
}

.mediaSlider {
    position: relative;
    top: -10px;
    width: 50px;
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* IE10 won't see this (good) '*/
    .mediaSlider {
        -webkit-appearance: none;
        -moz-apperance: none;
        background: #777;
        border-radius: 5px;
        vertical-align: bottom;
        height: 3px;
        top: -17px;
    }
}


.mediaSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}

.positionSlider {
    width: 130px;
}

.volumeButton {
    margin-right: .5em!important;
}

::-ms-thumb {
    background-image: linear-gradient(#fefefe,#dddddd);
    width: 15px;
}

::-ms-track {
    padding: 0;
    border: 0;
    color: #777;
}

input[type="range"]::-ms-fill-lower {
    background-color: #777;
}

input[type="range"]::-ms-fill-upper {
    background-color: #777;
}

::-ms-tooltip {
    display: none; /* display and visibility only */
}

@media all and (max-width: 600px) {
    .volumeButton, .volumeSlider, .nowPlayingText, .chaptersButton, .audioTracksButton {
        display: none!important;
    }

    #nowPlayingBar > *:not(#mediaElement):not(.mediaFlyoutContainer):not(.barBackground ) {
        margin: 0 .5em;
    }

    .positionSlider {
        width: 50px;
    }

    .itemVideo:not(.fullscreenVideo) {
        left: -250px;
    }
}

@media all and (max-width: 750px) {
    .positionSlider {
        width: 50px;
    }
}

.mediaFlyoutContainer {
    display: inline-block;
}

.mediaPlayerFlyout {
    width: 200px;
    color: #000;
    background-color: #fff;
    border: 1px solid #999;
    position: absolute;
    z-index: 99999;
    bottom: 55px;
    margin-left: -50px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 13px;
}

.chaptersFlyout {
    width: 250px;
}

.audioTracksFlyout {
    width: 250px;
}

.mediaFlyoutOption {
    display: block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

    .mediaFlyoutOption:hover, .mediaFlyoutOption:focus {
        background-color: #eee;
    }

.selectedMediaFlyoutOption {
    background-color: #d9F4FF;
    background-image: url(images/media/selected.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 16px 16px;
}

.mediaFlyoutOptionImage {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

    .mediaFlyoutOptionImage + .mediaFlyoutOptionContent {
        vertical-align: top;
        display: inline-block;
        width: 85%;
    }

.chaptersFlyout .mediaFlyoutOptionImage {
    width: 40%;
}

    .chaptersFlyout .mediaFlyoutOptionImage + .mediaFlyoutOptionContent {
        width: 60%;
    }

.mediaFlyoutOptionName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
}

.mediaFlyoutOptionSecondaryText {
    font-size: 12px;
    color: #999;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
}

@media (min-width: 750px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 320px;
    }
}

@media (min-width: 1200px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 320px;
    }
}

@media (min-width: 1440px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 400px;
    }

    .positionSlider {
        width: 400px;
    }

    .itemVideo {
        left: -560px;
    }
}

@media (min-width: 1700px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 500px;
    }

    .positionSlider {
        width: 500px;
    }

    .itemVideo {
        left: -660px;
    }
}

@media (min-width: 2400px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 550px;
    }

    .positionSlider {
        width: 550px;
    }

    .itemVideo {
        left: -710px;
    }
}
