.editPageContent {
    padding: 0;
}

.editPageInnerContent {
    padding: 0 15px 100px;
}

.editPageName {
    margin: .5em 0 0;
}

.editPageSidebar {
    display: none;
}

.offlineEditorNode {
    color: #cc3333;
}

.editorNode img {
    height: 18px;
    margin: 0 .35em;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.availableImagesList {
    overflow-y: auto;
    width: 300px;
    height: 400px;
    text-align: center;
}

.remoteImageContainer {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 5px;
    vertical-align: top;
}

.remoteImageDetails {
    background: #eee;
    padding: 3px 5px;
}

.remoteImage {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.remotePosterImage {
    width: 150px;
    height: 225px;
}

.remoteBackdropImage {
    width: 272px;
    height: 153px;
}

.remoteBannerImage {
    width: 272px;
    height: 50px;
}

.remoteDiscImage {
    width: 180px;
    height: 180px;
}

/* Fixes button running outside of list */
.btnRemoveFromEditorList .ui-btn-inner {
    padding-right: 0!important;
}

@media all and (min-width: 500px) {

    .availableImagesList {
        width: 400px;
    }
}

@media all and (min-width: 600px) {

    .availableImagesList {
        width: 500px;
        height: 450px;
    }

    .editPageSidebar {
        position: fixed;
        top: 36px;
        bottom: 0;
        left: 0;
        width: 27.5%;
        overflow-y: scroll;
        overflow-x: auto!important;
        display: block;
        border-right: 1px solid #ccc;
    }

    .editPageInnerContent {
        float: right;
        width: 70%;
    }

    .remoteBannerImage {
        width: 450px;
        height: 83px;
    }
}

.editorTile {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
    background-image: -webkit-linear-gradient(#fff,#f1f1f1);
    background-image: -moz-linear-gradient(#fff,#f1f1f1);
    background-image: -ms-linear-gradient(#fff,#f1f1f1);
    background-image: -o-linear-gradient(#fff,#f1f1f1);
    background-image: linear-gradient(#fff,#f1f1f1);
}

.imageEditorTile {
    width: 200px;
    padding-bottom: 0;
}

.editorTile p {
    margin: .5em 0;
}

.editorTile .tileContent{
    color: #000;
}

.editorTile .ui-field-contain{
    margin: 0 0 .5em;
}

@media all and (min-width: 700px) {

    .availableImagesList {
        width: 600px;
    }
}

@media all and (min-width: 800px) {

    .availableImagesList {
        width: 700px;
    }
}

@media all and (min-width: 900px) {

    .availableImagesList {
        width: 800px;
    }
}

@media all and (min-width: 1000px) {

    .availableImagesList {
        width: 900px;
    }
}

@media all and (min-width: 1100px) {

    .availableImagesList {
        width: 1000px;
    }
}

@media all and (min-width: 1200px) {

    .availableImagesList {
        width: 1100px;
    }
}

@media all and (min-width: 1300px) {

    .availableImagesList {
        width: 1200px;
    }
}

@media all and (min-width: 1400px) {

    .availableImagesList {
        width: 1300px;
    }
}

@media all and (min-width: 1500px) {

    .availableImagesList {
        width: 1400px;
    }
}

@media all and (min-height: 800px) {

    .availableImagesList {
        height: 600px;
    }
}

@media all and (min-height: 900px) {

    .availableImagesList {
        height: 700px;
    }
}
