.editorTab {
    padding-bottom: 200px;
}

.editPageContent {
    padding: 0;
}

.editPageInnerContent {
    padding: 0 15px 100px;
}

.editPageName {
    margin: .5em 0 0;
}

.editPageSidebar {
    display: none;
}

.libraryTree {
    margin-left: .25em;
}

.offlineEditorNode {
    color: #cc3333;
}

.editorNode img {
    height: 18px;
    margin: 0 .35em;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.remoteImageContainer {
    display: inline-block;
    margin: 8px;
    vertical-align: top;
}

.remoteImageDetails {
    text-align: center;
    background: #282828;
    position: relative;
}

    .remoteImageDetails paper-icon-button {
        position: absolute;
        bottom: 0;
        right: 0;
    }

.remoteImageDetailText {
    padding: 5px 5px;
}

    .remoteImageDetailText + .remoteImageDetailText {
        color: #ccc;
    }

.remoteImage {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    /* For the box shadow so that the bottom border isnt underneath the text */
    z-index: 100000;
    position: relative;
}

.remotePosterImage {
    width: 150px;
    height: 225px;
}

.remoteBackdropImage {
    width: 272px;
    height: 153px;
}

.remoteBannerImage {
    width: 272px;
    height: 50px;
}

.remoteDiscImage {
    width: 180px;
    height: 180px;
}

.editorfieldDescription {
    color: #ccc;
}

/* Fixes button running outside of list */
.btnRemoveFromEditorList .ui-btn-inner {
    padding-right: 0 !important;
}

.chkAirDay {
    padding: 0 2em 1em 0;
}

.searchImage {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.searchBackdropImageContainer {
    width: 160px;
}

.searchDiscImageContainer {
    width: 150px;
}

.searchPosterImageContainer {
    width: 140px;
}

.searchBackdropImageContainer .searchImage {
    height: 90px;
}

.searchDiscImageContainer .searchImage {
    height: 150px;
}

.searchPosterImageContainer .searchImage {
    height: 210px;
}

.searchImageContainer .remoteImageDetails {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.editorFieldset > div {
    margin: 1.25em 0;
}

.jstree-anchor {
    font-weight: normal !important;
}

.jstree-wholerow-hovered {
    background: #38c !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.jstree-default .jstree-hovered {
    background: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff !important;
}

.jstree-default .jstree-wholerow-clicked {
    background: #52B54B !important;
}

@media all and (min-width: 600px) {


    .remoteBannerImage {
        width: 450px;
        height: 83px;
    }
}

.libraryReportIndicator {
    position: relative;
    display: block;
    text-align: center;
    vertical-align: middle;
    width: 24px;
    height: 19px;
    padding-top: 3px;
    border-radius: 50%;
    color: #fff;
    background: rgb(204, 0, 0);
    background: rgba(204, 0, 0, .8);
}

    .libraryReportIndicator div:after {
        background-color: transparent !important;
    }

.clearLibraryReportIndicator {
    background-color: transparent !important;
}

.editorTile {
    display: inline-block;
    margin: .5em;
    text-align: center;
    vertical-align: middle;
}

.imageEditorTile {
    width: 256px;
    background-color: #282828;
    padding: 0;
}

.editorTile h3 {
    text-transform: uppercase;
    text-align: center;
    color: #ddd;
}

.editorTile p {
    margin: .5em 0;
}

.editorTileInner {
    padding: .5em;
}

.editorTile .ui-field-contain {
    margin: 0 0 .5em;
}

.imageEditorCollapsible .ui-collapsible-content {
    padding: 0 0 1em 0;
}

.remoteImage:hover, .searchImageContainer:hover {
    -moz-box-shadow: 0 0 0 5px #38c;
    -webkit-box-shadow: 0 0 0 5px #38c;
    box-shadow: 0 0 0 5px #38c;
}

.tblLibraryReport img {
    height: 18px;
    margin-right: 10px;
}

.subtitleViewerContent {
    overflow: auto;
    width: 200px;
    height: 200px;
}

@media all and (min-width: 400px) {

    .subtitleViewerContent {
        width: 300px;
    }
}

@media all and (min-width: 500px) {

    .subtitleViewerContent {
        width: 400px;
    }
}

@media all and (min-width: 600px) {

    .popupIdentify {
        width: 400px;
    }

    .subtitleViewerContent {
        width: 500px;
    }
}

@media all and (min-width: 700px) {

    .popupIdentify {
        width: 500px;
    }

    .subtitleViewerContent {
        width: 600px;
    }
}

@media all and (min-width: 800px) {

    .editPageSidebar {
        position: fixed;
        top: 54px;
        bottom: 0;
        left: 0;
        width: 30%;
        display: block;
        border-right: 1px solid #555;
    }

    .editPageInnerContent {
        float: right;
        width: 67.5%;
    }

    .popupIdentify {
        width: 600px;
    }
}

@media all and (min-width: 900px) {

    .popupIdentify {
        width: 700px;
    }
}

@media all and (min-width: 1000px) {

    .popupIdentify {
        width: 800px;
    }
}

@media all and (min-width: 1100px) {

    .popupIdentify {
        width: 900px;
    }
}

@media all and (min-width: 1200px) {

    .popupIdentify {
        width: 1000px;
    }
}

@media all and (min-width: 1800px) {

    .editPageSidebar {
        width: 25%;
    }

    .editPageInnerContent {
        width: 72.5%;
    }
}

.popupIdentify form, .identificationSearchResults {
    overflow-y: auto;
}

.collectionItemSearchResults {
    max-height: 65%;
    overflow-y: auto;
}


@media all and (min-height: 500px) {

    .popupIdentify form, .identificationSearchResults {
        height: 350px;
    }

    .subtitleViewerContent {
        height: 400px;
    }
}

@media all and (min-height: 600px) {

    .popupIdentify form, .identificationSearchResults {
        height: 450px;
    }

    .collectionItemSearchResults {
        max-height: 70%;
    }

    .subtitleViewerContent {
        height: 500px;
    }
}

@media all and (min-height: 700px) {

    .popupIdentify form, .identificationSearchResults {
        height: 550px;
    }

    .collectionItemSearchResults {
        max-height: 75%;
    }

    .subtitleViewerContent {
        height: 600px;
    }
}

@media all and (min-height: 800px) {

    .popupIdentify form, .identificationSearchResults {
        height: 600px;
    }

    .collectionItemSearchResults {
        max-height: 80%;
    }
}

@media all and (min-height: 900px) {

    .popupIdentify form, .identificationSearchResults {
        height: 700px;
    }
}
