.editPageContent {
    padding: 0;
}

.editPageInnerContent {
    padding: 0 15px 100px;
}

.editPageName {
    margin: .5em 0 0;
}

.editPageSidebar {
    display: none;
}

.libraryTree {
    margin-left: .25em;
}

.offlineEditorNode {
    color: #cc3333;
}

.editorNode img {
    height: 18px;
    margin: 0 .35em;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.availableImagesList {
    overflow-y: auto;
    width: 300px;
    height: 400px;
    text-align: center;
}

.remoteImageContainer {
    display: inline-block;
    margin: 8px;
    vertical-align: top;
}

.remoteImageDetails {
    background: #eee;
    padding: 3px 5px;
}

.remoteImage {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

    /* For the box shadow so that the bottom border isnt underneath the text */
    z-index: 100000;
    position: relative;
}

.remotePosterImage {
    width: 150px;
    height: 225px;
}

.remoteBackdropImage {
    width: 272px;
    height: 153px;
}

.remoteBannerImage {
    width: 272px;
    height: 50px;
}

.remoteDiscImage {
    width: 180px;
    height: 180px;
}

.editorfieldDescription {
    color: #ccc;
}

/* Fixes button running outside of list */
.btnRemoveFromEditorList .ui-btn-inner {
    padding-right: 0!important;
}


.searchImage {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}

.searchBackdropImageContainer {
    width: 160px;
}

.searchDiscImageContainer {
    width: 150px;
}

.searchPosterImageContainer {
    width: 140px;
}

.searchBackdropImageContainer .searchImage {
    height: 90px;
}

.searchDiscImageContainer .searchImage {
    height: 150px;
}

.searchPosterImageContainer .searchImage {
    height: 210px;
}

.searchImageContainer .remoteImageDetails {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@media all and (min-width: 500px) {

    .availableImagesList {
        width: 400px;
    }
}

@media all and (min-width: 600px) {

    .availableImagesList {
        width: 500px;
        height: 450px;
    }

    .remoteBannerImage {
        width: 450px;
        height: 83px;
    }
}

.editorTile {
    display: inline-block;
    margin: 5px;
    padding: 8px;
    border: 1px solid #444;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#2d2d2d));
    background-image: -webkit-linear-gradient(#444,#2d2d2d);
    background-image: -moz-linear-gradient(#444,#2d2d2d);
    background-image: -ms-linear-gradient(#444,#2d2d2d);
    background-image: -o-linear-gradient(#444,#2d2d2d);
    background-image: linear-gradient(#444,#2d2d2d);
}

.imageEditorTile {
    width: 256px;
    padding-bottom: 0;
}

.editorTile p {
    margin: .5em 0;
}

.editorTile .ui-field-contain {
    margin: 0 0 .5em;
}

.imageEditorCollapsible .ui-collapsible-content {
    padding: 0 0 1em 0;
}

.remoteImage:hover, .searchImageContainer:hover {
    -moz-box-shadow: 0 0 12px 7px #38c;
    -webkit-box-shadow: 0 0 12px 7px #38c;
    box-shadow: 0 0 12px 7px #38c;
}

@media all and (min-width: 600px) {

    .popupIdentify {
        width: 400px;
    }
}

@media all and (min-width: 700px) {

    .availableImagesList {
        width: 600px;
    }

    .popupIdentify {
        width: 500px;
    }
}

@media all and (min-width: 800px) {

    .availableImagesList {
        width: 700px;
    }

    .editPageSidebar {
        position: fixed;
        top: 48px;
        bottom: 0;
        left: 0;
        width: 30%;
        overflow-y: scroll;
        overflow-x: auto!important;
        display: block;
        border-right: 1px solid #555;
    }

    .editPageInnerContent {
        float: right;
        width: 67.5%;
    }

    .popupIdentify {
        width: 600px;
    }
}

@media all and (min-width: 900px) {

    .availableImagesList {
        width: 800px;
    }

    .popupIdentify {
        width: 700px;
    }
}

@media all and (min-width: 1000px) {

    .availableImagesList {
        width: 900px;
    }

    .popupIdentify {
        width: 800px;
    }
}

@media all and (min-width: 1100px) {

    .availableImagesList {
        width: 1000px;
    }

    .popupIdentify {
        width: 900px;
    }
}

@media all and (min-width: 1200px) {

    .availableImagesList {
        width: 1100px;
    }

    .popupIdentify {
        width: 1000px;
    }
}

@media all and (min-width: 1300px) {

    .availableImagesList {
        width: 1200px;
    }
}

@media all and (min-width: 1400px) {

    .availableImagesList {
        width: 1300px;
    }
}

@media all and (min-width: 1500px) {

    .availableImagesList {
        width: 1400px;
    }
}

@media all and (min-width: 1800px) {

    .editPageSidebar {
        width: 25%;
    }

    .editPageInnerContent {
        width: 72.5%;
    }
}

.popupIdentifyForm, .identificationSearchResults {
    overflow-y: auto;
}


@media all and (min-height: 500px) {

    .popupIdentifyForm, .identificationSearchResults {
        height: 350px;
    }
}

@media all and (min-height: 600px) {

    .popupIdentifyForm, .identificationSearchResults {
        height: 450px;
    }
}

@media all and (min-height: 700px) {

    .popupIdentifyForm, .identificationSearchResults {
        height: 550px;
    }
}

@media all and (min-height: 800px) {

    .availableImagesList {
        height: 600px;
    }

    .popupIdentifyForm, .identificationSearchResults {
        height: 600px;
    }
}

@media all and (min-height: 900px) {

    .availableImagesList {
        height: 700px;
    }

    .popupIdentifyForm, .identificationSearchResults {
        height: 700px;
    }
}
