.btnNotifications {
    text-decoration: none!important;
}

.btnNotificationsInner {
    text-decoration: none!important;
    vertical-align: middle;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0 12px;
    line-height: 22px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #353535;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#353535),to(#313131));
    background-image: -webkit-linear-gradient(top,#353535,#313131);
    background-image: -moz-linear-gradient(top,#353535,#313131);
    background-image: -ms-linear-gradient(top,#353535,#313131);
    background-image: -o-linear-gradient(top,#353535,#313131);
    background-image: linear-gradient(top,#353535,#313131);
    border: 1px solid #444;
    color: #fff;
    font-size: 12px;
}

.levelNormal {
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border-color: #3079ed;
    color: #fff!important;
}

.levelWarning {
    background-color: #FF7537;
    background-image: none;
    border-color: #FF7537;
    color: #fff!important;
}

.levelError {
    background-color: #d14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    border-color: #c6322a;
    color: #fff!important;
}

.notificationsFlyout {
    width: 300px;
}

.flyoutNotification {
    border-top: 1px solid #ccc;
    background: #f8f8f8;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .flyoutNotification p {
        margin: .5em 0;
        white-space: normal;
        max-width: 95%;
    }

    .flyoutNotification:last-child {
        border-bottom: 1px solid #ccc;
    }

.notificationName {
    font-weight: bold;
    color: #555;
}

.notificationImage {
    display: none;
}

.unreadFlyoutNotification {
    background-color: #ECEEF4;
}

.btnMarkReadContainer, .btnNotificationListContainer {
    padding: 0 .5em;
}

.notificationsList {
    border-bottom: 1px solid #ddd;
}

    .notificationsList .flyoutNotification {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

.imgNotification, .imgNotificationInner {
    width: 40px;
    height: 40px;
}

.imgNotificationInner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.imgNotificationIcon {
    background-size: 50% auto;
}


.imgNotificationNormal {
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
}

    .imgNotificationNormal .imgNotificationInner {
        background-image: url(images/notifications/info.png);
    }

.imgNotificationError {
    background-color: #d14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
}

    .imgNotificationError .imgNotificationInner {
        background-image: url(images/notifications/error.png);
    }

.imgNotificationWarning {
    background-color: #FF7537;
}

    .imgNotificationWarning .imgNotificationInner {
        background-image: url(images/notifications/error.png);
    }

.notificationContent {
    padding: 0 .5em;
}

@media all and (min-width: 350px) {
    .notificationsFlyout {
        width: 320px;
    }
}

@media all and (min-width: 400px) {
    .notificationsFlyout {
        width: 370px;
    }
}

@media all and (min-width: 450px) {
    .notificationsFlyout {
        width: 400px;
    }

    .notificationImage {
        margin: 0 .5em 0 1em;
        padding: .5em 0;
        display: inline-block;
        vertical-align: top;
    }

    .notificationContent {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
    }
}

@media all and (min-width: 500px) {
    .notificationsFlyout {
        width: 450px;
    }

    .notificationContent p {
        max-width: 350px;
    }
}
