.btnNotifications {
    text-decoration: none !important;
}

.btnNotificationsInner {
    text-decoration: none !important;
    vertical-align: middle;
    border-radius: 1000px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #444;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

.levelNormal {
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    color: #fff !important;
}

.levelWarning {
    background-color: #FF7537;
    background-image: none;
    color: #fff !important;
}

.levelError {
    background-color: #d14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    color: #fff !important;
}

.flyoutNotification {
    border-top: 1px solid #eee;
    padding: 0 0 .5em;
}

    .flyoutNotification p {
        margin: .5em 0;
        white-space: normal;
        max-width: 95%;
    }

    .flyoutNotification:last-child {
        border-bottom: 1px solid #eee;
    }

.notificationTime {
    color: green;
}

.notificationImage {
    margin: 0 .5em 0 1em;
    padding: .5em 0;
    display: inline-block;
    vertical-align: top;
    display: none;
}

.notificationContent {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.unreadFlyoutNotification {
    color: blue;
}

.notificationsList {
    border-bottom: 1px solid #ddd;
}

.imgNotification, .imgNotificationInner {
    width: 40px;
    height: 40px;
}

.imgNotificationInner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.imgNotificationIcon {
    background-size: 50% auto;
}

.imgNotificationNormal {
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
}

    .imgNotificationNormal .imgNotificationInner {
        background-image: url(images/notifications/info.png);
    }

.imgNotificationError {
    background-color: #d14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
}

    .imgNotificationError .imgNotificationInner {
        background-image: url(images/notifications/error.png);
    }

.imgNotificationWarning {
    background-color: #FF7537;
}

    .imgNotificationWarning .imgNotificationInner {
        background-image: url(images/notifications/error.png);
    }
