.btnNotifications {
    text-decoration: none !important;
    outline: 0 !important;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.btnNotificationsInner {
    color: #fff;
    font-weight: 500;
    position: relative;
    border-radius: 1000px;
    background: #444;
    line-height: 28px;
    min-width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.levelNormal {
    background-color: #43A047;
}

.levelWarning {
    background-color: #FF7537;
}

.levelError {
    background-color: #d14836;
}