/*.nowPlayingPage {
    padding-top: 1em !important;
}*/

.remoteControlContent {
    padding: 1em 0 0;
    max-width: 96%;
}

.nowPlayingInfoContainer {
    display: flex;
    flex-direction: row;
}

.nowPlayingPageTitle {
    margin: 0 0 .5em .5em;
}

.nowPlayingPositionSliderContainer {
    margin: .7em 0 .7em 1em;
}

.nowPlayingInfoButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 130%;
}

.nowPlayingPageImageContainer {
    width: 20%;
    margin-right: .25em;
    position: relative;
    flex-shrink: 0;
}

@media all and (min-width: 800px) {

    .nowPlayingPageImageContainer {
        width: 16%;
    }
}

.nowPlayingInfoControls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nowPlayingPageImage {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    -moz-box-shadow: 0 0 1.9vh #000;
    -webkit-box-shadow: 0 0 1.9vh #000;
    box-shadow: 0 0 1.9vh #000;
    border: solid 1px #222;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media all and (orientation: portrait) and (max-width: 800px) {

    .remoteControlContent {
        padding-top: 0;
    }

    .nowPlayingInfoContainer {
        flex-direction: column !important;
        align-items: center;
    }

    .nowPlayingPageTitle {
        text-align: center;
        margin: .5em 0 .75em 0;
    }

    .nowPlayingPositionSliderContainer {
        margin: .7em 1em;
    }

    .nowPlayingInfoButtons {
        justify-content: center;
    }

    .nowPlayingPageImageContainer {
        width: auto;
        margin-right: 0;
    }

    .nowPlayingInfoControls {
        margin-top: 1em;
    }

    .nowPlayingPageImage {
        width: auto;
        height: 36vh;
    }
}

.nowPlayingTime {
    display: flex;
    align-items: center;
    margin: 0 1em;
}

.nowPlayingSecondaryButtons {
    display: flex;
    align-items: center;
}

@media all and (min-width: 800px) {

    .nowPlayingSecondaryButtons {
        flex-grow: 1;
        justify-content: flex-end;
    }
}

@media all and (min-width: 1280px) {

    .nowPlayingPageImageContainer {
        margin-right: .75em;
    }
}

.nowPlayingNavButtonContainer {
    width: 400px;
}

.nowPlayingPageRepeatActive {
    color: #2ad !important;
}

.smallBackdropPosterItem .cardOverlayInner > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.playlistIndexIndicatorImage {
    background-size: initial !important;
    background-image: url(images/ani_equalizer_white.gif) !important;
}

.hideVideoButtons .videoButton {
    display: none;
}

.nowPlayingCastIcon {
    font-size: 86%;
}

.nowPlayingVolumeSliderContainer {
    width: 6em;
}



@media all and (max-width: 400px) {

    .playlist .listItemMediaInfo {
        display: none !important;
    }
}
