.nowPlayingText {
    display: inline-block;
    position: relative;
    top: -7px;
    margin: 0 0 0 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    max-width: 130px;
}

.mediaButton.infoButton {
    width: 34px;
    height: 34px;
}

.mediaButton.active {
    color: #52B54B;
}

@media (min-width: 500px) {
    .nowPlayingText {
        max-width: 180px;
    }
}

@media (min-width: 600px) {
    .nowPlayingText {
        max-width: 200px;
    }
}

@media (min-width: 800px) {
    .nowPlayingText {
        margin-right: 30px;
    }
}

.mediaButton img {
    height: 24px;
}

.currentTime {
    display: inline-block;
    vertical-align: middle;
    max-width: 110px;
    margin-right: 2em;
    font-weight: normal;
}

/* Now playing bar */
.nowPlayingBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* Above everything, except for the video player and popup overlays */
    z-index: 1097;
    color: #fff;
    background-color: #1C1C1F;
    text-align: center;
    /*box-shadow: 0 -2px 2px 0 rgba(0,0,0,.14),-1px 5px 1px rgba(0,0,0,.12);*/
    will-change: transform;
    contain: layout style;
}

.hiddenNowPlayingBar .nowPlayingBar {
    display: none !important;
}

.nowPlayingBarTop {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mediaButton, .nowPlayingBarUserDataButtons .btnUserItemRating {
    vertical-align: middle;
    color: #e8e8e8;
    margin: 0;
    text-align: center;
}

    .mediaButton i {
        height: auto;
        width: auto;
        font-size: 36px;
    }

    .mediaButton.remoteControlButton i, .mediaButton.muteButton i, .mediaButton.unmuteButton i, .mediaButton.castButton i, .mediaButton.infoButton i {
        height: auto;
        width: auto;
        font-size: 24px;
    }

.nowPlayingImage {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em;
}

    .nowPlayingImage img {
        vertical-align: bottom;
    }

     .nowPlayingImage img {
        height: 64px;
    }

        .nowPlayingBar .nowPlayingImage {
            width: 64px;
            height: 64px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

.nowPlayingBarText {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    max-width: 130px;
}

.repeatActive {
    color: #52B54B;
}

@media (min-width: 500px) {
    .nowPlayingBarText {
        max-width: 180px;
    }
}

@media (min-width: 600px) {
    .nowPlayingBarText {
        max-width: 200px;
    }
}

@media (min-width: 700px) {
    .nowPlayingBarText {
        max-width: 240px;
    }
}

@media (min-width: 800px) {
    .nowPlayingBarText {
        max-width: 300px;
        margin-right: 30px;
    }
}

@media (min-width: 900px) {
    .nowPlayingBarText {
        max-width: 400px;
    }
}

.nowPlayingBarCenter {
    vertical-align: middle;
    text-align: center;
    margin-top: 6px;
    /* Need this to make sure it's on top of nowPlayingBarPositionContainer so that buttons are fully clickable */
    z-index: 2;
    position: absolute;
    left: 200px;
    right: 200px;
    top: 0;
}

.nowPlayingBarPositionContainer {
    position: absolute !important;
    left: 64px;
    top: -8px;
    right: 0;
    z-index: 1;
}

    .nowPlayingBarPositionContainer .mdl-slider__background-upper {
        background: #333;
    }

.noMediaProgress .nowPlayingBarPositionContainer {
    display: none;
}

.nowPlayingBarRight {
    position: relative;
    margin: 0 1em 0 auto;
    /* Need this to make sure it's on top of nowPlayingBarPositionContainer so that buttons are fully clickable */
    z-index: 2;
    display: flex;
    align-items: center;
}

.nowPlayingBarCurrentTime {
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-left: 50px;
}

.nowPlayingBarVolumeSliderContainer {
    margin-right: 2em;
}

.nowPlayingBarUserDataButtons {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}


@media all and (max-width: 1400px) {

    .nowPlayingBarUserDataButtons {
        display: none;
    }
}

@media all and (max-width: 1100px) {

    .nowPlayingBarVolumeSliderContainer, .nowPlayingBar .muteButton, .nowPlayingBar .unmuteButton {
        display: none !important;
    }
}

@media all and (max-width: 1000px) {

    .nowPlayingBar .playlistButton {
        display: none !important;
    }
}

@media all and (max-width: 800px) {

    .nowPlayingBarCurrentTime {
        padding-left: 0;
        top: 22px;
        right: 140px;
        position: absolute;
    }

    .nowPlayingBarCenter > *:not(.nowPlayingBarCurrentTime) {
        display: none !important;
    }

    .toggleRepeatButton {
        display: none;
    }
}

@media all and (min-width: 800px) {

    .nowPlayingBarRight .pauseButton {
        display: none;
    }

    .nowPlayingBarRight .unpauseButton {
        display: none;
    }
}

@media all and (max-width: 600px) {

    .nowPlayingBarCurrentTime {
        display: none;
    }
}
