.posterItem {
    margin: 5px 5px;
    text-shadow: none;
    font-weight: normal!important;
    display: inline-block;
    position: relative;
    color: #fff!important;
    text-decoration: none;
    text-align: left;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.posterItemOverlayTarget {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
    z-index: 999;
    display: none;
}

.posterItemOverlayInner {
    padding: 11px 12px 10px;
}

.posterItemImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #000;
    position: relative;
}

.posterItem:hover .posterItemImage {
    -moz-box-shadow: 0 0 12px 7px #38c;
    -webkit-box-shadow: 0 0 12px 7px #38c;
    box-shadow: 0 0 12px 7px #38c;
}

.coveredPosterItemImage {
    background-size: cover;
    background-position: center center;
}

.transparentPosterItem .posterItemImage {
    background-color: transparent;
}

.defaultPosterItemImage {
    background-color: #999;
}

.posterItemStoreText {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    text-shadow: none;
    padding-left: 2px;
}

.posterItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    padding: 5px 4px 4px;
    text-shadow: none;
    font-size: 13px;
    font-weight: 400;
}

.posterItemTextOverlay {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    left: 0;
    right: 0;
}

    .posterItemTextOverlay .posterItemText {
        background-color: transparent;
        padding-left: 5px;
        padding: 0 5px 4px;
    }

        .posterItemTextOverlay .posterItemText:last-child:not(.posterItemProgress) {
            padding-bottom: 8px;
        }

.posterItemTextCentered {
    text-align: center;
}

.posterItemText + .posterItemProgress {
    padding-top: 0;
}

.posterItemDefaultText {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.squarePosterItem {
    width: 148px;
}

    .squarePosterItem .posterItemImage {
        height: 148px;
    }

.storeReviewCount {
    display: none;
}


.myLibraryPosterItem {
    width: 42%;
}

    .myLibraryPosterItem .posterItemImage {
        height: 36px;
        background-position: 12px center;
        background-size: 20px 20px;
        background-color: rgba(51, 136, 204, 0.5);
        background-color: rgba(82, 181, 75, 0.5);
    }

    .myLibraryPosterItem .posterItemDefaultText {
        top: 0;
        left: 0;
        line-height: 36px;
        text-align: left;
        padding: 0 0 0 43px;
    }

.moviesPosterItem .posterItemImage {
    background-color: rgba(176, 94, 81, 0.5);
}

.musicPosterItem .posterItemImage {
    background-color: rgba(217, 145, 67, 0.5);
}

.tvshowsPosterItem .posterItemImage {
    background-color: rgba(77, 88, 164, 0.5);
}

.gamesPosterItem .posterItemImage {
    background-color: rgba(183, 202, 72, 0.5);
}

.channelsPosterItem .posterItemImage {
    background-color: rgba(51, 136, 204, 0.5);
}

.livetvPosterItem .posterItemImage {
    background-color: rgba(255, 233, 127, 0.5);
}

.backdropPosterItem {
    width: 128px;
}

    .backdropPosterItem .posterItemImage {
        height: 72px;
    }

.smallBackdropPosterItem {
    width: 120px;
}

    .smallBackdropPosterItem .posterItemImage {
        height: 67.5px;
    }

.portraitPosterItem {
    width: 96px;
}

    .portraitPosterItem .posterItemImage {
        height: 144px;
    }

.bannerPosterItem {
    width: 280px;
}

    .bannerPosterItem .posterItemImage {
        height: 51.8px;
    }

.posterItemProgress {
    line-height: 7px;
}

    .posterItemProgress .itemProgressBar {
        height: 7px;
        width: 100%;
        opacity: .8;
    }

.miniPosterItemProgress {
    /* Make sure it's on top of the fade gradient '*/
    z-index: 1000;
}

    .miniPosterItemProgress .itemProgressBar {
        height: 6px;
        opacity: 1;
    }

.sessionPosterItem .posterItemText:not(.posterItemName) {
    color: #000;
    text-align: left;
}

.sessionPosterItem .posterItemName {
    color: #fff!important;
}

.sessionPosterItem .posterItemDefaultText {
    color: #000!important;
    font-weight: normal !important;
    top: 42%;
}

@media all and (max-width: 600px) {

    .packageReviewText {
        display: none;
    }
}

@media all and (max-width: 1200px) {

    .portraitPosterItem .posterItemOverlayInner {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media all and (min-width: 360px) {

    .myLibraryPosterItem {
        width: 45%;
    }

    .backdropPosterItem {
        width: 148px;
    }

        .backdropPosterItem .posterItemImage {
            height: 83.25px;
        }

    .smallBackdropPosterItem {
        width: 157px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 88.3125px;
        }
}

@media all and (min-width: 540px) {

    .backdropPosterItem {
        width: 266px;
    }

        .backdropPosterItem .posterItemImage {
            height: 149.625px;
        }

    .smallBackdropPosterItem {
        width: 180px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 101.25px;
        }
}

@media all and (min-width: 600px) {


    .squarePosterItem {
        width: 170px;
    }

        .squarePosterItem .posterItemImage {
            height: 170px;
        }

    .portraitPosterItem {
        width: 128px;
    }

        .portraitPosterItem .posterItemImage {
            height: 192px;
        }
}

@media all and (min-width: 650px) {

    .backdropPosterItem {
        width: 282px;
    }

        .backdropPosterItem .posterItemImage {
            height: 158.625px;
        }

    .smallBackdropPosterItem {
        width: 190px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 113.625px;
        }

    .bannerPosterItem {
        width: 300px;
    }

        .bannerPosterItem .posterItemImage {
            height: 55.5px;
        }
}

@media all and (min-width: 600px) {

    .myLibraryPosterItem {
        width: 30%;
    }
}

@media all and (min-width: 750px) {

    .portraitPosterItem {
        width: 118px;
    }

        .portraitPosterItem .posterItemImage {
            height: 177px;
        }

    .bannerPosterItem {
        width: 330px;
    }

        .bannerPosterItem .posterItemImage {
            height: 61.05px;
        }
}

@media all and (min-width: 1000px) {

    .myLibraryPosterItem {
        width: 23%;
    }

    .smallBackdropPosterItem {
        width: 208px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 117px;
        }
}

@media all and (min-width: 1200px) {

    .portraitPosterItem {
        width: 144px;
    }

        .portraitPosterItem .posterItemImage {
            height: 216px;
        }

    .storeReviewCount {
        display: inline;
    }

    .bannerPosterItem {
        width: 500px;
    }

        .bannerPosterItem .posterItemImage {
            height: 92.5px;
        }
}

@media all and (min-width: 1440px) {

    .myLibraryPosterItem {
        width: 19%;
    }

    .squarePosterItem {
        width: 167px;
    }

        .squarePosterItem .posterItemImage {
            height: 167px;
        }

    .backdropPosterItem {
        width: 298px;
    }

        .backdropPosterItem .posterItemImage {
            height: 167.625px;
        }
}
