.posterItem {
    margin: 7px;
    text-shadow: none;
    font-weight: normal!important;
    display: inline-block;
    position: relative;
    color: #fff!important;
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    border: 2px solid #1b1b1b;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

    .posterItem:hover {
        -moz-box-shadow: 0 0 20px 3px #2572EB;
        -webkit-box-shadow: 0 0 20px 3px #2572EB;
        box-shadow: 0 0 20px 3px #2572EB;
    }

.posterItemImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #000;
}

.transparentPosterItem .posterItemImage {
    background-color: transparent;
}

.defaultPosterItemImage {
    background-color: #999;
}

.borderlessPosterItem {
    border: 0;
}

.posterItemStoreText {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    text-shadow: none;
    padding-left: 2px;
}

.posterItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    padding: 5px 6px 4px;
    background-color: #111;
    text-shadow: none;
}

.posterItemTextOverlay {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    left: 0;
    right: 0;
}


.posterItemText + .posterItemText {
    padding-top: 2px;
}

.posterItemTextOverlay .posterItemText {
    background-color: transparent;
    padding-top: 1px !important;
}

    .posterItemTextOverlay .posterItemText:first-child {
        font-size: 14px;
        font-weight: bold;
    }

.posterItemTextCentered {
    text-align: center;
}

.posterItemText + .posterItemProgress {
    padding-top: 0;
}

.posterItemDefaultText {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.squarePosterItem {
    width: 150px;
}

    .squarePosterItem .posterItemImage {
        height: 150px;
    }

.storeItem {
    display: inline-block;
    margin: 0 15px 15px 0;
}

.storeItem, .storePosterItem {
    width: 160px;
}

    .storePosterItem .posterItemImage {
        height: 90px;
    }

.storeReviewCount {
    display: none;
}


.backdropPosterItem {
    width: 288px;
}

    .backdropPosterItem .posterItemImage {
        height: 162px;
    }

    .smallBackdropPosterItem {
        width: 192px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 108px;
        }

.portraitPosterItem {
    width: 100px;
}

    .portraitPosterItem .posterItemImage {
        height: 150px;
    }

.posterItemProgress .itemProgressBar {
    height: 11px;
    width: 100%;
    opacity: .8;
}

@media all and (min-width: 540px) {

    .backdropPosterItem {
        width: 256px;
    }

        .backdropPosterItem .posterItemImage {
            height: 144px;
        }
}

@media all and (min-width: 650px) {

    .backdropPosterItem {
        width: 272px;
    }

        .backdropPosterItem .posterItemImage {
            height: 153px;
        }

    .storeItem, .storePosterItem {
        width: 192px;
    }

        .storePosterItem .posterItemImage {
            height: 110px;
        }
}

@media all and (min-width: 750px) {

    .portraitPosterItem {
        width: 100px;
    }

        .portraitPosterItem .posterItemImage {
            height: 150px;
        }
}

@media all and (min-width: 1200px) {

    .backdropPosterItem {
        width: 272px;
    }

        .backdropPosterItem .posterItemImage {
            height: 153px;
        }

    .portraitPosterItem {
        width: 108px;
    }

        .portraitPosterItem .posterItemImage {
            height: 162px;
        }

    .smallBackdropPosterItem {
        width: 224px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 126px;
        }

    .storeItem, .storePosterItem {
        width: 270px;
    }

        .storePosterItem .posterItemImage {
            height: 154px;
        }

    .posterItemStoreText {
        font-size: 15px;
    }

    .storeReviewCount {
        display: inline;
    }
}

@media all and (min-width: 1440px) {

    .squarePosterItem {
        width: 170px;
    }

        .squarePosterItem .posterItemImage {
            height: 170px;
        }

    .portraitPosterItem {
        width: 134px;
    }

        .portraitPosterItem .posterItemImage {
            height: 201px;
        }


        .portraitPosterItem .itemProgressText {
            display: inline;
        }

    .backdropPosterItem {
        width: 288px;
    }

        .backdropPosterItem .posterItemImage {
            height: 162px;
        }
}

@media all and (min-width: 1920px) {

    .squarePosterItem {
        width: 200px;
    }

        .squarePosterItem .posterItemImage {
            height: 200px;
        }

    .portraitPosterItem {
        width: 160px;
    }

        .portraitPosterItem .posterItemImage {
            height: 240px;
        }
}
