.posterItem {
    margin: 8px;
    text-shadow: none;
    font-weight: normal!important;
    display: inline-block;
    position: relative;
    color: #fff!important;
    text-decoration: none;
    text-align: left;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*.posterItemOverlayTarget {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 999;
}*/

.posterItemOverlayTarget {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
    z-index: 999;
    display: none;
}

.posterItemOverlayInner {
    padding: 11px 12px 10px;
}

.smallBackdropPosterItem, .smallPosterItem {
    margin: 5px;
}

.posterItemImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #000;
    position: relative;
}

.posterItem:hover .posterItemImage {
    -moz-box-shadow: 0 0 12px 7px #38c;
    -webkit-box-shadow: 0 0 12px 7px #38c;
    box-shadow: 0 0 12px 7px #38c;
}

.coveredPosterItemImage {
    background-size: cover;
    background-position: center center;
}

.transparentPosterItem .posterItemImage {
    background-color: transparent;
}

.defaultPosterItemImage {
    background-color: #999;
}

.borderlessPosterItem .posterItemImage {
    border-color: transparent;
}

.posterItemStoreText {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    text-shadow: none;
    padding-left: 2px;
}

.posterItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    padding: 5px 4px 4px;
    text-shadow: none;
    font-size: 13px;
    font-weight: 400;
}

.posterItemTextOverlay {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    left: 0;
    right: 0;
}

    .posterItemTextOverlay .posterItemText {
        background-color: transparent;
        padding-left: 5px;
        padding: 0 5px 5px;
    }

        .posterItemTextOverlay .posterItemText:first-child {
            font-weight: bold;
            font-size: 14px;
        }

        .posterItemTextOverlay .posterItemText:last-child {
            padding-bottom: 8px;
        }

.posterItemTextCentered {
    text-align: center;
}

.posterItemText + .posterItemProgress {
    padding-top: 0;
}

.posterItemDefaultText {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.squarePosterItem {
    width: 142px;
}

    .squarePosterItem .posterItemImage {
        height: 142px;
    }

.storeReviewCount {
    display: none;
}


.backdropPosterItem {
    width: 142px;
}

    .backdropPosterItem .posterItemImage {
        height: 79.875px;
    }

.smallBackdropPosterItem {
    width: 157px;
}

    .smallBackdropPosterItem .posterItemImage {
        height: 88.3125px;
    }

.portraitPosterItem {
    width: 90px;
}

    .portraitPosterItem .posterItemImage {
        height: 135px;
    }

.posterItemProgress .itemProgressBar {
    height: 10px;
    width: 100%;
    opacity: .6;
}

.miniPosterItemProgress {
    /* Make sure it's on top of the fade gradient '*/
    z-index: 1000;
}

    .miniPosterItemProgress .itemProgressBar {
        height: 8px;
        opacity: 1;
    }

@media all and (max-width: 600px) {

    .packageReviewText {
        display: none;
    }
}

@media all and (min-width: 540px) {

    .backdropPosterItem {
        width: 260px;
    }

        .backdropPosterItem .posterItemImage {
            height: 146.25px;
        }

    .smallBackdropPosterItem {
        width: 184px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 103.5px;
        }
}

@media all and (min-width: 600px) {


    .squarePosterItem {
        width: 164px;
    }

        .squarePosterItem .posterItemImage {
            height: 164px;
        }

    .portraitPosterItem {
        width: 122px;
    }

        .portraitPosterItem .posterItemImage {
            height: 183px;
        }
}

@media all and (min-width: 650px) {

    .backdropPosterItem {
        width: 276px;
    }

        .backdropPosterItem .posterItemImage {
            height: 155.25px;
        }

    .smallBackdropPosterItem {
        width: 196px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 110.25px;
        }
}

@media all and (min-width: 750px) {

    .portraitPosterItem {
        width: 112px;
    }

        .portraitPosterItem .posterItemImage {
            height: 168px;
        }
}

@media all and (min-width: 1000px) {


    .smallBackdropPosterItem {
        width: 202px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 113.625px;
        }
}

@media all and (min-width: 1200px) {

    .backdropPosterItem {
        width: 276px;
    }

        .backdropPosterItem .posterItemImage {
            height: 155.25px;
        }

    .portraitPosterItem {
        width: 138px;
    }

        .portraitPosterItem .posterItemImage {
            height: 207px;
        }

    .storeReviewCount {
        display: inline;
    }
}

@media all and (min-width: 1440px) {

    .squarePosterItem {
        width: 174px;
    }

        .squarePosterItem .posterItemImage {
            height: 174px;
        }

    .backdropPosterItem {
        width: 292px;
    }

        .backdropPosterItem .posterItemImage {
            height: 164.25px;
        }
}

@media all and (min-width: 1920px) {

    .portraitPosterItem {
        width: 160px;
    }

        .portraitPosterItem .posterItemImage {
            height: 240px;
        }

    .squarePosterItem {
        width: 184px;
    }

        .squarePosterItem .posterItemImage {
            height: 184px;
        }
}
/********************/
.ribbon-wrapper {
    display: none;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.ribbon {
    font: bold 11px Sans-Serif;
    color: #333;
    text-align: center;
    color: #eee;
    text-shadow: rgba(51, 51, 51, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    position: relative;
    padding: 2px 0;
    right: 15px;
    top: 5px;
    width: 60px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.ribbon-3d {
    background-color: #3344ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#ff0033));
    background-image: -webkit-linear-gradient(top, #3344ff, #ff0033);
    background-image: -moz-linear-gradient(top, #3344ff, #ff0033);
    background-image: -ms-linear-gradient(top, #3344ff, #ff0033);
    background-image: -o-linear-gradient(top, #3344ff, #ff0033);
}
.ribbon-blue {
    background-color: #1199ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1199ff), to(#3333ff));
    background-image: -webkit-linear-gradient(top, #1199ff, #3333ff);
    background-image: -moz-linear-gradient(top, #1199ff, #3333ff);
    background-image: -ms-linear-gradient(top, #1199ff, #3333ff);
    background-image: -o-linear-gradient(top, #1199ff, #3333ff);
}
.ribbon-red {
    background-color: #ff3333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff3333), to(#992233));
    background-image: -webkit-linear-gradient(top, #ff3333, #992233);
    background-image: -moz-linear-gradient(top, #ff3333, #992233);
    background-image: -ms-linear-gradient(top, #ff3333, #992233);
    background-image: -o-linear-gradient(top, #ff3333, #992233);
}