.posterItem {
    margin: 5px 5px;
    text-shadow: none;
    font-weight: normal!important;
    display: inline-block;
    position: relative;
    color: #fff!important;
    text-decoration: none;
    text-align: left;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.posterItemOverlayTarget {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
    z-index: 999;
    display: none;
}

.posterItemOverlayInner {
    padding: 11px 12px 10px;
}

    .posterItemOverlayInner button:last-child {
        margin-right: 0!important;
    }

    .posterItemOverlayInner p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.posterItemImage {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #000;
    position: relative;
}

#scenesContent .posterItemImage {
    background-position-y: center;
}

.posterItem:hover .posterItemImage {
    -moz-box-shadow: 0 0 0 5px #38c;
    -webkit-box-shadow: 0 0 0 5px #38c;
    box-shadow: 0 0 0 5px #38c;
}

.coveredPosterItemImage {
    background-size: cover;
    background-position: center center;
}

.transparentPosterItem .posterItemImage {
    background-color: transparent;
}

.defaultPosterItemImage {
    background-color: #999;
}

.posterItemStoreText {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    text-shadow: none;
    padding-left: 2px;
}

.posterItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    padding: 5px 4px 4px;
    text-shadow: none;
    font-size: 13px;
    font-weight: 400;
}

.posterItemTextOverlay {
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
    left: 0;
    right: 0;
}

    .posterItemTextOverlay .posterItemText {
        background-color: transparent;
        padding-left: 5px;
        padding: 0 5px 4px;
    }

        .posterItemTextOverlay .posterItemText:last-child:not(.posterItemProgress) {
            padding-bottom: 8px;
        }

.posterItemTextCentered {
    text-align: center;
}

.posterItemText + .posterItemProgress {
    padding-top: 0;
}

.posterItemDefaultText {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

.storeReviewCount {
    display: none;
}

.smallBackdropPosterItem .posterItemOverlayInner > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.myLibraryPosterItem {
    width: 42%;
    min-width: 50px;
}

    .myLibraryPosterItem .posterItemImage {
        height: 34px;
        background-position: 9px center;
        background-size: 14px 14px;
        background-color: rgba(51, 136, 204, 0.7);
        background-color: rgba(82, 181, 75, 0.7);
    }

    .myLibraryPosterItem .posterItemDefaultText {
        top: 0;
        left: 0;
        line-height: 34px;
        text-align: left;
        padding: 0 0 0 34px;
    }

.moviesPosterItem .posterItemImage, .trailersPosterItem .posterItemImage {
    background-color: rgba(176, 94, 81, 0.7);
}

.musicPosterItem .posterItemImage {
    background-color: rgba(217, 145, 67, 0.7);
}

.tvshowsPosterItem .posterItemImage {
    background-color: rgba(77, 88, 164, 0.7);
}

.gamesPosterItem .posterItemImage {
    background-color: rgba(183, 202, 72, 0.7);
}

.channelsPosterItem .posterItemImage {
    background-color: rgba(51, 136, 204, 0.7);
}

.livetvPosterItem .posterItemImage {
    background-color: rgba(255, 233, 127, 0.7);
}

.homevideosPosterItem .posterItemImage {
    background-color: rgba(110, 52, 32, 0.7);
}

.adultvideosPosterItem .posterItemImage {
    background-color: rgba(184, 83, 116, 0.7);
}

.photosPosterItem .posterItemImage {
    background-color: rgba(127, 0, 0, 0.7);
}

.musicvideosPosterItem .posterItemImage {
    background-color: rgba(143, 54, 168, 0.7);
}

.squarePosterItem {
    width: 140px;
}

    .squarePosterItem .posterItemImage {
        height: 140px;
    }

.backdropPosterItem {
    width: 128px;
}

    .backdropPosterItem .posterItemImage {
        height: 72px;
    }

.smallBackdropPosterItem {
    width: 120px;
}

    .smallBackdropPosterItem .posterItemImage {
        height: 67.5px;
    }

.miniBackdropPosterItem {
    width: 120px;
}

    .miniBackdropPosterItem .posterItemImage {
        height: 67.5px;
    }

.portraitPosterItem {
    width: 96px;
}

    .portraitPosterItem .posterItemImage {
        height: 144px;
    }

.bannerPosterItem {
    width: 280px;
}

    .bannerPosterItem .posterItemImage {
        height: 51.8px;
    }

.posterItemProgress {
    line-height: 7px;
}

    .posterItemProgress .itemProgressBar {
        height: 7px;
        width: 100%;
        opacity: .8;
    }

.miniPosterItemProgress {
    /* Make sure it's on top of the fade gradient '*/
    z-index: 1000;
}

    .miniPosterItemProgress .itemProgressBar {
        height: 6px;
        opacity: 1;
    }

.sessionPosterItem .posterItemText:not(.posterItemName) {
    color: #000;
    text-align: left;
}

.sessionPosterItem .posterItemName {
    color: #fff!important;
}

.sessionPosterItem .posterItemDefaultText {
    color: #000!important;
    font-weight: normal !important;
    top: 42%;
}

@media all and (max-width: 600px) {

    .packageReviewText {
        display: none;
    }
}

@media all and (max-width: 1200px) {

    .portraitPosterItem .posterItemOverlayInner {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media all and (min-width: 360px) {

    .myLibraryPosterItem {
        width: 45%;
    }

    .backdropPosterItem {
        width: 148px;
    }

        .backdropPosterItem .posterItemImage {
            height: 83.25px;
        }

    .smallBackdropPosterItem {
        width: 157px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 88.3125px;
        }

    .miniBackdropPosterItem {
        width: 148px;
    }

        .miniBackdropPosterItem .posterItemImage {
            height: 83.25px;
        }
}

@media all and (min-width: 540px) {

    .backdropPosterItem {
        width: 246px;
    }

        .backdropPosterItem .posterItemImage {
            height: 138.375px;
        }

    .smallBackdropPosterItem {
        width: 180px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 101.25px;
        }
}

@media all and (min-width: 600px) {


    .portraitPosterItem {
        width: 118px;
    }

        .portraitPosterItem .posterItemImage {
            height: 177px;
        }
}

@media all and (min-width: 650px) {

    .smallBackdropPosterItem {
        width: 190px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 113.625px;
        }

    .bannerPosterItem {
        width: 300px;
    }

        .bannerPosterItem .posterItemImage {
            height: 55.5px;
        }
}

@media all and (min-width: 600px) {

    .myLibraryPosterItem {
        width: 30%;
        /* Specify a min width just in case the container doesn't have a width */
        min-width: 160px;
    }
}

@media all and (min-width: 750px) {

    .bannerPosterItem {
        width: 330px;
    }

        .bannerPosterItem .posterItemImage {
            height: 61.05px;
        }
}

@media all and (min-width: 1000px) {

    .myLibraryPosterItem {
        width: 23%;
        /* Specify a min width just in case the container doesn't have a width */
        min-width: 220px;
    }

    .backdropPosterItem {
        width: 290px;
    }

        .backdropPosterItem .posterItemImage {
            height: 163.125px;
        }

    .smallBackdropPosterItem {
        width: 290px;
    }

        .smallBackdropPosterItem .posterItemImage {
            height: 163.125px;
        }

    .miniBackdropPosterItem {
        width: 190px;
    }

        .miniBackdropPosterItem .posterItemImage {
            height: 106.875px;
        }
}

@media all and (min-width: 1200px) {

    .portraitPosterItem {
        width: 122px;
    }

        .portraitPosterItem .posterItemImage {
            height: 183px;
        }

    .storeReviewCount {
        display: inline;
    }

    .bannerPosterItem {
        width: 500px;
    }

        .bannerPosterItem .posterItemImage {
            height: 92.5px;
        }

    .backdropPosterItem {
        width: 320px;
    }

        .backdropPosterItem .posterItemImage {
            height: 180px;
        }

    .portraitPosterItem {
        width: 156px;
    }

        .portraitPosterItem .posterItemImage {
            height: 234px;
        }

    .squarePosterItem {
        width: 190px;
    }

        .squarePosterItem .posterItemImage {
            height: 190px;
        }
}

@media all and (min-width: 1440px) {

    .myLibraryPosterItem {
        width: 19%;
        /* Specify a min width just in case the container doesn't have a width */
        min-width: 220px;
    }
}


@media all and (min-width: 1600px) {

    .myLibraryPosterItem {
        width: 16%;
        /* Specify a min width just in case the container doesn't have a width */
        min-width: 220px;
    }
}
