.searchHints {
    margin-top: 1em;
}

.searchHint {
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #444;
}

    .searchHint:hover {
        background-color: #444;
    }

    .searchHint:focus {
        background-color: #444;
    }

.searchHintImage {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    margin: 4px 0;
}

.searchHintContent {
    vertical-align: top;
    display: inline-block;
    width: 80%;
}

.searchHintName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    font-weight: normal !important;
}

.searchHintSecondaryText {
    color: #fff;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
}

.searchHintContentInner {
    padding: 2px 5px;
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7;
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0;
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.headerSearchInput {
    margin: 0 !important;
    background: #222 !important;
    border: 0 !important;
    color: #eee !important;
    border-radius: 0 !important;
    padding: 7px 0 6px 0 !important;
    text-indent: 10px !important;
    font-family: inherit;
    outline: none;
    vertical-align: middle;
    width: 85% !important;
    display: inline-block !important;
    height: 100%!important;
}

.viewMenuSearch {
    position: fixed;
    top: 0;
    left: 0%;
    right: 0;
    background: #000000;
    z-index: 1000;
}

@media all and (min-width: 600px) {
    .headerSearchInput {
        width: 90% !important;
    }
}

@media all and (min-width: 800px) {
    .headerSearchInput {
        width: 93% !important;
    }
}

@media all and (min-width: 1200px) {
    .headerSearchInput {
        width: 96% !important;
    }
}

.viewMenuSearch:not(.hide) {
    display: inline-block;
}

.viewMenuSearchForm {
    max-width: none;
    padding: 5px;
}

.searchResultsOverlay {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    border: 0 !important;
}

.searchResultsContainer {
    padding: .5em;
}

@media all and (min-width: 800px) {
    .searchResultsContainer {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media all and (min-height: 800px) {
    .searchResultsContainer {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.btnCloseSearch {
    padding-top: 0;
    padding-bottom: 0;
}
