@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(fonts/OpenSans-ExtraBold.woff) format('woff');
}

* {
    text-shadow: none!important;
}

body {
    overflow-y: scroll!important;
    font-size: 13px;
}

.textlink {
    text-decoration: none;
}

    .textlink:hover {
        text-decoration: underline;
    }

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner, .ui-li-desc {
    font-size: 13px;
}

h1 {
    font-weight: 300;
    font-size: 2.22em;
}

.toolsSidebar h1 {
    font-size: 42pt;
}

.ui-loader h1 {
    font-weight: bold;
}

h2 {
    font-weight: 400;
    font-size: 1.68em;
}

h1 a {
    font-weight: 300!important;
    text-decoration: none;
}

.libraryPage h1 a {
    color: #fff!important;
}

h1 a:hover {
    text-decoration: underline;
}

pre, textarea.pre {
    display: block;
    padding: 8.5px;
    font-size: 12.025px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #000;
}

.type-interior h2 {
    color: #1B58B8;
}

.hide {
    display: none;
}

/*
    Page / Base styles
    */
.page:not(.libraryPage) {
    background: #f2f2f2;
    background-attachment: fixed;
}

/*
    Header
    */
.header {
    padding: 10px 0 10px 10px;
}

.imgLogoIcon {
    height: 45px;
}

.imgLogoText {
    height: 45px;
    display: none;
    margin-left: 5px;
}


.ui-popup-container {
    z-index: 99999;
}

.headerButtons {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.header .imageLink {
    display: inline-block;
}

.imageLink + .imageLink {
    margin-left: 30px;
}

.header .imageLink img {
    height: 32px;
    vertical-align: middle;
}

.imageLink.supporterIcon {
    display: none;
}

.btnCurrentUser {
    text-decoration: none;
}

.currentUsername {
    margin-right: 7px;
    font-size: 20px;
    color: #000;
    position: relative;
    top: 4px;
}

h1 .imageLink {
    margin-left: 15px;
}

    h1 .imageLink img {
        height: 32px;
    }

.imageLink:hover {
    opacity: .5;
}

.pageTitle {
    margin-top: 0;
}

.imageButton {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

    .imageButton:hover {
        opacity: .5;
    }

    .imageButton[disabled], .imageButton[disabled]:hover {
        opacity: .3!important;
        cursor: default;
    }

/*
    Forms
    */
form, .readOnlyContent {
    max-width: 600px;
}

.fieldDescription {
    font-size: 12px;
    padding-left: 5px;
    font-weight: normal;
    white-space: normal !important;
}

.warningFieldDescription {
    padding: 5px;
    border: 1px solid #f4c63f;
    background: #fadb4e;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffefaa),to(#ffe155));
    background-image: -webkit-linear-gradient(#ffefaa,#ffe155);
    background-image: -moz-linear-gradient(#ffefaa,#ffe155);
    background-image: -ms-linear-gradient(#ffefaa,#ffe155);
    background-image: -o-linear-gradient(#ffefaa,#ffe155);
    background-image: linear-gradient(#ffefaa,#ffe155);
    border-radius: 5px;
}

.ulForm {
    margin-bottom: 20px!important;
}

    .ulForm li:not(.ui-li-divider) {
        background: none;
        border-top: none;
        border-bottom: none;
    }

.popup .ulForm {
    margin-bottom: 0!important;
}

.content-secondary {
    z-index: 99996;
    background: #262626;
    border: 0;
    margin-top: 40px;
}

    .content-secondary h1 {
        margin: 0;
        padding: 20px 0 20px 30px;
        color: #fff;
    }

.sidebarLinks a {
    display: block;
    padding: 12px 15px 12px 30px;
    text-decoration: none;
    color: #fff!important;
    text-shadow: none!important;
    font-weight: normal!important;
    font-size: 17px;
}

    .sidebarLinks a:hover {
        background: #f2f2f2;
        color: #000!important;
    }

    .sidebarLinks a.selectedSidebarLink {
        background: #2572EB!important;
        color: #fff!important;
    }

.invalidEntry {
    background-color: lightpink!important;
}

/* Tabs (e.g. advanced metadata page) */
.localnav {
    margin-bottom: 40px!important;
}

    .localnav + form {
        margin-top: -10px;
    }

.page > .ui-content {
    padding-bottom: 100px;
}

@media all and (min-width: 650px) {

    .imgLogoIcon {
        height: 50px;
    }

    .imageLink.supporterIcon {
        display: inline-block;
    }

    .header {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .headerButtons {
        top: 20px;
        right: 30px;
    }

    .type-interior > .ui-content, .type-interior > .ui-panel-content-wrap > .ui-content {
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        overflow: hidden;
    }

    .content-secondary {
        text-align: left;
        width: 45%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        margin: 0;
    }

    .content-primary {
        width: 45%;
        float: right;
        padding: 0 6% 3em 0;
        margin: 0;
    }

        .content-primary ul:first-child {
            margin-top: 0;
        }
}

@media all and (min-width: 750px) {

    .imgLogoText {
        height: 50px;
        display: inline;
    }

    .content-secondary {
        width: 34%;
    }

    .content-primary {
        width: 56%;
    }
}

@media all and (min-width: 1200px) {


    .content-secondary {
        width: 30%;
    }

    .content-primary {
        width: 60%;
    }
}

@media all and (min-width: 1440px) {


    .content-secondary {
        width: 25%;
    }

    .content-primary {
        width: 65%;
    }
}

@media all and (min-width: 1920px) {


    .content-secondary {
        width: 20%;
    }

    .content-primary {
        width: 70%;
    }
}

/*
    Media Library Page
    */
.mediaFolderButtons {
    margin-top: 10px;
}

.mediaFolderLocations {
    margin: 1em .25em!important;
}

.mediaLocationsHeader {
    padding-top: .75em!important;
    padding-bottom: .75em!important;
}

    .mediaLocationsHeader .ui-btn {
        position: absolute;
        right: -6px;
        margin-top: 0!important;
        margin-bottom: 0!important;
        top: 6px;
    }

#ulDirectoryPickerList a {
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 14px;
}

.lblDirectoryPickerPath {
    white-space: nowrap;
}

.directoryPickerHeadline {
    border: 1px solid #f7c942;
    color: #222;
    background: #fff9df;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fffadf),to(#fff3a5));
    background-image: -webkit-linear-gradient(#fffadf,#fff3a5);
    background-image: -moz-linear-gradient(#fffadf,#fff3a5);
    background-image: -ms-linear-gradient(#fffadf,#fff3a5);
    background-image: -o-linear-gradient(#fffadf,#fff3a5);
    background-image: linear-gradient(#fffadf,#fff3a5);
    padding: 1em;
    border-radius: 5px;
}

/*
    List Vew Items
    */

.posterViewItem {
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding: 0;
    position: relative;
    padding-bottom: 28px;
}

.posterViewItemWithDualText {
    padding-bottom: 56px;
}

.posterViewItemWithNoText {
    padding-bottom: 0!important;
}

.posterViewItem a {
    color: white!important;
    font-weight: normal!important;
    text-decoration: none;
}

.posterViewItem img {
    max-width: 155px;
    max-height: 110px;
    vertical-align: bottom;
}

.premiumBanner img {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.posterViewItemText {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: none;
    white-space: nowrap;
    margin: 0;
    padding: 4px 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    background: #181818;
    text-shadow: none;
}

.posterViewItemWithDualText .posterViewItemText {
    text-align: left;
    color: #fff;
    padding-top: 5px;
    height: 23px;
}

.posterViewItemPrimaryText {
    bottom: 28px;
}

.posterViewItem:hover, .userItem:hover, .tileItem:hover {
    -moz-box-shadow: 0 0 20px 3px #2572EB;
    -webkit-box-shadow: 0 0 20px 3px #2572EB;
    box-shadow: 0 0 20px 3px #2572EB;
}

@media all and (min-width: 750px) {

    .posterViewItem img {
        max-width: 190px;
        max-height: 130px;
    }
}

@media all and (min-width: 1200px) {

    .posterViewItem {
        font-size: 15px;
    }

        .posterViewItem img {
            max-width: 270px;
            max-height: 160px;
        }
}

@media all and (min-width: 1920px) {

    .posterViewItemText {
        height: 25px!important;
    }

    .posterViewItem {
        font-size: 17px;
        padding-bottom: 29px;
    }

    .posterViewItemWithDualText {
        padding-bottom: 60px;
    }

    .posterViewItemPrimaryText {
        bottom: 30px;
    }

    .posterViewItem img {
        max-width: 310px;
        max-height: 210px;
    }
}

/* Startup wizard */
.wizardPage {
    background: #e2e2e2;
}

.wizardContent {
    max-width: 800px;
    padding: .5em 2em 1em;
    margin: 0 auto;
    background: #f2f2f2;
}

.wizardNavigation {
    text-align: right;
}

.wizardContent form {
    max-width: 100%;
}

.wizardContent p {
    margin: 2em 0;
}

.wizardContent h2 img {
    height: 35px;
    vertical-align: middle;
    margin-right: .5em;
    position: relative;
    top: -3px;
}

/* Dashboard home */
.tblConnections td {
    padding: .5em 0 .5em 1.25em;
}

    .tblConnections td:first-child {
        padding-left: 0;
    }

.tblConnections img {
    height: 60px;
}

.clientNowPlayingImage {
    border: 1px solid #aaa;
    padding: 1px;
}

/* Footer */
#footer {
    background: #3c3c3c;
    position: fixed;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: 99997;
    color: #fff;
    border: 0 !important;
}

.footerNotification {
    text-shadow: none;
    padding: .75em 1em;
    margin: 0;
    font-weight: normal;
    border-top: 1px solid #555;
}

.notificationIcon {
    height: 24px;
    margin-right: 1em;
    vertical-align: middle;
}

/*
 * Gradient Shadow
 */

/* All HTML5 progress enabled browsers */
progress {
    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* gets rid of default border in Firefox and Opera. */
    border: solid #cccccc 2px;
    border-radius: 4px;
    margin: 0;
}

    /* Polyfill */
    progress[role]:after {
        background-image: none; /* removes default background from polyfill */
    }

/*
 * Background of the progress bar background
 */

/* Firefox and Polyfill */
progress {
    background: #cccccc !important; /* !important only needed in polyfill */
}

    /* Chrome */
    progress::-webkit-progress-bar {
        background: #cccccc;
    }

    /*
 * Background of the progress bar value
 */

    /* Firefox */
    progress::-moz-progress-bar {
        border-radius: 5px;
        background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

    /* Chrome */
    progress::-webkit-progress-value {
        border-radius: 5px;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(43,194,83)), color-stop(1, rgb(84,240,84)) );
        background-image: -webkit-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

    /* Polyfill */
    progress[aria-valuenow]:before {
        border-radius: 5px;
        background-image: -moz-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        background-image: -ms-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
        background-image: -o-linear-gradient( center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69% );
    }

/* Detail Page*/

.imgUserItemRating {
    height: 16px;
    width: 16px;
    margin-right: .75em;
    cursor: pointer;
    vertical-align: top;
}

    .imgUserItemRating:hover {
        opacity: .5;
    }

/* Now playing bar */
#nowPlayingBar {
    padding: 6px .5em;
    border-top: 2px solid green;
}

    #nowPlayingBar .highPosition {
        z-index: 99999;
        position: relative;
        opacity: 0.5;
    }

        #nowPlayingBar .highPosition:hover:not(.barBackground ) {
            opacity: 0.9;
        }

    #nowPlayingBar .barBackground {
        border-top: 2px solid green;
        background: #3c3c3c;
        position: absolute;
        margin: -8px -0.5em !important;
        width: 100%;
        height: 100%;
    }

    #nowPlayingBar > *:not(#mediaElement):not(.mediaFlyoutContainer):not(.barBackground ) {
        margin: 0 1em;
        position: relative;
    }

.nowPlayingBarImage {
    border: 1px solid #a7a7a7!important;
    padding: 1px;
    vertical-align: bottom;
}

.mediaButton {
    display: inline-block;
    position: relative;
    top: -4px;
}

#mediaElement {
    display: inline-block;
    position: relative;
}

.nowPlayingMediaInfo div {
    display: inline-block;
}

.nowPlayingMediaInfo a {
    margin-right: .25em;
}


.nowPlayingMediaInfo {
    display: none;
}

.nowPlayingText {
    position: relative;
    top: -3px;
    margin-left: 3px;
}

@media all and (min-width: 650px) {
    .nowPlayingMediaInfo {
        display: inline-block;
    }
}

.mediaButton img {
    height: 24px;
}

.itemVideo {
    position: absolute;
    z-index: 99998;
    height: auto;
    width: 270px;
    bottom: 45px;
    left: -290px;
    border: 1px solid #666;
    background: #000;
}

.fullscreenVideo {
    position: fixed;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 99996;
}

.currentTime {
    display: inline-block;
    position: relative;
    top: -10px;
    width: 110px;
    margin-right: .25em;
}

.mediaSlider {
    position: relative;
    top: -10px;
    width: 50px;
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* IE10 won't see this (good) '*/
    .mediaSlider {
        -webkit-appearance: none;
        -moz-apperance: none;
        background: #777;
        border-radius: 5px;
        vertical-align: bottom;
        height: 3px;
        top: -17px;
    }
}


.mediaSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}

.positionSlider {
    width: 130px;
}

.volumeButton {
    margin-right: .5em!important;
}

::-ms-thumb {
    background-image: linear-gradient(#fefefe,#dddddd);
    width: 15px;
}

::-ms-track {
    padding: 0;
    border: 0;
    color: #777;
}

input[type="range"]::-ms-fill-lower {
    background-color: #777;
}

input[type="range"]::-ms-fill-upper {
    background-color: #777;
}

::-ms-tooltip {
    display: none; /* display and visibility only */
}

.userProfileIcon {
    width: 36px;
}


@media all and (max-width: 600px) {
    .volumeButton, .volumeSlider, .nowPlayingText, .chaptersButton, .audioTracksButton {
        display: none!important;
    }

    #nowPlayingBar > *:not(#mediaElement):not(.mediaFlyoutContainer):not(.barBackground ) {
        margin: 0 .5em;
    }

    .positionSlider {
        width: 50px;
    }

    .itemVideo:not(.fullscreenVideo) {
        left: -250px;
    }
}

@media all and (max-width: 750px) {
    .positionSlider {
        width: 50px;
    }
}

.mediaFlyoutContainer {
    display: inline-block;
}

.mediaPlayerFlyout {
    width: 200px;
    color: #000;
    background-color: #fff;
    border: 1px solid #999;
    position: absolute;
    z-index: 99999;
    bottom: 55px;
    margin-left: -50px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 13px;
}

.chaptersFlyout {
    width: 250px;
}

.audioTracksFlyout {
    width: 250px;
}

.mediaFlyoutOption {
    display: block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

    .mediaFlyoutOption:hover, .mediaFlyoutOption:focus {
        background-color: #eee;
    }

.selectedMediaFlyoutOption {
    background-color: #d9F4FF;
    background-image: url(images/media/selected.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 16px 16px;
}

.mediaFlyoutOptionImage {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}

    .mediaFlyoutOptionImage + .mediaFlyoutOptionContent {
        vertical-align: top;
        display: inline-block;
        width: 85%;
    }

.chaptersFlyout .mediaFlyoutOptionImage {
    width: 40%;
}

    .chaptersFlyout .mediaFlyoutOptionImage + .mediaFlyoutOptionContent {
        width: 60%;
    }

.mediaFlyoutOptionName {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
}

.mediaFlyoutOptionSecondaryText {
    font-size: 12px;
    color: #999;
    margin-top: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5px;
}

@media (min-width: 750px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 320px;
    }
}

@media (min-width: 1200px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 320px;
    }
}

@media (min-width: 1440px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 400px;
    }

    .positionSlider {
        width: 400px;
    }

    .itemVideo {
        left: -560px;
    }
}

@media (min-width: 1700px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 500px;
    }

    .positionSlider {
        width: 500px;
    }

    .itemVideo {
        left: -660px;
    }
}

@media (min-width: 2400px) {
    .itemVideo:not(.fullscreenVideo) {
        width: 550px;
    }

    .positionSlider {
        width: 550px;
    }

    .itemVideo {
        left: -710px;
    }
}

#editItemMetadataPage #txtOverview {
    height: 70px;
}
