body,
html {
    margin: 0;
    padding: 0;
    height: 100%
}

.backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    contain: strict
}

html {
    line-height: 1.35
}

.layout-mobile,
.layout-tv {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body {
    overflow-y: scroll !important;
    overflow-x: hidden;
    background-color: transparent !important;
    -webkit-font-smoothing: antialiased
}

body.autoScrollY {
    overflow-y: auto !important
}

.mainAnimatedPage {
    contain: style size !important
}

.pageContainer {
    overflow-x: visible !important
}

.bodyWithPopupOpen {
    overflow-y: hidden !important
}

div[data-role=page] {
    outline: 0
}

.pageTitle {
    margin-top: 0;
    font-family: inherit
}

.fieldDescription {
    padding-left: .15em;
    font-weight: 400;
    white-space: normal !important
}

.fieldDescription+.fieldDescription {
    margin-top: .3em
}

.content-primary,
.padded-bottom-page,
.page,
.pageWithAbsoluteTabs .pageTabContent {
    padding-bottom: 2em !important
}

.supporterPromotionContainer {
    margin: 0 0 2em
}

@media all and (min-width:80em) {
    .supporterPromotionContainer {
        margin: 0
    }
}

@media all and (min-width:50em) {

    .readOnlyContent,
    form {
        max-width: 54em
    }

    .supporterPromotionContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .supporterPromotion {
        text-align: center;
        padding: 0 2em
    }

    .supporterPromotion button {
        padding-left: 2em;
        padding-right: 2em
    }
}

.imageDropZone {
    border: .2em dashed currentcolor;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    text-align: center;
    position: relative;
    height: 12em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.squareImageDropZone {
    height: 12em;
    width: 12em
}

.headerHelpButton {
    margin-left: 1.25em !important;
    padding-bottom: .4em !important;
    padding-top: .4em !important
}
