<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net45" />
  <package id="morelinq" version="1.0.15631-beta" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.621" targetFramework="net45" />
  <package id="Rx-Core" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.0.21114" targetFramework="net45" />
  <package id="Rx-Linq" version="2.0.21114" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.84.0" targetFramework="net45" />
</packages>