@media all and (min-width: 300px) {

    .libraryViewNav, .libraryViewNav > .contentScrollSlider {
        display: flex;
        flex-grow: 1;
    }

        .libraryViewNav .emby-tab-button {
            flex-grow: 1;
        }
}
