paper-tab, paper-tab a {
    font-weight: bold !important;
}

.libraryViewNav .mdl-tabs__tab {
    font-weight: bold !important;
}

@media all and (min-width: 300px) {

    .libraryViewNav .mdl-tabs__tab-bar {
        display: flex;
    }

    .libraryViewNav .mdl-tabs__tab {
        flex-grow: 1;
    }
}
