.libraryMenuButtonText {
    font-weight: 500 !important;
}

@media all and (min-width: 300px) {

    .libraryViewNav, .emby-tabs-slider {
        display: flex;
        flex-grow: 1;
    }

    .emby-tab-button {
        flex-grow: 1;
    }
}
