html {
    font-size: 15px;
}

body:not(.dashboardDocument) .mainDrawerButton {
    display: none !important;
}

.ui-body-b select {
    -webkit-appearance: none;
}

.pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 88px !important;
}

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 85px !important;
}

.backdropContainer {
    /* This isn't implemented right and ends up looking terrible */
    background-attachment: initial;
}

.background-theme-b .backgroundContainer:not(.withBackdrop), .dialog.background-theme-b {
    background: #181818;
}

.viewMenuBar {
    /* It needs this in order to retain height since we're positioning the contents absolutely */
    height: 50px;
}

.libraryDocument .viewMenuBar, .libraryViewNav {
    background-color: #000 !important;
    box-shadow: none !important;
}

.viewMenuBar.semiTransparent {
    background-color: #000;
}

.libraryViewNav .pageTabButton {
    font-weight: 400;
    text-transform: none;
}

.pageTabButton.is-active .pageTabButtonSelectionBar {
    display: none !important;
}

.libraryViewNav .pageTabButton.is-active {
    color: #52B54B !important;
}

.ui-body-b .paperList:not(.criticReviewPaperList) {
    background-color: transparent;
    box-shadow: none;
}

.criticReviewPaperList {
    background-color: #262626;
}

.settingsMenuHeader {
    display: none;
}

@media all and (max-width: 600px) {

    .libraryViewNav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.btnActiveCast {
    color: #52B54B !important;
}

.libraryViewNav {
    font-size: 12px;
}

h1, h1 a {
    font-weight: 400 !important;
}

.btnNotificationsInner {
    font-weight: 400;
}

.libraryMenuButtonText {
    font-weight: 500 !important;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 12px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto !important;
    padding: 0 !important;
    justify-content: center;
}

.noSecondaryNavPage .itemBackdrop {
    margin-top: 0;
}

.cardImageContainer {
    border-radius: 10px;
}

.sidebarLinkText {
    font-weight: 400 !important;
}

.nowPlayingPageBackButton {
    display: none !important;
}

.nowPlayingPage .libraryViewNav {
    top: 0 !important;
}

.nowPlayingPage {
    padding-top: 50px !important;
}

.localSyncStatus .labelSyncStatus {
    display: none !important;
}

.videoSubtitles {
    font-size: 200% !important;
}

.alphabetPicker {
    right: 5px !important;
}

.searchBackButton {
    display: none !important;
}

.txtSearch {
    padding-bottom: .5em !important;
    text-indent: 0 !important;
}

.searchInputContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.categorySyncButton {
    display: none !important;
}
