html {
    font-size: 15px;
}

body:not(.dashboardDocument) .mainDrawerButton {
    display: none !important;
}

.ui-body-b select {
    -webkit-appearance: none;
}

.pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 88px !important;
}

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 85px !important;
}

.backdropContainer {
    /* This isn't implemented right and ends up looking terrible */
    background-attachment: initial;
}

.background-theme-b, .dialog.background-theme-b {
    background: #181818;
}

.backdropContainer .pageBackground {
    background-color: rgba(28,28,28,.92) !important;
}

.homeTopViews .defaultBackground .cardImage {
    background-color: #303030;
}

.viewMenuBar {
    /* It needs this in order to retain height since we're positioning the contents absolutely */
    height: 50px;
}

.viewMenuBar, .libraryViewNav, paper-tabs {
    background-color: #000;
}

    .viewMenuBar.semiTransparent {
        background-color: #000;
    }

.libraryViewNav {
    box-shadow: none;
}

    .libraryViewNav .pageTabButton {
        font-weight: 400;
        text-transform: none;
    }

.pageTabButton.is-active .pageTabButtonSelectionBar {
    display: none !important;
}

.libraryViewNav .pageTabButton.is-active {
    color: #52B54B !important;
}

.ui-body-b .paperList:not(.criticReviewPaperList) {
    background-color: transparent;
    box-shadow: none;
}

.criticReviewPaperList {
    background-color: #262626;
}

.settingsMenuHeader {
    display: none;
}

@media all and (max-width: 600px) {

    .libraryViewNav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.btnActiveCast {
    color: #52B54B !important;
}

.libraryViewNav {
    font-size: 12px;
}

h1, h1 a {
    font-weight: 400 !important;
}

.btnNotificationsInner {
    font-weight: 400;
}

.libraryMenuButtonText {
    font-weight: 500 !important;
    position: absolute;
    left: 100px;
    right: 100px;
    top: 12px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto !important;
    padding: 0 !important;
    justify-content: center;
}

.noSecondaryNavPage .itemBackdrop {
    margin-top: 0;
}

.visualCardBox {
    background: none !important;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .visualCardBox .outerCardFooter {
        padding: 0;
    }

.cardImage {
    border-radius: 10px;
}

.bottomFab {
    bottom: 120px !important;
}

.sidebarLinkText {
    font-weight: 400 !important;
}

#footer {
    /* Eliminate transparency to prevent clicks from passing through to the elements underneath */
    background-color: rgb(26,26,26);
}

.nowPlayingPageBackButton {
    display: none !important;
}

.nowPlayingPage .libraryViewNav {
    top: 0 !important;
}

.nowPlayingPage {
    padding-top: 50px !important;
}

.localSyncStatus .labelSyncStatus {
    display: none !important;
}

.videoSubtitles {
    font-size: 200% !important;
}

.alphabetPicker {
    right: 5px !important;
}

.alphaPickerButton.selected {
    background-color: transparent !important;
    color: #52B54B !important;
}
