html {
    font-size: 15px;
}

body:not(.dashboardDocument) .mainDrawerButton {
    display: none !important;
}

.ui-body-b select {
    -webkit-appearance: none;
}

.pageWithAbsoluteTabs:not(.noSecondaryNavPage) {
    padding-top: 88px !important;
}

.libraryPage:not(.noSecondaryNavPage) {
    padding-top: 85px !important;
}

.backdropContainer {
    /* This isn't implemented right and ends up looking terrible */
    background-attachment: initial;
}

.viewMenuBar {
    /* It needs this in order to retain height since we're positioning the contents absolutely */
    height: 50px;
}

.emby-tab-button {
    font-weight: 400;
    text-transform: none !important;
    border-color: transparent !important;
    border-width: 0 !important;
}

.criticReviewPaperList {
    background-color: #262626;
}

.settingsMenuHeader {
    display: none;
}

h1, h1 a {
    font-weight: 400 !important;
}

.libraryMenuButtonText {
    font-weight: 500 !important;
}

.btnNotificationsInner {
    font-weight: 400;
}

.noSecondaryNavPage .itemBackdrop {
    margin-top: 0;
}

.cardImageContainer {
    border-radius: 10px;
}

.sidebarLinkText {
    font-weight: 400 !important;
}

.videoSubtitles {
    font-size: 200% !important;
}

.alphabetPicker {
    right: 5px !important;
}

.txtSearch {
    padding-bottom: .5em !important;
    text-indent: 0 !important;
}

.searchInputContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.categorySyncButton, .btnSync {
    display: none !important;
}
